@keyframes clickMe{
    0% {transform: translate(0,0);}
    25% {transform: translate(0,5px);}
    50% {transform: translate(0,-2px);}
    75% {transform: translate(0,5px);}
    100% {transform: translate(0,0);}
}

@keyframes resizeCall{
    0%{ width: 50%; animation-timing-function: cubic-bezier(.73,-0.46,.17,1.41
    ×)}
    33%{ width: 52.5%;}
    66%{ width: 47.5%;}
    100%{ width: 50%; animation-timing-function: cubic-bezier(.73,-0.46,.17,1.41)}
}

@keyframes arrow4D {
    35% {
        opacity: 0;
        transform: translateX(60%);
        animation-timing-function: cubic-bezier(.44,.17,.64,.72)
    }

    50% {
        opacity: 0;
        transform: translateX(-50%);
    }

    75% {
        opacity: 1;
        transform: translateX(0);
        animation-timing-function: cubic-bezier(.73,-0.46,.17,1.41)
    }
}

.flight-ready{
    @media(max-width: $screen-sm-max){
        opacity:1!important;
        transform: translateX(0) translateY(0)!important;
    }
    &.fly-in{
        opacity: 1;
        transform: translateY(0) translateX(0);
        transition: opacity 1.2s ease, transform 0.8s ease;
    }
}

.fly-in-bottom {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1.2s ease, transform 0.8s ease;
}

.fly-in-right {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1.2s ease, transform 0.8s ease;
}

.fly-in-left{
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1.2s ease, transform 0.8s ease;

    &.fly-in-1{
        transition: opacity 1.2s ease 0.4s, transform 0.8s ease 0.4s;
    }

    &.fly-in-0{
        transition: opacity 1.2s ease 0.8s, transform 0.8s ease 0.8s;
    }
}

@keyframes blink{
    0%{ fill: rgba(138, 139, 138, 1); }
    25%{ fill: rgba(138, 139, 138, 0.5); }
    50%{ fill: rgba(138, 139, 138, 1); }
    75%{ fill: rgba(138, 139, 138, 0.5); }
    100%{ fill: rgba(138, 139, 138, 1); }
}

@keyframes wiggle-1 {
    0% { cx: 12; cy: 12; }
    50% { cx: random(50); cy: random(50); }
    40% { cx: random(50); cy: random(50); }
    60% { cx: random(50); cy: random(50); }
    80% {  cx: random(50); cy: random(50); }
    100% { cx: 12; cy: 12; }
}

@keyframes wiggle-2 {
    0% { cx: 12; cy: 12; }
    50% { cx: random(50); cy: random(50); }
    40% { cx: random(50); cy: random(50); }
    60% { cx: random(50); cy: random(50); }
    80% {  cx: random(50); cy: random(50); }
    100% { cx: 12; cy: 12; }
}

@keyframes wiggle-3 {
    0% { cx: 12; cy: 12; }
    50% { cx: random(50); cy: random(50); }
    40% { cx: random(50); cy: random(50); }
    60% { cx: random(50); cy: random(50); }
    80% {  cx: random(50); cy: random(50); }
    100% { cx: 12; cy: 12; }
}

@keyframes wiggle-4 {
    0% { cx: 12; cy: 12; }
    50% { cx: random(50); cy: random(50); }
    40% { cx: random(50); cy: random(50); }
    60% { cx: random(50); cy: random(50); }
    80% {  cx: random(50); cy: random(50); }
    100% { cx: 12; cy: 12; }
}

@keyframes wiggle-5 {
    0% { cx: 12; cy: 12; }
    50% { cx: random(50); cy: random(50); }
    40% { cx: random(50); cy: random(50); }
    60% { cx: random(50); cy: random(50); }
    80% {  cx: random(50); cy: random(50); }
    100% { cx: 12; cy: 12; }
}

@keyframes wiggle-6 {
    0% { cx: 12; cy: 12; }
    50% { cx: random(50); cy: random(50); }
    40% { cx: random(50); cy: random(50); }
    60% { cx: random(50); cy: random(50); }
    80% {  cx: random(50); cy: random(50); }
    100% { cx: 12; cy: 12; }
}

@keyframes introInnerEuxilia {
    0% { transform: scale(1); }
    40% { transform: scale(1.08); animation-timing-function: linear; }
    100% { transform: scale(1); }
}

#inner-full,
#empty-middle,
#empty-outer {
    animation-name: introInnerEuxilia;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

#empty-middle {
 animation-delay: .1s;
}

#empty-outer {
    animation-delay: .2s;
}


@keyframes tap {
    0% { transform: scale(0); opacity: 1; animation-timing-function: linear; }
    10% { transform: scale(.8); opacity: 1; animation-timing-function: linear; }
    40% { transform: scale(1.2); opacity: 0; animation-timing-function: $cubic; }
    100% { transform: scale(1); opacity: 0; animation-timing-function: linear;}
}

@keyframes tapEcho {
    0% { transform: scale(1); animation-timing-function: linear; }
    10% { transform: scale(.9); animation-timing-function: $cubic; }
    35% { transform: scale(1.2); animation-timing-function: $cubic;}
    100% { transform: scale(1); animation-timing-function: $cubic;}
}

@keyframes scrollLeft {
    0% { transform: translateX(25%) scale( 1.5, .8); animation-timing-function: $cubicIn; }
    50% { transform: translateX(-25%) scale( 1.5, .8); animation-timing-function: linear; }
    100% { transform: translateX(25%) scale( 1.5, .8); animation-timing-function: $cubic;}
}
