.auxiell{
    .btn-std,
    .et_pb_button,
    .et_pb_more_button,
    .et_pb_play_video_button {
        position: relative;
        margin-top: 5rem;
        padding: 0.8rem 2rem;
        border-radius: 0;
        border-color: $brand;
        font-family: $muli;
        font-weight: 800;
        color: $brand;
        font-size: 1.4rem;
        text-shadow: none;
        text-transform: uppercase;
        line-height: 1.6!important;
        background-color: transparent;
        overflow: hidden;
        text-align: center;
        transition: transform .2s ease, color .25s linear .25s, background-color .3s, box-shadow 0.3s ease, opacity .3s ease;

        &:after,
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: 0;
            width: 250px;
            height: 250px;
            background-color: $brand;
            border-radius: 50%;
            opacity: 0;
            transform: translateY(-50%) translateX(-50%) scale(0);
            transition: transform .45s $cubic .25s, opacity .1s linear .25s;
            z-index: -1;
        }

        &:after {
            background-color: lighten($brand, 15%);
            transition: transform .45s $cubic .25s, opacity .25s linear;
        }

        &:hover,
        &:focus,
        &:active {
            color: #fff;
            border-color: $brand;
            background-color: transparent;
            padding: 0.8rem 2rem!important;
            text-decoration: none;
            transition: transform 0.2s ease, color 0.3s linear, background-color 0.3s, box-shadow 0.3s ease, opacity .3s ease;

            &:before {
                opacity: 1;
                transform: translateY(-50%) translateX(-50%) scale(1.2);
                transition: transform .45s $cubic, opacity .2s;
            }

            &:after {
                opacity: 1;
                transform: translateY(-50%) translateX(-50%) scale(.5);
                transition: transform .45s $cubic, opacity .2s;
            }
        }

        &.et_pb_bg_layout_light {
            color: $brand;

            &:hover, &:focus, &:active {
                color: #fff;
            }
        }

        &.btn-white{
            background-color: #fff;
            color: $brand;

            &:before{
                color: $brand;
            }
        }

        &.btn-outline {
            background-color: transparent;
            color: $brand;
            font-family: $muli;
            border: 2px solid $brand;
            text-transform: uppercase;
            overflow: hidden;

            &:before{
                content:"";
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background-color:transparent;
                transform:translateY(100%);
                transition: transform 0.4s ease, background-color 0.4s;
                z-index:-1;
            }

            &:hover,
            &:focus,
            &:active {
                @include rempx(padding, 0.8rem 2rem);
                font-family: $muli;
                @include rempx(font-size, 1.2rem);
                font-weight: 700;
                color: #000;
                text-shadow: none;
                line-height: 1;
                letter-spacing: 3px;
                text-decoration: none;

                @media(min-width:$big-screens){
                    @include rempx(font-size, 1.4rem);
                }

                &:before{
                    background-color: #fff;
                    transform:translateY(0);
                }
            }
        }
        
        &.btn-blurb,
        &.btn-opacity {
            position: relative;
            display: block;
            @include rempx(max-width, 30rem);
            @include rempx(margin-top, 3rem);
            margin-left: auto;
            margin-right: auto;
            font-family: $quicksand;
            @include rempx(font-size, 1.3rem);
            text-align: center;
            &:hover, &:focus, &:active {
                @include rempx(padding, 0.8rem 2rem);
                font-family: $quicksand;
                @include rempx(font-size, 1.3rem);
                font-weight: 700;
                color: #000;
                text-shadow: none;
                letter-spacing: 3px;
                background-color: #000;
                text-decoration: none;
                &:after {
                    display: none;
                }
            }
        }

        &.btn-opacity {
            color:#fff;
            background-color: rgba($brand, 0.5);

            &:hover,
            &:focus,
            &:active {
                color:#fff;
                background-color: rgba($brand, 0.5);
            }
        }
        span {
            @include rempx(font-size, 2rem);
            @include rempx(margin-right, 2rem);
            vertical-align: middle;
        }

        &.btn-play{
            position:relative;
            transition:color 0.35s!important;
            overflow: hidden;
            &:before{
                content:"\f215";
                @include ionicon();
                position:relative;
                margin-left: 0;
                margin-right: 10px;
                @include rempx(font-size, 2rem);
                opacity:1;
                vertical-align: middle;
                transition:color 0.35s;
            }

            &:hover{
                color:#fff;
                background-color: #000;
                &:before{
                    color:#fff;
                }
                &:after{
                    display:none;
                }
            }
        }
        &.btn-blur{
            color:#fff;
            backdrop-filter: blur(10px);
            background-color: rgba(#fff, 0.1);
            &:before{
                color:#fff;
            }
        }
    }

    .btn-discover{
        position:relative;
        overflow: hidden;
        color:transparent;
        display:block;
        @include rempx(max-width, 25rem);
        @include rempx(margin-top, 4.5rem);
        text-align: center;

        &:after{
            content:"MORE";
            border:1px solid $brand;
            display:block;
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            text-align: center;
            color:$brand;
            background-color: #fff;
            @include rempx(padding, .8rem 2rem);
            transform: translate3d(0,100%,0);
            transition: transform 0.25s;
        }

        &:before{
            content:"DISCOVER";
            display:block;
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            @include rempx(padding, .8rem 2rem);
            color:#fff;
            transform: translate3d(0,0,0);
            transition: transform 0.25s;
        }

        &:hover{
            &:after{
                transform: translate3d(0,0,0);
            }
            &:before{
                transform: translate3d(0,-100%,0);
            }
        }
    }
}

.btn-close{
    display:inline-block;
    position:absolute;
    @include rempx(padding, 1.5rem);
    @include rempx(top, 1.5rem);
    @include rempx(right, 3.5rem);
    @include rempx(font-size, 5rem);
    color:rgba(#000, 0.4);
    line-height: 1;
    cursor:pointer;
    transform: scale(1);
    transition: transform 0.3s ease, color 0.3s;
    &:hover{
        transform: scale(1.05);
        color:rgba(#000, 0.6);
    }
}

.btn-invisible{
    @include rempx(padding, 0.8rem 2rem);
    border: none;
    border-radius: 0;
    font-weight: 700;
    color: #000;
    @include rempx(font-size, 1.2rem);
    text-shadow: none;
    text-transform: uppercase;
    line-height: 1.7!important;
    letter-spacing: 3px;
    background-color: transparent;
    transition: transform 0.2s ease, color 0.3s, background-color 0.3s, box-shadow 0.3s ease;

    @media(min-width:$big-screens){
        @include rempx(font-size, 1.4rem);
    }

    &:before{
        color:#000;
    }

    &:hover, &:focus, &:active {
        @include rempx(padding, 0.8rem 2rem);
        border: none;
        text-decoration: none;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.03), 0 6px 6px rgba(0, 0, 0, 0.03);
        &:after {
            display: none;
        }
    }
}

.et_pb_play_video_button {
    opacity:0!important;

    &.btn-is-visible{
        opacity:1!important;
    }
}


.et_pb_slider .et_pb_slide_custom_0.et_pb_slide .et_pb_button:hover {
    @include rempx(padding, 0.8rem 2rem!important);
}