#auxiell{
    .cc-window {
        @include rempx(font-size, 1.6rem);
    }

    .cc-floating .cc-message {
        font-family: $quicksand;
    }

    .cc-link {
        font-weight: 800;
        text-decoration: none;
    }

    .cc-btn {
        @include rempx(font-size, 1.2rem);
        font-family: $quicksand;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 800;
        background-color: $brand;

        &:hover{
            text-decoration: none;
        }
    }
}
