.is-desktop{
    .timeline-module{

        .flight-ready{

            &.moment-right{
                .line{
                    transform: scale(0);
                    transition: transform 0.5s ease 0.3s;
                }
            }

            &.moment-left{
                .line{
                    transform: scale(0);
                    transition: transform 0.5s ease 0.3s;
                }
            }

            .moment-meta {
                opacity:0;
                transform:translate3d(0,50px,0);
                transition:transform 0.6s ease 0.6s, opacity 0.4s ease 0.6s;
            }

            h4{
                opacity:0;
                transform:translate3d(0,50px,0);
                transition:transform 0.6s ease 0.7s, opacity 0.4s ease 0.7s;
            }

            img {
                opacity:0;
                transform:translate3d(0,50px,0);
                transition:transform 0.6s ease 0.8s, opacity 0.4s ease 0.8s;
            }

            button{
                opacity:0;
                transform:translate3d(0,30px,0);
                transition:transform 0.6s ease 0.9s, opacity 0.4s ease 0.9s;
            }

            .pin{
                transform: scale(0);
                transition: transform 0.4s cubic-bezier(.48, .32, .09, 1.27);
            }

            .moment-icon{
                opacity:0;
                transform: scale(0.8);
                transition: transform 0.4s ease 0.6s, opacity 0.4s ease 0.6s;
            }

            &.long-moment{
                .line{
                    transform: scale(0);
                    transition: transform 0.5s ease 0.6s;
                }

                .extra-line{
                    transform: scale(0);
                    transition: transform 0.5s ease 0.3s;
                }
            }
        }

        .fly-in{

            .pin{
                transform:scale(1);
            }

            &.moment-right{

                .line{
                    transform: scale(0.55);
                }
            }

            &.moment-left{

                .line{
                    transform: scale(0.6);
                }
            }

            .moment-meta, img, button, h4{
                opacity:1;
                transform:translate3d(0,0,0);
            }

            .moment-icon{
                opacity:1;
                transform: scale(1);
            }

            &.long-moment{
                .extra-line{
                    transform: scale(1);
                }
            }
        }
    }

    $animSpeed : .4s;

    .flight-ready {
        &.example {
            .phone {
                opacity: 0;
                transform: translate(0, 50px);
                transition: transform $animSpeed ease-out, opacity $animSpeed linear;
            }

            .example-icon {
                opacity: 0;
                transform: translate(0, 50px);
                transition: transform $animSpeed ease-out .2s, opacity $animSpeed linear .2s;
            }

            .example-name {
                opacity: 0;
                transform: translate(0, 50px);
                transition: transform $animSpeed ease-out .4s, opacity $animSpeed linear .4s;
            }

            .store {
                opacity: 0;
                transition: opacity $animSpeed linear .6s;
            }

            .preview {
                opacity: 0;
                transform: translate(0, 50px);
                transition: transform $animSpeed ease-out .8s, opacity $animSpeed linear .8s;
            }

            .et_pb_button {
                opacity: 0;
                transform: translate(0, 50px);
                transition: transform $animSpeed ease-out .8s, opacity $animSpeed linear .8s;
            }
        }

        &#example-intro-right {
            .et_pb_text_inner {
                opacity: 0;
                transform: translate(50px, 0);
                transition: transform $animSpeed ease-out, opacity $animSpeed linear;
            }

            .et_pb_button {
                opacity: 0;
                transform: translate(50px, 0);
                transition: transform $animSpeed ease-out .2s, opacity $animSpeed linear .2s;
            }
        }

        &.gallery-section {
            .gallery-number, .img-wrapper {
                opacity: 0;
                transform: translate(0, 100px);
            }
        }

        &.fly-in{
            &.example {
                .phone, .example-name, .example-icon, .et_pb_button, .preview {
                    opacity: 1;
                    transform: translate(0, 0);
                }

                .store {
                    opacity: 1;
                }
            }

            &#example-intro-right {
                .et_pb_text_inner, .et_pb_button {
                    opacity: 1;
                    transform: translate(0, 0);
                }
            }

            &.gallery-section {
                .gallery-el {
                    .gallery-number, .img-wrapper {
                        opacity: 1;
                        transform: translate(0, 0);
                    }
                    &:nth-child(1){
                        .el-number {
                            transition: transform $animSpeed ease-out, opacity $animSpeed linear;
                        }

                        .img-wrapper {
                            transition: transform $animSpeed ease-out .2s, opacity $animSpeed linear .2s;
                        }
                    }

                    &:nth-child(2){
                        .el-number {
                            transition: transform $animSpeed ease-out .2s, opacity $animSpeed linear .2s;
                        }

                        .img-wrapper {
                            transition: transform $animSpeed ease-out .4s, opacity $animSpeed linear .4s;
                        }
                    }

                    &:nth-child(3){
                        .el-number {
                            transition: transform $animSpeed ease-out .4s, opacity $animSpeed linear .4s;
                        }

                        .img-wrapper {
                            transition: transform $animSpeed ease-out .6s, opacity $animSpeed linear .6s;
                        }
                    }
                }
            }
        }
    }

    .euxilia-empty-scheme,
    .euxilia-half-scheme,
    .euxilia-full-scheme {
        &.flight-ready {
            opacity: 0;
            transform: scale(.9);
            transition: transform 0s, opacity 0s;
        }

        &.fly-in {
            opacity: 1;
            transform: scale(1);
            transition: transform 8s ease, opacity 2s;
        }
    }

    .schemes-section {
        .et_pb_code,
        .et_pb_text {
            &.flight-ready {
                opacity: 0;
                transform: translateY(80px);
                transition: transform .6s ease, opacity .5s;
            }
        }
        .et_pb_column {
            &:nth-child(1) {
                .fly-in {
                    opacity: 1;
                    transform: translateY(0);
                    transition-delay: 0s;
                }
            }

            &:nth-child(2) {
                .fly-in {
                    opacity: 1;
                    transform: translateY(0);
                    transition-delay: .2s;
                }
            }

            &:nth-child(3) {
                .fly-in {
                    opacity: 1;
                    transform: translateY(0);
                    transition-delay: .4s;
                }
            }
        }
    }
}





/*
#hexagons {
    #center-big, #center-small {
        transform: scale(0);
    }
}
*/
