#tooltips-content{
    display:none;
}

#form-contatti-auxiell{
    text-align: center;
}

div.wpcf7 {
    display:inline-block;
    @include rempx(margin, 0 5rem);
    @include rempx(padding, 1.5rem);
    @include rempx(max-width, 55rem);
    @include rempx(font-size, 1.8rem);
    background-color: #fff;
    text-align: left;
    opacity: 0.8;

    @media (min-width: $screen-sm-min) {
        @include rempx(padding, 3rem);
        width: 95%;
    }

    .ajax-loader{
        position:absolute;
        width:100%;
        height:100%;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../vectors/puff.svg);
        &.is-active{
            background-color: rgba(#fff , 0.5);
        }
    }

    .select-wrapper{
        @include rempx(margin-bottom, 3rem);
    }

    .intro{
        @include rempx(padding, 0 3rem 3rem 3rem);
        color:rgba(#000, 0.6);
        letter-spacing: 1px;
        text-align: center;
        line-height: 1.6;
        @media(max-width: $screen-xs-max){
            padding:0;
            @include rempx(padding-bottom, 3rem);
        }
    }

    .form-fields-wrapper{
        .row-wrap{
            position:relative;
            width:100%;
            @include rempx(margin-bottom, 3rem);
            overflow: hidden;

            &:last-of-type{
                @include rempx(margin-bottom, 4rem);
            }

            @media(max-width: $screen-xxs-max){
                .name, .firm, .wpcf7-form-control-wrap{
                    display:block;
                    width:100%;
                }
            }

            .cv-label{
                @include rempx(margin-top, 1.5rem);
            }

            .cv{
                float:right;
                @include rempx(padding, 1.5rem);
                background-color: $whitish;
            }

            .contact{
                width:100%;
                margin-bottom: 15px;
            }
        }

        .privacy-label {
            position: relative;
            width: auto;
            margin-bottom: 0;

            &.with-checkbox {
                padding-left: 20px;
            }

            .wpcf7-form-control-wrap {
                position: absolute;
                top: 0;
                left: 0;
                width: auto;
                margin: 5px 0;

                input {
                    margin-top: 0;
                }

                .wpcf7-list-item {
                    margin: 0;
                }
            }

            .wpcf7-list-item-label {
                display: none;
            }
        }

        label{
            display:block;
            float:left;
            font-weight: 500;
            margin:0;
            color:rgba(#000, 0.6);
            letter-spacing: 1px;
            @include rempx(font-size, 1.6rem);
            padding: 5px 0;

            &.firm,
            &.name {
                width:30%;
            }

            &.privacy-label {
                width: auto;
                @include rempx(font-size, 1.4rem);
                margin-bottom: 0;

                a{
                    position: relative;
                    color:rgba(#000, 0.7) ;
                    font-weight: 700;
                    transition:color 0.2s;
                    z-index: 1;

                    &:hover{
                        color:rgba(#000, 1);
                        text-decoration: none;
                    }
                }
            }
        }

        .wpcf7-form-control-wrap {
            float:left;
            width:70%;

            input {
                width: 100%;
                border: none;
                border-bottom: 1px solid rgba(#000, 0.15);
                @include rempx(font-size, 1.5rem);
                color:rgba(#000, 0.5);
                padding: 6px 0;
            }

            &.checkbox-privacy,
            .privacy-label {
                position:absolute;
                top:0;
                left:0;
                width:20px;

                .wpcf7-checkbox {
                    width:20px;
                    display:block;
                }

                .wpcf7-list-item-label {
                    display:none;
                }

                .wpcf7-list-item {
                    margin:0;
                    width:20px;
                    display:block;
                }
            }

            .wpcf7-acceptance {
                .wpcf7-list-item-label {
                    font-size: 1.3rem;
                }
            }
        }

        .user-message {
            width: 100%;
        }
    }

    p{
        position:relative;
    }

    .ajax-loader{
        position:absolute;
        top:0;
        left:0;
    }

    #form-submit{
        display: block;
        width:100%;
        margin:0 auto;
        @include rempx(max-width, 30rem);
        font-family: $quicksand;
        @include rempx(font-size, 1.3rem);
        text-transform: uppercase;
        transition: color 0.35s, background-color 0.35s;

        &:hover{
            background-color: $brand;
            color: #fff;
        }
    }

    .tooltip-icon{
        position:relative;
        margin-right:10px;
        opacity:0;
        visibility:hidden;
        transition: opacity 0.5s, visibility 0.5s;
        &:before{
            content:"\f149";
            @include ionicon();
            color:rgba(#000, 0.2);
        }
        &:hover, &:focus, &:active{
            cursor: pointer;
        }
        span{
            &.active, &.active-on-click{
                opacity:1;
                visibility:visible;
                transform: translate(-97%, -95%);

                @media(max-width: $screen-xs-max){
                    transform: translate(-55px, -120%);
                }
            }

            position:absolute;
            top:0;
            left:0;
            width:300px;
            @include rempx(padding, 1.5rem 2rem);
            @include rempx(font-size, 1.2rem);
            color:#fff;
            letter-spacing: 1.5px;
            background-color: #000;
            box-shadow: 0 6px 6px rgba(0,0,0,0.03), 0 6px 6px rgba(0,0,0,0.03);
            opacity:0;
            visibility:hidden;
            transform: translate(-90%, -95%);

            @media(max-width: $screen-xs-max){
                transform: translate(-55px, -100%);
            }
            z-index:10;
            transition: opacity 0.5s, visibility 0.5s, transform 0.8s ease;
            p{
                line-height: 1;
                color:#fff;
            }
        }
    }

    .select-wrapper{
        text-align: center;
        &.tooltips-enabled{
            .tooltip-icon{
                opacity:1;
                visibility:visible;
            }
        }
        .wpcf7-not-valid-tip{
            display: none;
        }
    }

    .project-select{
        position:relative;
    }

    select{
        padding-right:20px;
        border:none;
        font-family: $muli;
        @include rempx(font-size, 1.6rem);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        appearance:none;
        background-position: right;
        background-size: 15px;
        background-repeat: no-repeat;
        background-image: url('../vectors/arrow-down-b.svg');
        &.wpcf7-not-valid{
            color:#b10000;
        }
    }

    .current-tooltip{
        p{
            position:relative;
        }
    }

    .checkbox-privacy{
        input{
            margin-top: 8px;
        }

        .wpcf7-not-valid{
            color:#b10000;
            a{
                color:#b10000;
            }
        }
    }

    .wpcf7-response-output{
        @include rempx(padding, 1.5rem);
        @include rempx(font-size, 1.4rem);
        font-weight: 600;
        color: rgba(0, 0, 0, 0.25);
        font-family: $quicksand;
        border:none;
        text-align: center;
    }

    .wpcf7-validation-errors{
        background-color: #fde974;
    }

    .wpcf7-not-valid{
        color:#d9534f!important;
        border-color:#d9534f!important;
        .wpcf7-list-item{
            border-bottom:1px solid #d9534f;
        }
    }

    .wpcf7-not-valid::-webkit-input-placeholder{
        color: #fff!important;
        border-color:#d9534f!important;
    }

    .wpcf7-not-valid:-moz-placeholder{
        color: #fff!important;
        border-color:#d9534f!important;
    }

    .wpcf7-not-valid::-moz-placeholder{
        color: #fff!important;
        border-color:#d9534f!important;
    }

    .wpcf7-not-valid:-ms-input-placeholder{
        color: #fff!important;
        border-color:#d9534f!important;
    }

    .wpcf7-not-valid-tip{
        display:none;
        @include rempx(width, 3rem);
        @include rempx(heigth, 3rem);
        position:absolute;
        top:0;
        right:0;
        @include rempx(padding, 1rem);
        @include rempx(font-size, 1.4rem);
        font-weight: 600;
        color:transparent;
        font-family: $quicksand;
        color: #fff;
        background-color: transparent;
        &:before{
            @extend .ionicons;
            content:"\f101";
            color:#d9534f;
        }
    }

    .wpcf7-mail-sent-ok{
        background-color: #aadc8d;
    }

    .wpcf7-recaptcha {
        & > div {
            margin: 15px auto;

            & > div {
                margin: 15px auto;
            }
        }
    }
}

#form-contatti-auxiell {
    .wpcf7 {
        @media (max-width: $screen-xs-max) {
            @include rempx(margin, 0 3rem);
        }
    }
}

.contatti,
.auto-lga,
.job-modal{
    div.wpcf7 .form-fields-wrapper{
        .user-contact,
        .user-cv{
            width:100%;
        }
    }
}

textarea {
    width: 100%;
    resize: none;
    border: 0;
    border-bottom: 1px solid rgba(#000, 0.15);
}


input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill{
    background-color: transparent!important;
}

#job-modal {
    .form-fields-wrapper .wpcf7-form-control-wrap {
     width: 100%;
    }
}


input[type=checkbox] {
    min-width: 20px;
}
