::selection {
    background: $brand;
    color: #fff;
}

::-moz-selection {
    background: $brand;
    color: #fff;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

select:-moz-focusring, option:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;

    &:active, &:focus {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
}

html, body {
    position: relative;
    height: 100%;
    min-height: 100%;
    font-family: $quicksand;
    font-size: 10px;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin:0;
}

html {
    font-size: 10px;

    @media (min-width: $screen-jumbo){
        font-size: 12px;
    }
}

body{
    @include rempx(font-size, 1.2rem);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: $muli;
    font-weight: 800;
    text-transform: none;
}

th {
    background-color: rgba(#000, .1);
}

td {
    border-right: 1px solid #eee;
}

#skrollr-body{
    overflow-x: hidden;
}

.lSSlideOuter .lSPager.lSpg>li{

    a{
        background-color: rgba(#000, 0.1);
        height:6px;
        width:6px;
        transition: transform 0.2s ease, background-color 0.2s;
    }

    &:hover, &:focus, &:active{
        a{
            background-color: rgba(#000, 1);
        }
    }

    &.active{
        a{
            background-color: rgba(#000, 1);
            height:6px;
            width:6px;
            transform: scale(1.1);
        }
    }
}

.ionicons {
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.hide {
    display: none!important;
}

ul.not-a-list {
    padding: 0;
    list-style: none;
}

.flex {
    display: flex;

    @media (max-width: $screen-xs-max){
        display: block;
    }
}

.flex-center {
    align-items: center;
}

/// ------------------ BUILDER COMPONENTS

.et_pb_row {
    max-width: 1200px;
    z-index:1;

    &.et_pb_row_fullwidth {
        width: 100%!important;
        max-width: 100%!important;

    }
}

.et_pb_module.et_pb_blurb {
    margin-bottom: 0;
    padding-bottom: 0;
    padding: 0 15px;
    color:#fff;
    text-align: center;
    @media(min-width: $big-screens){
        padding-bottom: 0;
    }

    &.wide-title {
        h4{
            max-width: none;
        }
    }

    h4 {
        margin: 0 auto;
        margin-bottom: 1.5rem;
        max-width: 25rem;
        padding:0;
        color:rgba(#000, 0.7);
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.5;
        text-transform: uppercase;
        text-align: center;

        @media(min-width: $big-screens){
            margin: 0 auto;
            margin-bottom: 1.5rem;
        }
    }

    p{
        font-size: 1.4rem;
        line-height: 1.8;
        color: $blackish;
        letter-spacing: 1px;
        text-align: center;
    }
}

.section-white{
    .et_pb_blurb{
        color:#000;
        h4{
            color:#000;
        }
    }
}
.et-waypoint{
    opacity:1;
}

.site-main {
    margin-right: 67px;

    @media (min-width: $screen-jumbo){
        margin-right: 80px;
    }

    @media (max-width: $screen-xs-max) {
        margin-right: 0;
        text-align: center;
    }
}

.page-template-default,
.post-template-default,
.single-examples-euxilia {
    .et_pb_section{
        @include rempx(padding, 3rem 0);

        @media (max-width: $screen-xs-max) {
            @include rempx(padding, 3rem);
            margin-right: 0;
        }
    }

    .et_pb_fullwidth_section{
        @media (max-width: $screen-xs-max) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .et_pb_row{
        width:100%;
    }
    .et_pb_column_1_2{
        width:50%;
        margin:0;
    }

    h1,h2,h3,h4,h5,h6{
        margin:0;
        padding:0;
        font-size: 2.2rem;
        line-height: 2;

        &.with-after {
            &:after {
                content:"";
                height:2px;
                width:30px;
                @include rempx(margin-top, 3rem);
                @include rempx(margin-bottom, 3rem);
                margin-left: 0;
                margin-right: auto;
                display: block;
                background-color: rgba($mild-black, 0.3);
            }
        }
    }

    .with-after{
        h1,h2,h3,h4,h5,h6{
            &:after{
                content:"";
                height:2px;
                width:30px;
                @include rempx(margin-top, 3rem);
                @include rempx(margin-bottom, 3rem);
                margin-left: auto;
                margin-right: auto;
                display: block;
                background-color: rgba($mild-black, 0.3);
            }
        }
    }

    p {
        font-size: 1.4rem;
        line-height: 2;
        color:rgba($blackish, 0.7);
    }
}

// ------------------- HELPERS

.no-scroll{
    overflow: hidden!important;
}

.scroll{
    overflow: scroll!important;
}

.scroll-y{
    overflow-y: auto!important;
}

.scroll-x{
    overflow-x: auto!important;
}

.full-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(#000, 0.3);
    opacity:0;
    visibility:hidden;
    transition: opacity 1s, visibility 1s, z-index 0.2s linear 0.6s;
    z-index:-9;
}

body.overlayed{
    .full-overlay{
        opacity:1;
        visibility: visible;
        transition: opacity 0.8s, visibility 0.8s;
        cursor:pointer;
        z-index:10;
    }
}

.et_pb_section {
    &.gray-section {
        background-color: $whitish;
    }
    &.dark-gray-section{
        background-color: $b-gray;
    }
    &.black-section {
        background-color: $blackish;
    }
    &.fluid-section{
        .et_pb_row{
            max-width: none;
        }
    }
}

.bg-gray {
    background-color: $whitish;
}

.full-height{
    height:100%;
    @media(max-width: $screen-xs-max){
        height:auto;
    }
}


.vertical {
    display: table;
    width: 100%;
    height: 100%;

    .vertical-middle {
        display: table-cell;
        vertical-align: middle;
        height:100%;
    }

    .vertical-bottom{
        display: table-cell;
        vertical-align: bottom;
    }
}

#auxiell{
    .fullwidth-row{
        width: 100%!important;
        max-width: 100%!important;
    }
}
.img-wrapper{
    position:relative;
    width:100%;
    height: 100%;
}
.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lcase{
    text-transform: lowercase!important;
}

.sprite-icon{
    margin:0 auto;
    @include spriteAnimation(130px, 79, 1.2s, 'play');
}

.res-padding{
    padding:0;
}
.res-margin{
    margin:0;
}

.with-bg-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-scan{
    background-color: $scan;
}

.bg-plan{
    background-color: $plan;
}

.bg-do{
    background-color: $do;
}

.bg-check{
    background-color: $check;
}

.bg-act{
    background-color: $act;
}

.see-more-ls-call{
    position:absolute;
    top:0;
    right:30px;
    transition:color 0.35s;
    &:hover{
        color:rgba(0, 0, 0, 1);
        text-decoration: none;
    }
}

.v-c-row {
    display: table;
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: visible;

    .et_pb_column {
        display: table-cell;
        float: none;
        vertical-align: middle;
    }
}

.bottom-calls {
    @include vUnitsFallback(height, 50vh);

    @media (max-width: 979px) {
        height:auto;
    }

    .et_pb_row {
        height:100%;
        z-index: 0;
    }

    .et_pb_column{
        display: table;
        height:100%;

        @media (max-width: 979px) {
            height:auto;
            padding:5rem 1.5rem;
        }
    }

    .col-inner{
        display: table-cell;
        vertical-align: middle;
    }

    .contact-us-blurb{

        .sprite-icon{
            @include rempx(margin-top, 1.6rem);
            @include rempx(margin-bottom, 1.5rem);
            @include spriteAnimation(70px, 100, 1.8s, 'play-contacts');
        }


        .et_pb_blurb_container{
            color:#000;
        }
    }

    .et_pb_column:last-child{
        .btn-std{
            border:1px solid #000;
            color:#fff;
            background-color: rgba(0,0,0,1);
            &:hover{
                background-color: #fff;
                color:#000;
            }
        }
    }

    .about-blurb{
        .et_pb_blurb_container{
            p{
                color:rgba(#fff, 0.7);
            }
        }
    }
}

.logo-row {
    z-index:11;
}

.et_pb_slider .et_pb_slide {
    box-shadow: none;
}

.et_pb_section_video_bg video {
    position: absolute;
    top: 0;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%);
}

.et_pb_preload:before {
    margin: 0;
    background: none;
}

.page-template-default .et_pb_section {
    @media (max-width: $screen-xs-max) {
        margin-right: 0;
    }
}

.ion{
    @include ionicon();
}

.noPager{
    .see-more-ls-call{
        display:none;
    }
}

.welcome-section {
    .col-inner {
        @media (max-width: $screen-xs-max) {
            @include rempx(padding, 7rem 0 1.5rem 0);
        }
    }

    video {
        @media (max-width: $screen-xs-max) {
            display: none;
        }
    }
}

.container{
    @media(min-width: $screen-sm-min){
        max-width: 100%;
    }
    @media(max-width: $screen-xs-max){
        width:100%;
    }
}

.room-for-menu {
    @include rempx(margin-right, 6.5rem!important);
    @media(max-width: $screen-xs-max){
        margin-right: 0!important;
    }
}

.about-blurb{
    .sprite-icon{
        @include spriteAnimation(100px, 160, 2.5s, 'play-about-2');
    }
}

.processes-blurb{
    .sprite-icon{
        @include spriteAnimation(80px, 78, 1.2s, 'play-processes-2');
    }
}

.et_password_protected_form{
    max-width: 1170px;
    margin:100px auto 0 auto;
}

.social-icons-module{
    text-align: center;
}

.social-icon{
    display:inline-block;
    @include rempx(font-size, 3rem);
    margin: 0 10px;
    color:#000;
    &:hover{
        text-decoration: none;
        color:rgba(#000, 0.5);
    }
}

.platform-3d {
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.el-3d{
    transition: transform 1s cubic-bezier(.05,.34,0,1.03) 0s;
}

.chrome.hdpi {
    .el-3d {
        transition: none;
    }
}

.square {
    padding-bottom: 100%;
}

.three-two {
    @include ar(3, 2);
}

.sixteen-nine {
    @include ar(16, 9);
}

.aux {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}