html[lang='it-IT']{
    .auxiell .btn-discover{

        &:before{
            content:"SCOPRI";
        }
        &:after{
            content:"DI PIÙ";
        }
    }

    #training-center-slider,
    #examples-slider{
        li a:after{
            content:"SCOPRI";
        }
    }
}

html[lang='en-US']{
    .auxiell .btn-discover{

        &:before{
            content:"DISCOVER";
        }
        &:after{
            content:"MORE";
        }
    }

    #press .img-wrapper:after{
        content:"DISCOVER";
    }

    #training-center-slider, #examples-slider{
        li a:after{
            content:"DISCOVER";
        }
    }

    #miglioramento-allineato{
        transform:translateX(40px);
    }
}

html[lang='es-ES']{
    .auxiell .btn-discover{

        &:before{
            content:"DESCUBRE";
        }
        &:after{
            content:"MÁS";
        }
    }

    #press .img-wrapper:after{
        content:"DESCUBRE";
    }

    #training-center-slider, #examples-slider{
        li a:after{
            content:"DESCUBRE";
        }
    }

    .chi-siamo{
        .bottom-calls .et_pb_column:last-child .btn-std{
            margin-top: 8rem;
        }
    }

    #hr-arrow text{
        transform: translateX(-25px);
    }

    #miglioramento-allineato{
        transform:translateX(50px);
    }
}


html[lang='ro-RO']{
    .auxiell .btn-discover{

        &:before{
            content:"DESCOPERĂ";
        }
        &:after{
            content:"MAI MULT";
        }
    }

    #press .img-wrapper:after{
        content:"DESCOPERĂ";
    }

    #training-center-slider, #examples-slider{
        li a:after{
            content:"DESCOPERĂ";
        }
    }

    .chi-siamo{
        .bottom-calls .et_pb_column:last-child .btn-std{
            margin-top: 8rem;
        }
    }

    #hr-arrow text{
        transform: translateX(-25px);
    }

    #miglioramento-allineato{
        transform:translateX(40px);
    }
}
