// generate no-alpha background
@mixin alpha($property, $color, $alpha) {
    #{$property}: $color;
    #{$property}: rgba($color, $alpha);
}

// convert rem to px
@function parseInt($n) {
    @return $n / ($n * 0 + 1);
}

// calculate rem to px
@mixin rempx($property: 'font-size', $values: (1.6rem)) {
    $list: ();
    $important:'';

    @each $value in $values {
        @if (type-of($value) == "number") {
            $list: append($list, (parseInt($value) * 10) + px);
        } @else {
            $isImportant: str-index(#{$values}, '!important');
            @if(type_of($isImportant) != 'null'){
                $important:!important;
            }@else{
                @warn 'The value "#{$value}" is not a number.';
            }
        }
    }

    #{$property}: $list + unquote($important);
    #{$property}: $values;
}

@mixin ionicon(){
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}


@mixin vUnitsFallback($property, $value){
    $factor: 0;
    $important:'';

    @if (type-of($value) == "number") {
        $factor: round(100 / parseInt($value));
    } @else {
        $isImportant: str-index(#{$value}, '!important');
        @if(type_of($isImportant) != 'null'){
            $important:'!important';
        }@else{
            @warn 'The value "#{$value}" is not a number.';
        }
    }

    $calc: calc(100% / #{$factor});


    #{$property}: $calc + unquote($important);
    #{$property}: $value;
}

@mixin spriteAnimation($size, $steps, $speed, $animation-name){
    @include refreshSpriteAnimation($size, $steps, $animation-name);
    background-position:top center;
    background-size: cover;
    animation-duration: $speed;
    animation-timing-function: steps($steps);

    &.is-running{
        animation-name: #{$animation-name};
    }

    img{
        display:none;
    }
}

@mixin spriteAnimationOnScroll($size, $steps, $speed, $animation-name){
    @include refreshSpriteAnimation($size, $steps, $animation-name);
    background-position:top center;
    background-size: cover;
    animation-duration: $speed;
    animation-timing-function: steps($steps);
        animation-name: #{$animation-name};

    img{
        display:none;
    }

    @media(max-width: $screen-xs-max){
        animation-name:none;
    }
}

@mixin refreshSpriteAnimation($size, $steps, $animation-name){
    $transformation : $size * $steps;
    max-width:$size;
    height:$size;

    @keyframes #{$animation-name} {
        100% { background-position-y: -$transformation; animation-timing-function: ease-out}
    }
}

@mixin consequentialFadeIn($speed, $delay, $listItems){
    @for $i from 1 through $listItems{
        &:nth-child(#{$i}){
            opacity:1;
        transition: opacity $speed linear ($delay * $i);
        }
    }
}

@mixin consequentialAnimation($speed, $delay, $listItems, $animation, $value){
    @for $i from 1 through $listItems{
        &:nth-child(#{$i}){
            #{$animation}: #{$value};
            transition: all $speed ease ($delay * $i);
        }
    }
}

@mixin ar($width, $height){
    padding-top: ($height / $width) * 100%;
}
