.hidden-fill {
    transition: y 0.8s ease-out;

    &.fill-black {
        fill: #000;
    }

    &.fill-orange {
        fill: $svg-orange;
    }

    &.fill-green {
        fill: $svg-green;
    }
}

// ----------------- AUXIELL LEAN SYSTEM ANIMATED SVG

.being-lean .svg-container {
    position: relative;
    max-width: 100%;
    /*@include rempx(height, 20rem);*/
    height:100%;
    @include rempx(padding-top, 8rem);

   /* @media (min-height:400px) and (max-height: 460px){
        @include rempx(height, 28rem);
    }

    @media (min-height: 461px) and (max-height: 520px){
        @include rempx(height, 33rem);
    }

    @media (min-height: 521px) and (max-height: 799px){
        @include rempx(height, 38rem);
    }

    @media (min-height: 800px){
        @include rempx(height, 43rem);
        @include rempx(margin, 7rem auto auto auto);
    }*/



    svg {
        max-width: 100%;
        height:100%;
        overflow: visible;
    }
}

.chart-text-outside {
    display: block;
    opacity: 0;
    transform: translateY(-15px);
    transition: opacity .6s ease, transform .8s ease;
    transition-delay: .08s;

    &.chart-text-center {
        transition-delay: 1.7s;
    }
}

.chart-text-outside, .chart-text-inside {
    font-family: $quicksand;
    fill: $whitish;
}

.animated-line {
    stroke: rgba(#fff, .7);
    fill: transparent;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: stroke-dashoffset 1.8s linear, opacity 1s ease;
    opacity: 0;
    transition-delay: 0s;

    &.center {
        stroke-dasharray: -1000;
        stroke-dashoffset: -1000;
        transition-delay: .1s;
    }
}

.chart-column-left {
    &.chart-el-top {
        transition-delay: 0s;
    }

    &.chart-el-middle {
        transition-delay: .6s;
    }

    &.chart-el-bottom {
        transition-delay: 1s;
    }
}

.chart-column-right {
    &.chart-el-top {
        transition-delay: .4s;
    }

    &.chart-el-middle {
        transition-delay: .8s;
    }

    &.chart-el-bottom {
        transition-delay: 1.2s;
    }
}

.chart-text-outside {
    @include rempx(font-size, 1.3rem);
    font-weight: 700;
    text-transform: uppercase;
}

.chart-text-inside {
    font-size: 6px;
}

#trash-can {
    transform: translateY(-15px);
    transition: transform 1s ease-out;
}

#trash-can-border {
    opacity: .3;
    transform: scale(1.2);
    transform-origin: center;
    transition: opacity 1s ease, transform 1s ease-out;
}

.fly-in {
    .animated-line {
        opacity: 1;
        stroke-dashoffset: 0;
    }

    .chart-text-outside {
        opacity: 1;
        transform: translateY(0px);
    }

    #trash-can {
        transform: translateY(0);
    }

    #trash-can-border {
        opacity: 1;
        transform: scale(1);
    }

    #arrow-circle {
        transform: rotate(-360deg);
    }

    #svg-spdca {
        transform: rotate(360deg);
        transition-delay: 0.5s;
        transition: transform 2s;
    }

    #svg-lga-small {
        .hidden-fill {
            &.fill-green {
                y: 0;
            }

            &.fill-orange {
                y: 0;
            }
        }
    }

    #level-orange-1 .hidden-fill {
        transition-delay: .3s;
    }

    #level-green-2 .hidden-fill {
        transition-delay: .15s;
    }

    #level-orange-2 .hidden-fill.fill-orange {
        y: 8px;
        transition-delay: .4s;
    }

    #level-green-3 .hidden-fill {
        transition-delay: .2s;
    }

    #level-orange-3 .hidden-fill {
        transition-delay: .5s;
    }

    #level-green-4 .hidden-fill {
        transition: y .6s ease-out;
        transition-delay: .2s;
    }

    #level-orange-4 .hidden-fill {
        transition-delay: .55s;
    }

    #level-green-5 .hidden-fill {
        transition: y .4s ease-out;
        transition-delay: .4s;
    }

    #level-orange-5 .hidden-fill {
        transition-delay: .7s;
    }

    #level-green-6 .hidden-fill {
        transition: y .6s ease-out;
        transition-delay: .55s;
    }

    #level-orange-6 .hidden-fill {
        transition: y .5s ease-out;
        transition-delay: .9s;
    }

    #level-green-7 .hidden-fill {
        transition: y .6s ease-out;
        transition-delay: .9s;
    }

    #level-orange-7 .hidden-fill {
        transition: y .6s ease-out;
        transition-delay: 1.15s;
    }

    #arrow-demand, #arrow-development, #arrow-delivery {
        animation-name: arrow4D;
        animation-duration: 2.5s;
    }

    #arrow-demand {
        animation-delay: .25s;
    }

    #arrow-development {
        animation-delay: .4s;
    }

    #arrow-delivery {
        animation-delay: .55s;
    }
}


// ----------------- ANIMATED SVG SLIDER
#svg-slider {
    padding:0;
    .et_pb_row{
        padding:0;
    }

    .row{
        height:500px;

        & > div{
            height:100%;
        }

        @media (max-width: $screen-sm-max) {
            height: auto;
        }
    }

    .hidden-fill {
        y: 136px;
    }

    .svg-wrapper{
        overflow: hidden;
        background-color: $b-gray;
    }
    .svg-inner{
        text-align: center;
        svg{
            position:relative;
            max-width: 90%;
            margin-top:-240px;
            transform:scale(1.3);
        }
    }

    .step-number text {
        font-family: $muli;
        font-size: 18px;
        font-weight: normal;
        opacity:0;
        transform: translateY(15px);
    }

    .active{
        .hidden-fill{
            y:0;
            transition:y 0.5s ease-out;
        }
        .step-number{
            text {
                transform: translateY(0);
                opacity: 1;
                transition: opacity 0.5s linear 0.2s, transform 0.6s ease-out 0.1s;
            }
        }
    }

    .abstracts-wrapper, .slides-wrapper{
        position:relative;
        margin:0 auto;
        width:100%;
        text-align: center;
    }

    .abstracts-wrapper{
        margin-top: 80px;
        @include rempx(max-width, 50rem);
    }

    .principle-slide{
        position:absolute;
        @include rempx(top, 3rem);
        left:0;
        width:100%;
        opacity:0;
        visibility:hidden;
        transform:translateY(20%);
        &.active{
            opacity:1;
            visibility:visible;
            transform:translateY(0);
            transition: transform 0.8s ease-out, opacity 0.4s linear 0.3s, visibility 0.4s linear 0.3s;
        }

        &.deactivating{
            opacity:0;
            visibility:hidden;
            transform:translateY(-10%);
            transition: transform 0.5s ease-out, opacity 0.3s linear 0s, visibility 0.3s linear 0s;
        }

        .with-after{
            &:after{
                margin-left:auto;
                margin-right:auto;
            }
        }
    }

    .slide-num{
        font-family: $muli;
        @include rempx(font-size, 6rem);
        color:rgba($blackish, 0.4);
    }

    @media (max-width: $screen-sm-max) {
        .row > div {
            width: 100%;
        }
    }
}

#svg-lean-gap-analysis {
    .hidden-fill {
        y: 340px;
    }
}

.svg-lga-small {
    width: 100%;
    text-align: center;
}

#svg-lga-small {
    display: inline-block;
    @include rempx(width, 30rem);

    .hidden-fill {
        &.fill-green {
            y: 260px;
        }

        &.fill-orange {
            y: 160px;
        }
    }

    @media(max-width: $screen-xs-max) {
        width: 60%;
        @include rempx(padding, 0 3rem);

        .hidden-fill {
            &.fill-green {
                y: 0;
            }

            &.fill-orange {
                y: 0;
            }
        }
    }

    @media (max-width: 320px) {
        width: 80%;
    }
}

#arrow-circle {
    transition: transform 2.5s ease;
    transform-origin: center;
}

#svg-spdca {
    transition: transform 1s ease;
    transform-origin: center;
}

