// ---------------------- COLORS
$brand: #2a54a1 !default;
$mild-black: #353536!default;
$neg-ss: rgba(0,0,0,0.25)!default;
$blackish: #4a4a4a!default;
$whitish: #fafafa!default;
$light-gray: #f5f5f5!default;
$b-gray: #9c9c9c!default;
$dark-gray: #1d3157!default;

// ---------------------- TABLE COLORS
$scan: #131313!default;
$plan: #4b4b4c!default;
$do: #706f6f!default;
$check: #9d9d9c!default;
$act: #b7b7b7!default;

//------------------------SVG COLORS
$svg-orange: #d49430 !default;
$svg-green: #90ab3b !default;

// --------------------- FULLPAGE TRANSITIONS
$med-speed: 0.5s!default;

// --------------------- TIMELINE GRAY
$gray-time: #d8d8d8!default;

// ---------------------- FONTS
$muli: "Muli", "Bebas Neue", "Arial Narrow", sans-serif;
$quicksand: "Quicksand", "Helvetica Neue", Helvetica, Arial;

// ---------------------- MEDIA
$screen-xxs-max: 500px!default;
$divi-sm: 980px!default;
$big-screens: 1441px!default;
$screen-jumbo: 2000px!default;
$retina: "(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi)";
$landscape: "(orientation: landscape)";


// ANIMATIONS EASINGS
$cubic: cubic-bezier(.47,.05,0,.89);
$cubicIn: cubic-bezier(1,.15,.49,.93)!default;