.error404{
  .top-bar .logo{
    color: #000;
  }

  .content-404{
    height: 70vh;
    min-height: 450px;

    @media(min-width: $screen-sm-min){
      @include rempx(margin-left, -3.5rem);
    }

    h1{
      @include rempx(margin, 2rem 0);
      @include rempx(font-size, 10rem);
    }

    p{
      @include rempx(font-size, 2rem);
      line-height: 2;
    }


    a{
      @include rempx(margin-top, 3rem);

      &:hover{
        background-color: #fff!important;
      }
    }

    .wrapper-404 {
      text-align: center;
    }

  }
}