.page-template-auto-lga-results, .page-template-auto-lga-pdf{
    #masthead:after{
        box-shadow: none;
    }

    .top-bar .logo{
        color:#000;
    }

    .welcome-results{
        height:300px;
        @include rempx(margin-bottom, 3rem);
        @media (max-width: $screen-sm-max){
            margin-bottom:0;
            padding-bottom: 0;
        }

        &:before{
            display:none;
        }
        .vertical-middle{
            vertical-align: bottom;
        }

        h4{
            color:#000;
        }
    }

    .svg-wrapper, svg{
        max-width: 100%;
    }

    .svg-wrapper{
        position:relative;
        height: 300px;
        overflow: hidden;
    }

    svg{
        position:absolute;
        bottom:0;
        left:0;
    }

    .svg-section{
        @include rempx(padding-bottom, 10rem);
    }

    .results-table-section{
        height:500px;
        @media (max-width: $screen-sm-max){
            margin:0;
        }
    }

    #results-table{
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);

        table{
            width:100%;
        }

        tbody tr:nth-child(odd){
            background-color:rgba(#000, 0.05);
        }

        tbody tr:nth-child(even){
            background-color: #fff;
        }

        tbody td{
            padding:15px;
            font-family: 'Open Sans';
            letter-spacing: 1px;
        }

        .valore{
            text-align: left;
            padding-left: 30px;
        }
    }
}

.page-template-auto-lga-pdf{
    .footer-navigation{
        display:none;
    }
    .right-bar{
        display: none;
    }

    h4{
        opacity:1!important;
    }

    .gray-section{
        background-color: #fff!important;
    }

    .site-footer{
        text-align: center;
        color:#fff;

        img{
            height:60px;
            margin-bottom: 30px;
        }

        p{
            opacity:1;
            color:#fff;
            @include rempx(font-size, 1.2rem);
            line-height: 2;
        }
    }
}

#svg-lean-gap-analysis-results.block-shapes {
    .fill-green, .fill-orange {
        y: 340px!important;
    }
}

#svg-lean-gap-analysis-results {

    @for $i from 1 through 7 {
        .level-green:nth-of-type(#{$i}){
            .fill-green {
                transition-delay: .3s * $i;
            }

            .fill-orange {
                transition-delay: .15s * $i;
            }
        }
    }
}

#pdf-img{
    position:absolute;
    bottom:0;
    left:0;
}