// ------------------------- AUTO LGA PAGE
.auto-lga{
    .site-main {
        position:relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, 0.7);
        }
    }

    .welcome-section{
        height:auto;

        &:before{
            display: none;
        }
        .welcome-copy{
            .et_pb_column{
                margin-top:120px;
                @media(max-width: $screen-xs-max){
                    margin-top: 0;
                }
            }
            .col-inner{
                @include rempx(margin-top, 3rem);
            }
        }
        /*.welcome-copy{
            position:absolute;
            top:0;
            left:0;
            height:100%;
            width:100%;
            padding-top:80px;
            .et_pb_column{
                display: table;
                height:100%;
                max-width: 1000px;
                margin:0 auto;
                margin-right: auto!important;
                float:none;
                .et_pb_module{
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }*/
    }
}

.auto-lga-section{
    @include rempx(margin-right, 6.5rem);
    @media(max-width: $screen-xs-max){
        margin-right: 0;
    }
}

.auto-lga-quiz-wrapper{
    position:relative;
    @include rempx(margin-bottom, 10rem);
    @include vUnitsFallback(height, 85vh);
    background-color: #fff;
    overflow: hidden;
    max-height: 760px;
    @media(max-width: $screen-xs-max){
        height: 550px;
    }

    .contact-form-wrapper{
        position: absolute;
        width: 100%;
        top:50%;
        left:0;
        opacity:0;
        visibility: hidden;
        transform: translate3d(0, -30%, 0);
        transition:transform 0.6s ease, opacity 0.4s, visibility 0.4s;

        .wpcf7{
            @include rempx(padding, 4rem);
            @media(max-width: $screen-xs-max){
                padding:0;
                @include rempx(margin, 2rem);
            }
        }

        .wpcf7-form{
            position:relative;
        }

        h4{
            margin-bottom: 30px;
            line-height: 1.6;
            letter-spacing: 2px;
            text-align: center;
            text-transform: uppercase;
        }
        .lga-start, .go-to-results{
            cursor:pointer;
            &:hover, &:focus{
                color:#fff;
            }

            &[disabled=disabled] {
                opacity: .1;
        }
        }

        .checkbox-privacy {
            input {
                margin-top: 8px;
            }
        }

        .wpcf7-mail-sent-ok{
            display:none!important;
        }
    }

    .stepper-wrapper{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 2px 0 6px rgba(#000, .1);
        z-index:2;

        .lSSlideOuter{
            max-width: 280px;
            overflow: visible;
            .lSSlideWrapper{
                overflow: visible;
            }
        }

        .lslide{
            @include rempx(padding, 2rem 1.5rem);
            font-family: $muli;
            @include rempx(font-size, 1.2em);
            letter-spacing: 2px;
            line-height: 1.6;
            text-align: center;
            text-transform: uppercase;
            &.active{
                color:#fff;
                background-color: #000;
            }
        }
    }

    .principle{
        @include rempx(padding, 3rem 0);
        .row{
            margin-right: 0;
            margin-left: 0;
        }
    }

    .quiz-wrapper{
        height: 100%;
        overflow-y: scroll;

        .go-to-results{
            position:absolute;
            bottom:15px;
            left:50%;
            opacity:0;
            visibility:hidden;
            transform: translate3d(-50%,0,0);
            z-index: 99;
            transition:opacity 0.5s, visibility 0.5s;
        }
    }

    .question{
        position:relative;
        @include rempx(padding, 3rem 0);
        &:after{
            content:"";
            position:absolute;
            bottom:0;
            left:0;
            @include rempx(width,5rem);
            height:1px;
            background-color: rgba(#000, 0.4);
        }
        &:first-child{
            @include rempx(padding-top, 8rem);
        }
        &:last-child{
            @include rempx(padding-bottom, 8rem);
            &:after{
                display:none;
            }
        }
        h4{
            @include rempx(padding, 1.5rem 0 3rem 0);
            font-family: $muli;
            @include rempx(font-size, 1.8rem);
            letter-spacing: 2px;
            line-height: 1.6;
            text-transform: uppercase;
        }
    }

    .answer{
        position:relative;
        cursor: pointer;
        .checkbox{
            position:absolute;
            @include rempx(top, 1.5rem);
            left:0;
            margin-top:6px;
            z-index:5;
        }
        label{
            @include rempx(padding, 1.5rem 2.5rem);
            font-family: $quicksand;
            font-weight: 400;
            @include rempx(font-size, 1.6rem);
            line-height: 1.6;
            vertical-align: top;
        }
    }

    .controls-wrapper{
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top:1px solid rgba(#000, 0.2);
        @include rempx(padding, 1.5rem);
        text-align: center;
        background-color: rgba(#fff, 0.95);
    }

    .forward, .cancel{
        font-family: $muli;
        span{
            font-size: inherit;
            line-height: inherit;
            margin:0;
        }
    }

    .cancel{
        @include rempx(margin-right, 1.5rem);
    }

    .end{
        display:none;
    }

    &.active-principle-7{
        .forward{
            display:none;
        }
        .end{
            display:inline-block;
        }
    }

    .scheme-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        text-align: center;
        z-index:5;
        opacity:0;
        visibility:hidden;
        transition:opacity 0.4s linear 0.6s, visibility 0.4s linear 0.6s;

        .svg-wrapper{
            display:inline-block;
            width:250px;
            opacity:0;
            transform:translateY(20px);
            transition: transform 0.7s ease 0.2s, opacity 0.5s ease 0.2s;
        }

        #step-title{
            position:relative;
            @include rempx(margin-top, 5rem);
            @include rempx(font-size, 2.2rem);
            letter-spacing: 2px;
            text-transform: uppercase;
            opacity:0;
            visibility: hidden;
            transform:translate3d(0,20px,0);
            transition: transform 0.7s ease, opacity 0.5s ease, visibility 0.5s ease;
            & > span{
                position:absolute;
                top:0;
                left:50%;
                transform:translateX(-50%);
                opacity:0;
                transition: opacity 0.3s;
                &.congrats{
                    position:absolute;
                    top:0;
                    left:0;
                    width:100%;
                    opacity:0;
                    transform: translate3d(0, -100%, 0);
                    transition:opacity 0.35s;
                }
            }

            span.active{
                opacity:1;
                transition: opacity 0.4s linear 0.2s;
            }
        }

        #svg-lean-gap-analysis{
            width:100%;
        }
    }

    &.interlude{

        &.waiting-to-start{
            .svg-wrapper, #step-title{
                opacity:0;
                visibility: hidden;
            }
        }

        .scheme-wrapper{
            opacity:1;
            visibility: visible;
            transition: transform 0.6s ease, opacity 0.6s, visibility 0.6s;
        }

        .svg-wrapper, #step-title{
            opacity:1;
            visibility:visible;
            transform: translate3d(0,0,0);
        }

        .svg-wrapper{
            transition: transform 0.8s ease 0.2s, opacity 0.5s ease 0.2s;
        }

        #step-title{
            transition: transform 0.8s ease 0.4s, opacity 0.5s ease 0.4s;
        }

        .hidden-fill{
            transition: y 0.6s ease;
        }

        #Fill-1, #Fill-3, #Fill-5, #Fill-7, #Fill-9, #Fill-11, #Fill-13{
            transition: fill 1s;
        }

        &.out{
            .scheme-wrapper{
                opacity:0;
                z-index:-1;
                transform: translateX(-60%);
                transition: transform 1.5s ease, opacity 0.6s linear 0.3s, z-index 0.6s linear 0.4s;
                .svg-wrapper, #step-title{
                    opacity:0;
                    transform: translateY(0);
                }
            }
        }

        polygon.active{
            fill:#afafaf;
        }
    }

    &.waiting-to-start{
        .svg-wrapper{
            opacity:0;
            transform:translate3d(0, 0, 0) scale(0.6);
            @media (min-width: $big-screens){
                transform:translate3d(0,0,0) scale(0.6);
            }
        }
        .contact-form-wrapper{
            position:absolute;
            opacity: 1;
            visibility: visible;
            transform: translate3d(0, -50%, 0);
        }

        #step-title{
            opacity:0;
            transform:translate3d(0,20px,0);
        }
    }



    &.auto-lga-end{
        .congrats{
            opacity:1!important;
            visibility:visible;
        }
        .current-indicator, .next-indicator{
            opacity:0!important;
        }

        .quiz-wrapper{
            .go-to-results{
                opacity:1;
                visibility: visible;
                &:hover, &:focus{
                    background-color: #fff;
                    color:#000;
                }
            }
        }
    }
}

.small-context-popup{
    position:fixed;
    top:50%;
    left:50%;
    max-width:450px;
    @include rempx(padding, 3rem);
    background-color: #fff;
    opacity:0;
    visibility: hidden;
    text-align: center;
    transform: translate3d(-50%, -50%, 0) scale(0.5);
    transition: transform 0.35s, opacity 0.35s, visibility 0.35s;
    z-index: 99;

    @media (max-width: $screen-xs-max){
        width:90%;
    }

    h6{
        @include rempx(font-size, 1.8em);
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    p{
        @include rempx(font-size, 1.6rem);
    }

    #popup-btn{
        border:1px solid #000;
        cursor:pointer;
        &:hover{
            background-color: #fff;
        }
    }

    &.popped-up{
        opacity:1;
        visibility: visible;
        transform: translate3d(-50%, -50%, 0) scale(1);
    }
}

.is-mobile{
    #auto-lga-quiz-box {
        margin:0;
    }

    &.auto-lga-is-running{
        #auto-lga-quiz-box {
            position: fixed;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            z-index: 9;
        }
        .stepper-wrapper .lSSlideOuter{
            max-width: 200px;
        }

        header{ // hide menu for full immersive feeling!
            display: none;
        }
    }

    .auto-lga-section{
        .container{
            padding:0;
            & > .row{
                margin:0;
                & > .col-xs-12{
                    padding:0;
                }
            }
        }
    }
}
