//---------- HOMEPAGE

/// ----------------------- SECTION PADDING TO AVOID TOP BAR
.page-template-homepage {
    .et_pb_section {

        .logo{
            margin-top: 3rem;
            margin-bottom: 3rem;
            text-align: center;
        }
    }

    @media (max-width: $screen-xs-max) {
        video {
            display: none;
        }
    }
}

.page-template-homepage {
    .section {
        .scheme-wrapper {
            position: relative;
            vertical-align: bottom;
            margin-bottom: 0;
            z-index: 10;

            @media (max-width: $screen-xs-max){
                width: 90%;
                max-width: 400px;
                margin: 5rem auto 0 auto;
            }

            @media (min-width: $screen-sm-min){
                position: absolute;
                bottom: 50%;
                left: 12%;
                width: 35%;
                transform: translateY(50%);
            }

            @media (min-width: $screen-md-min){
                left: 15%;
            }

            img {
                position: relative;
                width: 100%;
            }
        }

        svg {
            width: 100%;
            height: auto;
        }
    }

    #welcome {
        background-color: #f5f5f5;
    }
}

/// ----------------------- WELCOME SECTION
.section {
    position: relative;
    padding: 0;
    overflow: hidden;

    @media (min-width: $screen-sm-min){
        background-color: #f5f5f5;
    }

    @media(max-width: $screen-xs-max) {
        margin-top: 2rem;

        .et_pb_button {
            display: block;
            width: 100%;
            margin: 4.5rem 0 1rem 0;

            &.et_pb_play_video_button {
                margin: 1.5rem 0 0 0
            }
        }
    }

    &:last-of-type {
        .fullwidth-row {
            padding-bottom: 0;
        }
    }

    // FORCE FULLHEIGHT TO SLIDER ELEMENTS
    .fullwidth-row {
        height:100%;

        .et_pb_column {
            height:100%;
        }

        @media (max-width: $screen-xs-max) {
            height: auto;

            .et_pb_column {
                height: auto;
                background-size: cover;
                background-position: center;
            }

            .et_pb_slides {
                padding: 6rem 0;
            }
        }
    }

    .et_pb_slides .et_pb_container {
        margin-right: 0;

        @media (min-width: $screen-sm-min){
            max-width: 50%;
        }
    }

    .col-inner {
        @media (min-width: $screen-sm-min) {
            display: table;
            height: 100%;
            width: 100%;
        }
    }

    video {
        width:auto!important;
        max-width: none;
        min-width:100%;
        min-height: 100%;
        transform: translateX(-50%);
        margin-left: 50%;
    }

    .et_pb_slider {
        display: table-cell;
        vertical-align: bottom;
        padding-bottom: 10rem;

        @media (max-width: $screen-xs-max){
            display: block;
            margin-top: -18rem;
            padding-top: 13rem;
            padding-bottom: 0;
            z-index: 0;
        }
    }

    .et_pb_slide {
        padding: 0 8%;

        background-color: transparent!important;
    }

    .et_pb_button {
        float: right;
    }

    .et-pb-controllers{
        text-align: right;
        left:auto;
        right: 10%;

        a{
            color:rgba(#fff ,0);
        }
    }

    .et_pb_video_wrap {
        height:100%;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, 0);
            opacity: 0;
            z-index: 5;
            transition: background-color $med-speed, z-index $med-speed, opacity $med-speed;
        }
    }

    .et_pb_video_box{
        height:100%;
    }

    .et_pb_slider_contaner_inner{
        position:relative;
        overflow: hidden;
    }

    .et_pb_slide_description {
        padding:0;

        h2 {
            display:block;
            width:100%;
            padding: 0;
            font-family: $muli;
            font-size: 3.5rem;
            font-weight: 800!important;
            color: $brand;
            line-height: 1.2;
            text-align: right;
            text-shadow: none;
            letter-spacing: 2px;

            @media(min-width: $screen-jumbo) {
                font-size: 4.2rem;
            }

            @media (max-width: $screen-xs-max) {
                font-size: 2.5rem!important;
                line-height: 2;
                text-align: center;
                font-weight: 800!important;
            }

            &:before, &:after{
                content: "";
                display: block;
                margin-left: 50%;
                height: 1px;
                background-color: rgba($b-gray, .4);

                @media (max-width: $screen-xs-max){
                    display: none;
                }
            }

            &:before{
                margin-bottom: 50px;

                @media (max-width: $screen-xs-max) {
                    margin-bottom: 30px;
                }
            }

            &:after{
                margin-top: 50px;

                @media (max-width: $screen-xs-max) {
                    margin-top: 30px;
                }
            }
        }
    }

    .et_pb_slide_content {
        margin-top: 3rem;
        padding-left: 10%;
        color: $blackish;
        font-family: $quicksand;
        font-size: 1.9rem;
        line-height: 1.6;
        text-shadow: none;
        text-align: right;


        @media (min-width: $screen-jumbo) {
            font-size: 2rem;
        }

        @media(max-width: $screen-xs-max) {
            font-size: 1.8rem;
            padding-left: 0;
            text-align: center;
        }
    }

    .et_pb_video_wrap {
        &:after {
            background-color: rgba(#000, 0.4);
            opacity: 1;
            z-index: 5;
            transform: translate3d(0,0,0);
        }
    }

    .mokup-inner {
        position: relative;
        @media (max-width: $screen-xs-max){
            left: 25%;
            width: 50%;
        }
    }

    .cell-logo {
        position: absolute;
        top: 12%;
        left: 0;
        display: inline-block;
        width: 85%;

        .svg-wrapper {
            display: inline-block;
            height: 3rem;
            transform: skew(12deg);

            @media (min-width: $screen-sm-min){
                height: 4rem;
            }
        }

        svg {
            height: 100%;
            width: 100%;
        }
    }

    .icon-logo {
        position: absolute;
        top: 30%;
        left: 5%;
        display: inline-block;
        width: 100%;
        text-align: center;

        .svg-wrapper {
            display: inline-block;
            height: 9rem;
            transition: transform 1s $cubic;

            @media (min-width: $screen-md-min){
                height:12rem;
            }

            @media (min-width: $screen-lg){
                height: 18rem;
            }
        }

        svg {
            height: 100%;
            width: 100%;
        }
    }

    .ion-chevron-down {
        position: absolute;
        bottom: 25%;
        right: 0;
        display: inline-block;
        width: 65%;
        color: $brand;
        font-size: 2.3rem;
        text-align: center;
        transform: translate( 0, 30px) rotate(-17deg);
        transition: opacity .35s linear 0.4s, transform .7s $cubic 0.2s;

        @media (max-width: $screen-xs-max ){
            display: none;
        }

        &:before {
            animation-name: goDown;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

@keyframes goDown {
    0% {transform: translate(0, 0); }
    50% {transform: translate(0, 10px); }
    100% {transform: translate(0, 0); }
}

$hexBgXsSize: 10rem;

$hexBgSize: 15rem;
$hexBgSizeJumbo: 20rem;

.hexagon__big {
    content: "";
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: $hexBgSize * 85 / 100;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    transition: transform .45s $cubic;

    @media(max-width: $screen-xs-max){
        font-size: $hexBgXsSize * 85 / 100;
        line-height: 1;
    }

    @media(min-width: $screen-jumbo){
        font-size: $hexBgSizeJumbo * 85 / 100;
        line-height: 1;
    }
}

.hex {
    display: inline-block;
    position: absolute;
    top: 20%;
    right: 35%;

    @media(min-width: $screen-sm-min){
        top: 10%;
        right: -10%;
    }
}

.hex-bg-big,
.hex-bg-med,
.hex-bg-small {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;

    &:before {
        display: inline-block;
        @extend .hexagon__big;
        vertical-align: middle;
        transform-origin: center;
    }

    @media(max-width: $screen-xs-max){
        height: $hexBgXsSize * 85 / 100;
        width: $hexBgXsSize;
    }

    @media(min-width: $screen-jumbo){
        height: $hexBgSizeJumbo * 85 / 100;
        width: $hexBgSizeJumbo;
    }
}

.hex-bg-big {
    &:before {
        color: $bigColor;
        transform: scale(3);
    }
}

.hex-bg-med {
    &:before {
        color: $medColor;
        transform: scale(2);
    }
}

.hex-bg-small {
    &:before {
        color: $brand;
        transform: scale(.75);
    }
}

#shaping-evolution,
#eduapp,
#resonant-companies {
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    padding-bottom: 10rem;

    @media (max-width: $screen-xs-max) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .hex-bg-big {
        &:before {
            color: $bigColor;
        }
    }

    .hex-bg-med {
        &:before {
            color: $brand;
        }
    }

    .hex-bg-small {
        &:before {
            color: $medColor;
        }
    }

    .et_pb_row {
        max-width: 100%;
        background-size: auto 100%;
        flex-grow: 1;
        display: flex;
        align-items: center;

        @media (max-width: $screen-sm-max) {
            display: block;
            position: relative;
        }

        &:nth-child(2) {
            flex-grow: 2;
        }

        .col-inner {
            @media (min-width: $screen-md-min) {
                width: 75%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    h2 {
        display:block;
        width:100%;
        padding: 0;
        font-family: $muli;
        font-size: 4.5rem;
        font-weight: 800;
        color: $brand;
        line-height: 1.2;
        text-align: right;
        text-shadow: none;
        letter-spacing: 2px;

        @media (max-width:$screen-xs-max) {
            font-size: 3rem;
        }
    }

    .et_pb_text_inner {
        color: $blackish;
        font-family: $quicksand;
        font-size: 1.8rem;
        line-height: 1.6;
        text-align: center;
    }

    .et_pb_equal_columns {
        position: relative;
        align-items: stretch;
        overflow: hidden;

        .et_pb_column {
            position: initial;
            display: flex;
            align-items: center;

            .col-inner {
                display: block;
                height: auto;
            }
        }
    }

    .et_pb_button {
        margin-top: 2rem;
        float: none;
    }

    .et_pb_code_inner {
        display: flex;

        @media (max-width: $screen-xs-max){
            flex-direction: column;
        }
    }
}

#shaping-evolution {
    background-color: #fff;

    .et_pb_row {
        &::before {
            content: "";
            @extend .aux;
            background-color: #fff;
            opacity: 0;
        }

        @media (max-width: $screen-sm-max) {
            &::before {
                opacity: .85;
            }
        }
    }
}

#eduapp {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $dark-gray;
        opacity: .9;
    }

    .hex-bg-big {
        &:before {
            color: $brand;
        }
    }

    .hex-bg-med {
        &:before {
            color: $medColor;
        }
    }

    .hex-bg-small {
        &:before {
            color: $bigColor;
        }
    }

    .et_pb_code {
        position: absolute;
        top: -5%;
        left: 50%;
        height: 100%;
        transform: translateX(-50%);

        .et_pb_code_inner {
            height: 100%;
            width: auto;
        }
    }

    .et_pb_column {
        display: flex;
        position: initial;
        align-items: center;
    }

    h2 {
        color: #fff;
    }

    svg {
        height: 110%;
        width: auto;
        opacity: 0;
    }

    .et_pb_text_inner {
        p {
            color: #fff;
            opacity: .75;
        }
    }

    .et_pb_button {
        border-color: #fff;
        color: #fff;
        margin-top: 2rem;
        float: none;
    }
}

#resonant-companies {

    .et_pb_code_inner {
        overflow: hidden;
    }

    .example-box {
        position: relative;
        margin-bottom: 3rem;
        overflow: hidden;

        @media (min-width: $screen-sm-min) {
            float: left;
            width: 50%;
            padding: 0 15px;
            margin-bottom: 0;
        }

        a {
            &:hover {
                text-decoration: none;

                img {
                    transform: scale(1.05);
                }
            }
        }
    }

    .example-inner {
        position: relative;
    }

    .img-wrapper {
        @extend .aux;

        &:after {
            content: "";
            @extend .aux;
            background-image: linear-gradient( -90deg, #548DCF 0%, #3788B6 0%, #2A54A1 100%);
            opacity: .68;
        }

        img {
            transition: transform .6s $cubic;
        }
    }

    .example-meta {
        position: relative;
        color: #fff;
        padding: 8rem 1.5rem 1.5rem 1.5rem;

        @media (min-width: $screen-sm-min) {
            padding: 8rem 2rem 2rem 2rem;
        }

        @media (min-width: $screen-jumbo) {
            padding: 15rem 5rem 5rem 5rem;
        }

        h3 {
            font-size: 2rem;
            font-weight: 700;
        }

        p {
            font-size: 1.6rem;

            @media (max-width: $screen-xs-max) {
                font-size: 1.4rem;
            }
        }
    }
}
/// ----------------------- NEWSFEED SECTION

#newsfeed {
    position:relative;
    padding:0;
    background-color: $whitish;
    overflow-x:hidden;

    &:before {
        content:"";
        position:absolute;
        top:50%;
        left:70px;
        margin-top:-1px;
        height:1px;
        width:100%;
        background-color: rgba($neg-ss, 0.1);
        z-index:0;
    }

    .newsfeed-row{
        margin-left: 15%;

        @media (max-width: $screen-xs-max) {
            display: block;
            margin-left: 0;
        }
    }

    h2 {
        margin-bottom: 4.2rem;
        font-size: 2.4rem;
        letter-spacing:2px;

        @media (min-width: $big-screens) {
            margin-bottom: 3rem;
        }

        @media (max-width: $screen-xs-max) {
            text-align: center;
        }
    }

    h3 {
        font-family: $quicksand;
        font-weight:700;
        @include rempx(font-size, 1.6rem);
        line-height:1.8;
        letter-spacing:1.5px;

        a:hover, a:focus, a:active{
            color:#000;
            text-decoration: none;
        }
    }

    .logo-row {
        position:absolute;
        top:0;
        margin-left: 20%;
    }

    .et_pb_column {
        display: table-cell;
        vertical-align: middle;
    }

    .et_pb_posts {
        margin: 0;
    }

    article {
        position: relative;
        margin-bottom: 0;
        overflow: visible;
    }

    .post-meta {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-family: $muli;
        @include rempx(font-size, 1.6rem);
        color: rgba(#000, 0.3);
        letter-spacing: 3px;
        text-align: center;
        transform: translate(-50%, -50px);
        transition: transform 0.6s ease, opacity 0.6s linear 0.1s;

        span {
            display:inline-block;
            transform:translateX(50%);
            transition:transform 0.6s ease;
        }

        @media (max-width: $screen-xs-max) {
            transform: translate(0);

            span {
                transform: none;
            }
        }
    }

    .post-meta-wrapper {
        background-color: #fff;
    }

    .newsfeed-slider-horizontal.lsGrabbing{
        .post-meta {
            opacity: 0;
            transition:transform 0.6s ease, opacity 0.2s linear 0s;
        }
    }

    #back-to-start{
        position:absolute;
        top:50%;
        left:5%;
        transform: translate3d(0,-100%,0);
        border:1px solid #000;

        span{
            @include rempx(font-size, 4.3rem);
            line-height: 0;
        }

        &:hover{
            cursor:pointer;
            background-color: #fff;
        }
    }

    .lslide {
        &:last-of-type{
            position:relative;
            height:100%;
        }
        &.active {
            .post-meta {
                transform: translate(50%, -50px);

                span {
                    transform: translateX(-50%);
                }

                @media (max-width: $screen-xs-max) {
                    transform: none;

                    span {
                        transform: none;
                    }
                }
            }
        }

        &.passed {
            opacity: 0!important;

            article{
                opacity:0;
                transition:opacity 0.35s;
            }

            .post-meta {
                transform: translate(50%, -50px);
                transition: transform 0.6s ease, opacity 0.1s linear 0s;

                span {
                    transform: translateX(-50%);
                }

                @media (max-width: $screen-xs-max) {
                    transform: none;

                    span {
                        transform: none;
                    }
                }
            }
        }
    }

    ul.lSPager.lSpg {
        width:130%;
        @media(max-width: $screen-xs-max){
            width:100%;
        }
    }

    .lSSlideOuter {
        @include vUnitsFallback(width, 33.3vw);
        max-width:400px;
        overflow:visible;

        @media (max-width: $screen-xs-max) {
            width: 100%;
            max-width: none;
        }
    }

    .lSSlideWrapper{
        width:100%;
        overflow:visible;
    }

    .lSPager.lSpg {
        @include rempx(margin-top, 3rem!important);
        @include rempx(margin-bottom, 3rem!important);
        position: absolute;
        width: 100%;
        text-align: left;

        li:nth-child(even) {
            display:none;

            @media (max-width: $screen-xs-max) {
                display: inline-block;
            }
        }
    }

    @media (max-width: $screen-xs-max) {
        position: relative;
        height: auto;
        @include rempx(padding, 8rem 4.5rem 3rem 4.5rem);
        overflow: hidden;

        &:before {
            display: none;
        }

        h2 {
            position: relative;
        }

        article {
            @include rempx(margin-top, 8rem);
        }

        .lightSlider article {
            @include rempx(margin-top, 6rem);
        }

        ul.lSPager.lSpg {
            position: relative;
            text-align: center;
        }

        &.et_pb_section .newsfeed-row {
            max-width: 100% !important;

            .et_pb_column {
                display: block;
                vertical-align: inherit;
            }
        }

        &.et_pb_section.et_section_specialty .et_pb_row {
            max-width: 100% !important;
        }

        .see-more-ls-call {
            position: relative;
            right: 10px;
            @include rempx(margin-top, 6rem);
            text-align: center;
        }

        .post-meta {
            @include rempx(top, -4rem);
            text-align: center;
            transform: none;

            span {
                transform: translateX(0);
            }
        }

        .entry-title {
            @include rempx(font-size, 2rem);
        }

        .post-content {
            p {
                @include rempx(font-size, 1.6rem);
                line-height: 1.8;
            }
        }

        .newsfeed-slider-horizontal {
            display: block;
            flex-wrap: none;

            li {
                display: block;
                width: 100%
            }
        }
    }

    @media (max-width: $screen-xs-max) and (orientation:landscape) {
        .newsfeed-slider-horizontal {
            display: flex;
            flex-wrap: wrap;

            li {
                display: flex;
                width: 50%;
                @include rempx(padding, 1.5rem);
            }

            article {
                @include rempx(margin-top, 4.5rem);
                background-color: #fff
            }
        }

        .lslide.active .post-meta {
            transform: none;

            span {
                transform: none;
            }
        }

        .lslide {
            &.active {
                .post-meta {
                    transform: none;

                    span {
                        transform: none;
                    }
                }
            }

            &.passed {
                .post-meta {
                    transform: none;

                    span {
                        transform: none;
                    }
                }
            }
        }
    }
}

.see-more-ls-call {
    display: block;
    @include rempx(font-size, 1.2rem);
    font-weight: 700;
    color:rgba(#000, 0.5);
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: right;

    &:before{
        content:"\f3d6";
        margin-right:15px;
        @include ionicon();
        @include rempx(font-size, 3rem);
        vertical-align: middle;
    }
}

.newsfeed-slider-horizontal {
    overflow:visible;

    li {
        opacity:1;
        transition:opacity 0.6s ease;
    }

    .post-meta-wrapper {
        @include rempx(padding, 3rem);
    }

    .entry-featured-image-url{
        height:170px;
        overflow:hidden;
    }

    .post-content {
        p {
            @include rempx(font-size, 1.4rem);
            line-height: 2;
        }
    }

    a.more-link{
        position:relative;
        display:inline-block;
        @include rempx(margin-top, 1.5rem);
        font-weight: 700;
        color:#000;
        letter-spacing: 3px;
        text-transform: uppercase;
        &:after{
            content:"";
            position:absolute;
            bottom:0;
            left:0;
            width:100%;
            height:1px;
            background-color: #000;
            transform:scaleX(0);
            transform-origin: left;
            transition:transform 0.3s ease;
        }

        &:hover, &:focus, &:active{
            text-decoration: none;
            &:after{
                transform:scaleX(1);
            }
        }
    }
}


/// ----------------------------- SYSTEM SECTION

#system-section {
    &:before{
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color: rgba($mild-black, 0.6);
        z-index:1;
        transform: translate3d(0,0,0);
    }

    .systems-intro {
        @include rempx(padding-top, 5rem);

        @media (max-width: $screen-xs-max) {
            padding-bottom: 0;
        }
    }

    .top-section-text {
        &:before {
            margin-top: 0;

            @media (max-width: $screen-xs-max) {
                display: none;
            }
        }

        &:after {
            display: none;
        }
    }

    h4 {
        @include rempx(font-size, 2rem);
        min-height: 48px;

        @media (min-width: $big-screens){
            @include rempx(font-size, 2.2rem);
            min-height: 65px;
        }
    }

    p {
        color:#fff;
        min-height:60px;

        @media (min-width: $big-screens){
            min-height: 75px;
        }
    }

    .et_pb_row {
        max-width: 1000px;

        @media (max-width: $screen-xs-max) {
            margin-bottom: 0;
        }
    }

    .systems-intro .et_pb_column {
        @media (max-width: $screen-xs-max) {
            margin-bottom: 0;
        }
    }

    .sistems-row {
        .et_pb_column{
            @include rempx(padding, 2rem);
            backdrop-filter: blur(10px);
            background-color: rgba(#fff, 0.1);

            @media (max-width: 320px) {
                backdrop-filter: blur(5px);
            }
        }
    }

    .et_pb_main_blurb_image {
        @include rempx(margin, 1.5rem);
        margin-left: auto;
        margin-right: auto;

        @media(min-width: $big-screens){
            @include rempx(margin, 3rem);
            margin-left: auto;
            margin-right: auto;
        }
    }

    .bottom-row-centered-button {
        text-align: center;
        opacity:0;
        transform: translateY(50%);
        transition: transform $med-speed ease, opacity $med-speed;

        .btn-outline {
            &:hover {
                color:#000;
                background-color: #fff;
                &:after{
                    display:none;
                }
            }
        }

        @media (min-width: $screen-sm-min) and (max-height: 650px) {
            padding: 0;
        }

        @media (max-width: $screen-xs-max) {
            padding-top: 0;
            opacity: 1;
            transform: translateY(0%);
        }
    }

    .center-blurb {
        .et_pb_blurb_content {
            transform: scale(-1, 1);

            .et_pb_blurb_container {
                transform: scale(-1, 1);
            }
        }

        .sprite-icon {
            @include spriteAnimation(100px, 90, 1.5s, 'play-1');

            @media (min-width: $big-screens) {
                @include spriteAnimation(130px, 90, 1.5s, 'play-1');
            }
        }
    }

    .right-blurb {
        .sprite-icon {
            @include spriteAnimation(100px, 79, 1.2s, 'play-2');

            @media (min-width: $big-screens) {
                @include spriteAnimation(130px, 79, 1.2s, 'play-2');
            }
        }
    }

    .left-blurb{
        .sprite-icon{
            @include spriteAnimation(100px, 135, 1.5s, 'play-3');
            @media (min-width: $big-screens){
                @include spriteAnimation(130px, 135, 1.5s, 'play-3');
            }
        }
    }

    @media (max-width: $screen-xs-max) {
        @include rempx(padding-top, 4.5rem);

        &:after {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-size: cover;
            background-position: center;
            z-index: 0;
            opacity: .8;
            content: '';
        }
    }

    @media (min-width: $screen-sm-min) and (max-height: 650px) {
        .vertical-middle {
            @include rempx(padding-top, 13.5rem);
        }
    }
}

.top-section-text {
    @media(min-width: $big-screens) {
        @include rempx(margin-bottom, 3rem);
    }

    padding: 0 5%;

    p {
        @include rempx(max-width, 90rem);
        margin: auto;
        @include rempx(font-size, 1.6rem);
        font-family: $muli;
        line-height: 2;
        letter-spacing: 3px;
        text-transform: uppercase;
        opacity: 0.5;
    }

    @media(max-width: $screen-xs-max) {
        p {
            opacity: 1;
        }
    }
}

// ------------------------- AUTO LGA SECTION & HISTORY SECTIONS

#auto-lga-section, #history {
    padding:0;

    .et_pb_row {
        padding:0;
        width:100%;
        max-width:none;
    }

    .et_pb_row {
        height:100%;

        .et_pb_column {
            height:100%;
            display:table;
        }
    }

    .col-inner {
        display: table-cell;
        vertical-align: middle;
    }

    .et_pb_row:first-child {
        .et_pb_column {
            @include rempx(padding, 10rem 0);
        }
    }

    .et_pb_column {
        margin: 0;
        width: 50%;
    }
    .et_pb_blurb{
        background-color: transparent;
        margin-bottom: 0;

        p {
            margin: 0 20%;
            opacity: 0.5;
            min-height: 40px;
        }
    }

    .et_pb_column_1_2:last-child{
        .btn-std{
            border:1px solid #000;
            &:hover{
                color:#000!important;
                background-color: #fff;
            }
        }
    }

    .et_pb_row_9 .et_pb_column_1_2{
        #svg-lga-small{
            width: 200px;
            height: 200px;
            margin: 0 auto;
            margin-bottom: 20px;
            svg{
                max-width: 100%;
                max-height: 100%;
                display: inline-block;
            }
        }
    }

    .et_pb_column_10 {
        &:before {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $neg-ss;
            content: '';
            z-index: 0;
        }

        .col-inner {
            position: relative;
            z-index: 1;
        }
    }
    .about-blurb{
        p{
            color:rgba(#fff, 0.7);
        }
        .sprite-icon{
            margin:5px auto 25px auto;
            @include spriteAnimation(110px, 160, 2.5s, 'play-about');
        }
        h4{
            margin-bottom: 25px;
        }

    }

    .blurb-processes{
        .sprite-icon{
            margin:25px auto;
            @include spriteAnimation(80px, 77, 1.2s, 'play-processes');
        }
    }

    .et_pb_row, .et_pb_row .et_pb_column{
        @media(max-width: $screen-xs-max){
            display:block;
            height:auto;
            float:none;
        }
    }

    .col-inner{
        @media(max-width: $screen-xs-max) {
            position: relative;
            display: block;
        }
    }
}

#auto-lga-section {

    .top-section-text {
        text-align: center;
        margin-top: -105px;
        @media (max-width: $screen-xs-max) {
            margin:0;
            @include rempx(margin-bottom, 3rem);
        }

        p {
            display:inline-block;
            @include rempx(max-width, 30rem);
            @include rempx(font-size, 1.7rem);
            color:#fff;
            line-height: 2;
            opacity:1;
            letter-spacing: 6px;
        }

        &:before {
            display: none;
        }
    }

    .btn-close {
        display: none;
    }

    .et_pb_column:last-child{
        &:before{
            content:"";
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background-color: rgba(0,0,0,0.3);
            @media(max-width: $screen-xs-max){
                z-index:0;
            }
        }
    }

    .wpcf7{
        form{
            @include rempx(padding-top, 3rem);
        }

        & > p:first-of-type{
            display: none;
        }

        h4 {
            display: none;
        }
        .row-wrap:last-of-type{
            @include rempx(margin-bottom, 4.2rem);
            @media(min-width: $big-screens){
                @include rempx(margin-bottom, 6.5rem);
            }
        }
    }

    .btn-std{
        border:1px solid #000;
        &:hover{
            color:#000!important;
            background-color: #fff;
        }
    }
}

.background-image-auxiell {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    @include vUnitsFallback(height, 100vh);
    z-index:-1;

    &:after{
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color: rgba($mild-black, 0.6);
    }
}

.bg-image{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#history {
    .et_pb_row .et_pb_column:first-of-type{
        .et_pb_blurb, h4{
            color:#fff;
        }

        .btn-auxiell-blurb{
            background-color: rgba(#000, 0.3);
        }
    }
    .et_pb_main_blurb_image{
        img{
            width:150px;
            height:150px;
        }
    }

    .et_pb_column_1_2:first-child {
        &:before {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $neg-ss;
            content: '';
            z-index: 0;
        }

        .col-inner {
            position: relative;
            z-index: 1;
        }
    }
}

// -------------------- TRAINING CENTERS
#training-centers{
    @include rempx(padding-left, 3rem);
    @include rempx(padding-right, 3rem);
    &.not-a-real-slider{
        .see-more-ls-call{
            opacity:0;
            visibility:hidden;
        }
    }
}

#training-center-slider, #examples-slider{
    li{
        height:100%;
        position:relative;
        min-height: 150px;

        a{
            position:relative;
            display:block;
            height:100%;
            @include rempx(min-height, 10rem);
            text-align: center;
            z-index:99;

            &:hover{
                &:before, &:after{
                    opacity:1;
                    visibility: visible;
                }

                &:after{
                    transform: translate3d(-50%, -50%, 0) scale(1);
                }
                img{
                    transform: scale(0.95);
                }
            }

            &:before{
                content:"";
                position:absolute;
                top:0;
                left:0;
                height:100%;
                width:100%;
                background-color: rgba($whitish, 0.85);
                opacity:0;
                visibility: hidden;
                z-index:12;
                transition:transform 0.35s, opacity 0.35s;
            }

            &:after{
                content:"SCOPRI";
                position:absolute;
                top:50%;
                left:50%;
                font-family: $muli;
                color: rgba($blackish, 0.6);
                font-style: normal;
                letter-spacing: 2px;
                opacity:0;
                visibility: hidden;
                transform:translate3d(-50%, -50%, 0) scale(0.9);
                z-index:12;
                transition:transform 0.35s, opacity 0.35s;
            }
        }
    }

    img{
        filter:grayscale(100%);
        max-height: 150px;
        transition:transform 0.35s;
    }
}

#examples-slider {
    img{
        max-height: 80px;
    }
}

.et_pb_section.slider-examples-module{
    @include rempx(padding-left, 3rem);
    @include rempx(padding-right, 3rem);
    h4{
        text-align:center;
        text-transform: uppercase;
        &:after{
            margin-left: auto!important;
            margin-right: auto;
        }
    }
    .lightSlider{
        li{
            min-height:200px;
            padding-left:20px;

            a:before{
                background-color: rgba(#fff, 0.85)!important;
            }
        }
    }
    .lSSlideOuter{
        .lSPager{
            position:relative;
            text-align: left;
            padding:0 50px;
            @media(max-width: $screen-xs-max){
                padding:0;
                text-align: center;
            }
        }
    }

    .see-more-ls-call{
        @media(max-width: $screen-xs-max){
            display:none;
        }
    }
}

.slider-train-centers-module > .et_pb_module{
    position:relative;

    .see-more-ls-call {
        position:absolute;
        @include rempx(bottom, 8rem);
        right:2.5%;

        @media (max-width: $screen-xs-max) {
            /*position: relative;
            display: block;
            width: 100%;
            right: 0;
            bottom: 0;
            text-align: center;*/
            display:none;
        }
    }
}

#training-centers {
    @include rempx(padding-top, 8rem);
    z-index:0;

    h4 {
        @include rempx(font-size, 2.2rem);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        &:after{
            content:"";
            display: block;
            margin:30px auto 50px auto;
            width:40px;
            height:2px;
            background-color: rgba(#000, 0.4);
        }
    }

    .lSPager{
        @include rempx(margin-top, 5rem!important);
        @include rempx(margin-bottom, 8rem);
        margin-left: 5%;
        text-align: left;
        @media(max-width: $screen-xs-max){
            @include rempx(margin-top, 3rem!important);
            margin-left: 0;
            text-align: center;
        }
    }

    .lslide{
        @media(max-width: $screen-xs-max){
            padding:0 15px;
        }
    }

    @media(max-width: $screen-xs-max) {
        @include rempx(padding, 8rem 0);
    }
}

// ------------------------ PRESS SECTION

#press {
    background-color: $whitish;
    @media(max-width: $screen-xs-max){
        display: block;
    }

    .et_pb_row{
        max-width: 1100px;
        @media (min-width: $big-screens){
            max-width: 1440px;
        }

        @media(max-width: $screen-xs-max){
            max-width: 100%;
        }
    }

    article h5 {
        @include rempx(font-size, 1.6rem);
    }

    .vertical-middle {
        @include rempx(padding-top, 13.5rem);

        @media (max-width: $screen-xs-max) and (max-height: 680px){
            padding-top: 0;
        }

        @media (max-width: $screen-xs-max){
            display: block;
            padding-top: 0;
        }
    }

    a{
        &:hover{
            .img-wrapper{
                .overlay-image{
                    transform: translate3d(0,0,0) scale(1.2);
                    opacity:0.5;
                }
                img{
                    opacity:0;
                    transition:opacity 0.05s;
                }

                &:before, &:after{
                    opacity:1;
                    transform: translate3d(0,0,0);
                }

                &:after{
                    transform: translate3d(-50%,-50%,0);
                }
            }
        }
    }

    .img-wrapper{
        background-color: $blackish;
        overflow: hidden;
        .overlay-image{
            transform: translate3d(0,-10%,0) scale(1.2);
            transition:opacity 0.35s, transform 0.35s;
        }

        img{
            transition:opacity 0.45s;
        }

        &:before{
            content:"";
            position:absolute;
            top:10%;
            left:10%;
            width:80%;
            height:80%;
            border:1px solid #fff;
            opacity:0;
            z-index:10;
            transform: translate3d(0,10px,0);
            transition:opacity 0.35s, transform 0.35s;
        }
        &:after{
            content:"SCOPRI";
            position:absolute;
            top:50%;
            left:50%;
            transform: translate3d(-50%, -60%, 0);
            font-family: $muli;
            color:#fff;
            opacity:0;
            z-index:10;
            transition:opacity 0.35s, transform 0.35s;

        }
    }
}

.et_pb_blog_two_col {
    .container-fluid {
        padding: 0;

        & > .row {
            margin: 0;
        }
    }

    .row, .row > div {
        height: 100%;
    }

    .et_pb_image_container{
        margin: 0;
    }

    article {
        position:relative;
        @include rempx(height, 21rem);
        @include rempx(margin-top, 1.5rem);
        @include rempx(margin-bottom, 1.5rem);
        letter-spacing: 1.5px;
        font-family: $quicksand;

        @media (max-width: $screen-xs-max) {
            height: auto;
        }

        .article-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            @include rempx(padding-bottom, 3rem);

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: rgba($mild-black, 0.15);
            }

            @media (max-width: $screen-xs-max) {
                height: auto;

                &:after {
                    display: none;
                }
            }
        }

        &:nth-child(5), &:nth-child(6){
            .article-wrapper:after{
                display:none;
            }
        }
    }

    .date {
        font-weight: 600;
        color: rgba(#000, 0.5);
        text-transform: uppercase;

        @media (max-width: $screen-xs-max) {
            @include rempx(margin-top, 3rem);
        }
    }

    h5{
        @include rempx(margin, 1rem 0);
        padding: 0;
        font-family: $quicksand;
        font-weight: 700;
        line-height: 1.5;
        color: #000;
        text-transform: uppercase;
    }

    .abstract{
        @include rempx(font-size, 1.2rem);
        color: rgba(#000, 0.5);
        line-height: 2;
    }
}

.is-mobile{
    .page-template-homepage{
        video {
            display: none;
        }
    }
    #welcome {
        .fullwidth-row {
            height: auto;

            .et_pb_column {
                height: auto;
                background-size: cover;
                background-position: center;
            }

            .et_pb_slides {
                @include rempx(padding, 6rem 0);
            }
        }
    }
}
