// ----------------- PAGE PROCESSES
.page-loaded{
    #processes-welcome .processes-calls-row h4:before, #processes-welcome .processes-calls-row h4:after{
        opacity:1;
        transform: translate3d(0,-100%,0) rotate3d(0,0,0,0deg);
    }
}

// --- TEMP
.disabled {
    opacity: 0;
    visibility: hidden;
    @media(max-width: $screen-xs-max) {
        display: none;
    }
}
/// - TEMP

#processes-welcome{
    @include vUnitsFallback(height, 100vh);
    transition:transform 1s ease 0.3s;

    &:before{
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color: rgba($mild-black, 0.8);
        z-index:1;
        transform: translate3d(0,0,0);
    }

    .call-to-scroll{
        @include rempx(margin-left, -3.8rem);
        z-index:999;
        color: $whitish;
        &:after{
            color: rgba($whitish, 0.15);
        }
    }
    .processes-intro{
        text-align: center;
        h4{
            margin: 0;
        }

        .et_pb_column{
            @media(max-width: $screen-xs-max){
                margin-bottom: 0;
            }
        }
    }

    .copy{
        position:absolute;
        bottom:0;
        right:0;

        @media(max-width: $screen-xs-max){
            position:relative;
            bottom:auto;
            right:auto;
            margin-top: 20px;
        }

        h4{
            text-align: right;
            @media(max-width: $screen-xs-max){
                text-align: center;
            }
        }
    }

    .abstract{
        color: $whitish;
        max-width:350px;
        margin-top: 15px;
        text-align: right;
        @media(max-width: $screen-xs-max){
            text-align: center;
        }
    }

    //TEMP
    .col-inner{
        height:100%;
    }

    .processes-calls-row{
        h4 {
            margin-top:160px;
            @include rempx(font-size, 2rem);
            min-height: 48px;
            &:before{
                @include rempx(font-size, 5rem);
                transform: translate3d(0,-100%,0) rotate3d(0,-1,0,90deg);
                transition: transform 1.5s cubic-bezier(.36,.39,0,1.3) 1s, opacity 0.35s linear 1s;
            }

            &:after, &:before{
                content:"";
                position:absolute;
                top:-30px;
                left:50%;
                margin-left: -50px;
                width:100px;
                height:100px;
                line-height:100px!important;
                vertical-align:middle;
                text-align: center;
                letter-spacing: normal;
                opacity:0;
            }

            &:after{
                border:1px solid #fff;
                border-radius: 50%;
                transform: translate3d(0,-100%,0) rotate3d(0,1,0,90deg);
                transition: transform 1.5s cubic-bezier(.36,.39,0,1.3) 0.8s, opacity 0.35s linear 0.8s;
            }

            @media (min-width: $big-screens){
                @include rempx(font-size, 2.2rem);
                min-height: 65px;
            }
        }

        p {
            color:#fff;
            min-height:78px;

            @media (min-width: $big-screens){
                min-height: 100px;
            }
        }

        .et_pb_column{
            @include rempx(padding, 2rem);
            backdrop-filter: blur(10px);
            background-color: rgba(#fff, 0.1);

            @media (max-width: 320px) {
                backdrop-filter: blur(5px);
            }
        }

        @media(max-width: $screen-xs-max){
            .col-inner{
                padding-top: 0;
            }
        }

        @media(max-width: $big-screens){
            padding-top: 0;
            .et_pb_button, .et_pb_blurb{
                margin-bottom:0;
            }
        }

        #blurb-account-relationship{
            h4{
                &:before{
                    @extend .ionicons;
                    content:"\f11f";
                }
            }
        }

        #blurb-value-delivery{
            h4{
                &:before{
                    content:"\e920";
                }
            }
        }

        #blurb-hr-management{
            h4{
                &:before{
                    @extend .ionicons;
                    content:"\f3e4";
                }
            }
        }

    }

    .systems-intro .et_pb_column {
        @media (max-width: $screen-xs-max) {
            margin-bottom: 0;
        }
    }

    @media (max-width: $screen-xs-max) {
        @include rempx(padding-top, 4.5rem);

        &:after {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-size: cover;
            background-position: center;
            z-index: 0;
            opacity: .8;
            content: '';
        }
    }

    #skill-path-svg{
        height: 480px;
        opacity: .3;
        transform: scale(1.2);
        transform-origin: center;
        transition: opacity 1s ease, transform 1s ease-out;
        @media(max-width: $screen-xs-max){
            height:auto;
            width:100%;
        }

        svg{
            height:100%;
        }

        g{
            opacity:0;
            transition: opacity 1s;
        }

        #circle-arrow, #circle-arrow-2, #Combined-Shape{
            fill: rgba(216, 216, 216, 0);
            transition: fill 2s;
        }
    }
}
.page-loaded{
    #processes-welcome{
        #skill-path-svg{
            opacity: 1;
            transform: scale(1);

            g{
                opacity:1;
            }

            #btn-consultant{
                transition-delay: 0.2s;
            }

            #btn-value-delivery-manager{
                transition-delay: 0.3s;
            }

            #btn-mentee-vd-manager{
                transition-delay: 0.3s;
            }

            #btn-mentee-hr-coach{
                transition-delay: 0.5s;
            }

            #btn-mentee-ar-leader{
                transition-delay: 0.5s;
            }

            #btn-ar-leader{
                transition-delay: 0.7s;
            }

            #btn-hr-coach{
                transition-delay: 0.7s;
            }

            #btn-partner{
                transition-delay: 0.7s;
            }

            #circle-arrow, #circle-arrow-2, #Combined-Shape{
                fill: rgba(216, 216, 216, 1);
                transition-delay: 1s;
            }
        }
    }
}

.page-template-processes, .page-template-processes-final{

    .process-slide{
        @include rempx(margin-right, 6.5rem);
        display:none;

        @media(max-width: $screen-xs-max){
            display: block;
        }

        &.block{
            display: block;
        }

        @media(max-width: $screen-xs-max){
            margin-right: 0;
            @include rempx(padding-top, 8rem);
            @include rempx(padding-bottom, 8rem);

            &:nth-child(even){
                background-color: $whitish;
            }
        }

        p{
            font-style: normal;
            @include rempx(font-size, 1.6rem);
            line-height: 2;
        }

        .left-border{
            position:relative;
            @include rempx(margin-left, 3rem);
            @include rempx(padding-left, 3rem);
            border-left: 2px solid $blackish;

            @media(max-width: $screen-xs-max){
                padding:0;
                margin:0;
                border-left: none;
                text-align: center;
                @include rempx(margin-top, 2rem);
            }

        }

        .full-border{
            @include rempx(padding, 1.5rem);
            border: 1px solid rgba($blackish, 0.4);
        }

        .room-for-title{
            margin-top: 200px;
            @media (max-height: 800px){
                margin-top: 150px;
            }

            @media (max-width: $screen-xs-max){
                margin-top:0;
            }
        }

        .slide-title{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            text-align: center;
            @include rempx(margin-top, 8rem);
            h3:after{
                margin-left: auto;
                margin-right: auto;
            }

            @media(max-width: $screen-xs-max){
                position:relative;
                margin-top: 0;
                display:none;
            }
        }

        &.process-slide-1{
            .slide-title{
                @media(max-width: $screen-xs-max){
                    display:block;
                }
            }
        }

    }

    .call-to-scroll{
        position:absolute;
        bottom:0;
        left:50%;
        text-align: center;
        transform: translate3d(-50%, 0, 0);
        @media(max-width: $screen-xs-max){
            display: none;
        }
        &:after{
            @extend .ionicons;
            content: "\f3d4";
            display:inline-block;
            @include rempx(font-size, 8rem);
            color: rgba($blackish, 0.15);
            animation-name: clickMe;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
        &.back-up{
            &:after{
                content:"\f3d7";
            }

            &:hover{
                cursor:pointer;
            }

            @media(max-width: $screen-xs-max){
                display: block;
                position:relative;
                @include rempx(margin-top, 5rem);
            }
        }

        span{
            display: block;
        }

    }

    svg{
        max-width: 100%;
    }

    .restart-call-wrapper{
        position:absolute;
        bottom:80px;
        right:80px;
        &:hover{
            .restart-label{
                opacity:1;
                transform:translate3d(-25%,5px,0);
            }
        }
    }
    .restart{
        display: block;
        width:50px;
        height:50px;
        color:#fff;
        background-color: rgba(#000, 0.8);
        text-align: center;
        line-height: 50px;
        font-size:26px;
        vertical-align: middle;
        cursor:pointer;
        transition: transform 0.35s;

        @media(max-width: $screen-xs-max){
            /*position:fixed;
            bottom:20px;
            right:20px;*/
            display:none;
        }

        &:hover{
            transform: translate3d( 0, 5px, 0 );
        }

        &:active{
            transform: translate3d( 0, -20px, 0 );
        }
    }

    .restart-label{
        display:inline-block;
        margin-top: 15px;
        opacity:0;
        transform:translate3d(-25%,0,0);
        transition:opacity 0.35s, transform 0.35s;
    }

    .small-context-popup{
        @include rempx(padding-top, 50px);
        max-width: 580px;
        @media(max-width: $screen-sm-max){
            width:80%;
        }
        @media(max-width: $screen-sm-max){
            width:90%;
        }

        .title{
            margin-bottom:15px;
        }
    }

    &.page-id-3076 {

        .work-with-us-section {

            display: none;
        }
    }

    .work-with-us-section{
        display:block;
    }
}

.hr-management-active-process{
    .work-with-us-section{
        display:block!important;
    }
}

#process-end-cta{
    position:absolute;
    left:0;
    @include rempx(bottom, -10rem);
    transform: translate3d(-50%,100%,0);
    border:1px solid #000;
    background-color: rgba(0,0,0,1);
    &:hover{
        background-color: #fff;
        color:#000;
    }
    @media(max-width: $screen-xs-max){
        position:relative;
        transform: translate3d(0,0,0);
        bottom:0;
    }
}

.hr-slide{

    .svg-wrapper{
        margin:0 auto;
        max-width: 450px;
    }

    &.process-slide-3, &.process-slide-4, &.process-slide-5, &.process-slide-6{
        .svg-wrapper{
            max-width: 550px;
        }
    }

    &.process-slide-7{
        .svg-wrapper{
            max-width: 350px;
            @media (max-width: $screen-xs-max){
                max-width: 200px;
            }
        }
    }

    &.skill-path{
        @media(max-width: $screen-xs-max){
            @include rempx(padding-bottom, 15rem);
        }
        .skill-path-copy-wrapper{
            position:relative;
            text-align:center;
            @include rempx(margin-top, 5rem);
            margin-left:15%;
            width:70%;
            display: block;

            @media(max-width: $screen-xs-max){
                width:100%;
                margin-left: 0;
            }

            .full-border{
                position:absolute;
                top:0;
                left:0;
                width:100%;
                opacity:0;
                transform: translate3d(0,50px,0);
                transition: opacity 0.35s, transform 0.35s ease;
                &.active{
                    opacity:1;
                    transform: translate3d(0,0,0);
                    transition: opacity 0.35s linear, transform 0.35s ease;
                }
                &.deactivating{
                    opacity:0;
                    transform: translate3d(0,-20px,0);
                    transition: opacity 0.25s, transform 0.35s ease;
                }
            }
        }

        .copy-trigger:hover{
            cursor:pointer;
        }

        .svg-wrapper{
            max-width: 70%;
            margin: 0 auto;
            text-align: center;
            @media(max-width: $screen-xs-max){
                max-width: 100%;
            }

            svg{
                width: 100%;
            }
        }
    }

    &.process-slide-10{
        @media(max-width: $screen-xs-max){
            padding-bottom: 0;
        }

        .logo{
            float: right;
            margin-right: 15px;
            @include rempx(font-size, 12rem);
            @media(max-width: $screen-xs-max){
                float:none;
                display:block;
                text-align: center;
                @include rempx(font-size, 5rem);
            }
        }
        .left-border{
            position:relative;
            margin-left: 0;
            transform: translate3d(-15px,0,0);

            @media(max-width: $screen-xs-max){
                transform: translate3d(0,0,0);
            }
        }
    }

    @media (max-width: $screen-xs-max){
        &.process-slide-4{
            #top-scheme{
                opacity:0.5;
            }
        }

        &.process-slide-5{
            #bottom-scheme{
                opacity:0.5;
            }
        }

        &.process-slide-6{
            #bottom-scheme{
                opacity:0.5;
            }
        }
    }
}

.ar-slide{

    &.process-slide-1{
        .svg-wrapper {
            margin: 0 auto;
            max-width: 450px;
        }
    }

    .svg-wrapper{
        max-width: 100%;
    }

    &.process-slide-2{
        .svg-wrapper{
            transform: translate3d(25%,0,0);
            @media(max-width: $screen-xs-max){
                transform: translate3d(0,0,0);
            }
        }
    }

    &.process-slide-3{
        .svg-wrapper{
            transform: translate3d(25%,0,0);
            transition: transform 0.35s ease;
            @media(max-width: $screen-xs-max){
                transform: translate3d(0,0,0);
            }
        }
    }

    &.process-slide-3, &.process-slide-4{
        @media(max-width: $screen-xs-max){
            #light-black-block, #dark-black-block{
                opacity:0.5;
            }
        }
    }

    &.process-slide-5{
        .logo{
            float: right;
            margin-right: 15px;
            @include rempx(font-size, 12rem);
            @media(max-width: $screen-xs-max){
                float:none;
                display:block;
                text-align: center;
                @include rempx(font-size, 5rem);
            }
        }

        .left-border{
            position:relative;
            margin-left: 0;
            transform: translate3d(-15px,0,0);
            @media(max-width: $screen-xs-max){
                transform: translate3d(0,0,0);
            }
        }
    }

    @media(max-width: $screen-xs-max){

        #factory-top-bar,
        #factory-middle-bar,
        #factory-bottom-bar,
        #top-bg-left,
        #top-bg-right,
        #middle-bg,
        #bottom-gb,
        #action,
        #resp-cliente,
        #resp-progetto{
            opacity:0;
            transition:opacity 0.6s;
        }

        &.process-slide-2{

            #factory-top-bar,
            #factory-middle-bar,
            #top-bg-right,
            #top-bg-left{
                opacity: 1;
            }
        }

        &.process-slide-3{

            #factory-top-bar,
            #factory-middle-bar,
            #top-bg-right,
            #top-bg-left,
            #resp-cliente{
                opacity: 1;
            }

            .svg-wrapper{
                transform: translate3d(0,0,0);
            }
        }

        &.process-slide-4{

            #factory-top-bar,
            #factory-middle-bar,
            #top-bg-right,
            #top-bg-left,
            #resp-cliente,
            #resp-progetto,
            #middle-bg{
                opacity: 1;
            }
        }

        &.process-slide-5{

            #light-black-block{
                opacity:1;
            }

            .svg-wrapper{
                transform: translate3d(0,0,0);
            }
        }
    }
}

.vd-slide{

    .svg-wrapper{
        max-width: 100%;
    }

    &.process-slide-4{
        @media(max-width: $screen-xs-max){
            #light-outer-block, #dark-black-block{
                opacity:0.5;
            }
        }
    }

    &.process-slide-5{
        .logo{
            float: right;
            margin-right: 15px;
            @include rempx(font-size, 12rem);
            @media(max-width: $screen-xs-max){
                float:none;
                display:block;
                text-align: center;
                @include rempx(font-size, 5rem);
            }
        }

        .left-border{
            position:relative;
            margin-left: 0;
            transform: translate3d(-15px,0,0);
            @media(max-width: $screen-xs-max){
                transform: translate3d(0,0,0);
            }
        }
    }

    &.process-slide-7{
        @media(max-width: $screen-xs-max) {
            padding-bottom: 0;
        }
    }

    @media(max-width: $screen-xs-max){
        #resp-cliente,
        #account-manager tspan,
        #action tspan,
        #resp-progetto,
        #pm-1 tspan,
        #pm-2 tspan,
        #team-memb-1 tspan,
        #team-memb-2 tspan,
        #team-memb-n tspan{
            opacity:0;
            transition:opacity 0.6s;
        }

        &.process-slide-3{
            #resp-cliente,
            #account-manager tspan,
            #resp-progetto,
            #pm-1 tspan,
            #pm-2 tspan{
                opacity:1;
            }
        }

        &.process-slide-4{
            #resp-cliente,
            #account-manager tspan,
            #action tspan,
            #resp-progetto,
            #pm-1 tspan,
            #pm-2 tspan,
            #team-memb-1 tspan,
            #team-memb-2 tspan,
            #team-memb-n tspan{
                opacity:1;
            }
        }
    }
}

// hidden
.fp-enabled .page-template-processes, .fp-enabled .page-template-processes-final{
    .top-bar .logo {
        opacity:0;
        transform: translateY(-50%) scale(0.8);
        transition: opacity .15s linear 0.6s, transform .15s ease 0.6s;
    }

    &.viewing-section.fp-viewing-0{
        .top-bar .logo {
            opacity:1;
            transition: opacity .5s, transform .5s ease;
        }
    }

    &.scrolling-up{
        .process-slide-1{
            .slide-title {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
            .svg-wrapper{
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }

            p{
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }
    }

    .process-slide-1{
        .slide-title {
            opacity: 0;
            transform: translate3d(0, 50px, 0);
        }
        .svg-wrapper{
            opacity: 0;
            transform: translate3d(-50px, 0, 0);
        }

        p{
            opacity: 0;
            transform: translate3d(50px, 0, 0);
        }
    }

    .process-slide-1.fp-completely{
        .slide-title{
            opacity:1;
            transform:translate3d(0,0,0);
            transition: transform 0.5s ease, opacity 0.5s;
        }

        .svg-wrapper{
            opacity:1;
            transform:translate3d(0,0,0);
            transition: transform 0.5s ease, opacity 0.5s;
        }

        p{
            opacity:1;
            transform:translate3d(0,0,0);
            transition: transform 0.5s ease, opacity 0.5s;
        }
    }

    .ar-slide{

        #factory-top-bar,
        #factory-middle-bar,
        #factory-bottom-bar,
        #top-bg-left,
        #top-bg-right,
        #middle-bg,
        #bottom-gb,
        #action,
        #resp-cliente,
        #resp-progetto{
            opacity:0;
            transition:opacity 0.6s;
        }

        p{
            opacity:0;
            transition: opacity 0.6s;
        }

        &.fp-completely{
            p{
                opacity:1;
            }
        }

        &.process-slide-2.fp-completely{

            #factory-top-bar,
            #factory-middle-bar,
            #top-bg-right,
            #top-bg-left{
                opacity: 1;
            }
        }

        &.process-slide-3.fp-completely{

            #factory-top-bar,
            #factory-middle-bar,
            #top-bg-right,
            #top-bg-left,
            #resp-cliente{
                opacity: 1;
            }

            .svg-wrapper{
                transform: translate3d(0,0,0);
            }
        }

        &.process-slide-4.fp-completely{

            #factory-top-bar,
            #factory-middle-bar,
            #top-bg-right,
            #top-bg-left,
            #resp-cliente,
            #resp-progetto,
            #middle-bg{
                opacity: 1;
            }
        }

        &.process-slide-5.fp-completely{

            #light-black-block{
                opacity:1;
            }

            .svg-wrapper{
                transform: translate3d(0,0,0);
            }
        }
    }

    .vd-slide{

        #resp-cliente,
        #account-manager tspan,
        #action tspan,
        #resp-progetto,
        #pm-1 tspan,
        #pm-2 tspan,
        #team-memb-1 tspan,
        #team-memb-2 tspan,
        #team-memb-n tspan{
            opacity:0;
            transition:opacity 0.6s;
        }

        p{
            opacity:0;
            transition: opacity 0.6s;
        }

        &.fp-completely{
            p{
                opacity:1;
            }
        }

        &.process-slide-3.fp-completely{
            #resp-cliente,
            #account-manager tspan,
            #resp-progetto,
            #pm-1 tspan,
            #pm-2 tspan{
                opacity:1;
            }
        }

        &.process-slide-4.fp-completely{
            #resp-cliente,
            #account-manager tspan,
            #action tspan,
            #resp-progetto,
            #pm-1 tspan,
            #pm-2 tspan,
            #team-memb-1 tspan,
            #team-memb-2 tspan,
            #team-memb-n tspan{
                opacity:1;
            }
        }
    }

    .hr-slide{

        .left-border{
            opacity:0;
            transition: opacity 0.35s;
        }

        #cloud-graphic{
            #btn-mentee-vd-manager{
                opacity:0;
                transition: opacity 0.6s;
            }

            #btn-mentee-ar-leader{
                opacity:0;
                transition: opacity 0.6s;
            }

            #btn-mentee-hr-coach{
                opacity:0;
                transition: opacity 0.6s;
            }

            #circle-arrow{
                opacity:0;
                transition: opacity 0.6s;
            }

            #circle-arrow-2{
                opacity:0;
                transition: opacity 0.6s;
            }
        }

        #top-scheme{
            opacity:1;
            transition: opacity 0.6s;
        }

        &.process-slide-4.fp-completely, &.process-slide-5.fp-completely {
            #top-scheme{
                opacity:0.5;
            }
        }

        &.process-slide-6.fp-completely {
            #bottom-scheme{
                opacity:0.5;
            }
        }

        &.process-slide-9.fp-completely {
            #cloud-graphic{
                #btn-mentee-vd-manager{
                    opacity:1;
                    transition: opacity 0.6s;
                }

                #btn-mentee-ar-leader{
                    opacity:1;
                    transition: opacity 0.6s;
                }

                #btn-mentee-hr-coach{
                    opacity:1;
                    transition: opacity 0.6s;
                }

                #circle-arrow{
                    opacity:1;
                    transition: opacity 0.6s;
                }

                #circle-arrow-2{
                    opacity:1;
                    transition: opacity 0.6s;
                }
            }
        }
    }
}

.fp-enabled{
    .viewing-section{
        .hr-slide{
            .left-border{
                opacity:1;
            }
        }
    }

    .svg-wrapper{
        transition:opacity 0.6s;
    }

    .process-slide-2.passed{
        .svg-wrapper{
            opacity:0;
        }
    }
}



// --------------------------- PAGE PROCESSES FINAL

.page-template-processes-final{
    .et_pb_section.welcome-section .et_pb_row{
        left: 0;
    }

    section{
        position: relative;
    }
}