.page-template-default,
.single-examples-euxilia {
    .internal-welcome {
        padding-top: 2rem;

        h1, h2, h3, h4, h5 {
            margin-bottom: 1rem;
            font-family: $muli;
            font-weight: 800;
            line-height: 1.2;
            text-align: center;

            @media(min-width: $screen-jumbo){
                font-size: 3rem;
            }
        }

        p {
            text-align: center;

            @media(min-width: $screen-jumbo){
                font-size: 1.6rem;
            }
        }

        .et_pb_row {
            max-width: 1000px;

            @media (max-width: $screen-xs-max) {
                padding-top: 0;
            }
        }
    }

    .intro-section {
        padding-top: 12rem;
        padding-bottom: 0;

        @media (max-width: $screen-xs-max) {
            padding-top: 10rem;
        }

        .et_pb_row {
            @media (max-width: $screen-xs-max) {
                padding: 0;
            }
        }

        .intro-wrapper {
            position: relative;
            text-align: center;

            @media(min-width: $screen-jumbo){
                height: 20rem;
            }
        }

        .intro-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;

            img {
                position: relative;
                top: 50%;
                height: 6rem;
                transform: translate(0, -50%);
                @media (max-width: 550px){
                    height: 4rem;
                }
            }
        }

        svg {
            display: block;
            width: 180px;
            height: 180px;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
            overflow: visible;

            @media (max-width: $screen-sm-max){
                width: 120px;
                height: 120px;
            }

            @media (max-width: $screen-xs-max){
                width: 80px;
                height: 80px;
            }
        }
    }

    .example-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translate(0, -50%);
        text-align: center;
    }

    .example-wrapper {
        position: relative;
    }

    .example-icon {
        display: inline-block;
        padding: 1.5rem;
        background-color: #fff;
        border-radius: 10px;
        text-align: center;

        img {
            height: 10rem;
        }
    }

    .example-name {
        margin: 1.5rem 0;
    }

    .preview p{
        margin-top: 5rem;
        font-size: 2rem;
        font-family: $muli;
        color: $blackish;
        text-transform: uppercase;
    }

    .et_pb_button {
        margin-top: 2rem;
        min-width: 25rem;
    }

    .example {
        float: left;
        width: 50%;
        margin-bottom: 5rem;
        text-align: center;

        @media (max-width: $screen-xs-max){
            width: 100%;
        }
    }

    .stores {
        display: block;
    }

    .store {
        display: inline-block;
        width: 3rem;
        margin: 0 3rem;

        a {
            display: inline-block;
            transition: transform .35s $cubic;

            &:hover, &:focus, &:active{
                transform: scale(1.2);
            }
        }
    }
}

.euxilia-context-scheme,
.euxilia-decisionale-scheme {
    svg {
        width: 100%;
        height: auto;
    }
}
