.page-template-default{
    .welcome-blog {
        display: block;
        padding: 0;
        max-width: 100%;
        &>.vertical-middle{
            display: block;
            max-width: 100%;
        }
        .et_pb_row{
            position:relative;
            height: 100%;
            padding: 0;
            left:0;
            .et_pb_column, .col-inner, .et_pb_code, .lSSlideOuter , .lSSlideWrapper{
                height: 100%;
            }
        }

        .col-inner{
            @media( max-width: $screen-xs-max){
                padding:0;
            }
        }

        .et_pb_code_inner {
            height: 100%;
        }

        .control{
            position:absolute;
            bottom:0;
            padding:15px 0;
            @include rempx(font-size, 4rem);
            color:rgba(#fff, 0.3);
            transition: color 0.35s, transform 0.35s;
            &:hover{
                color:rgba(#fff, 0.8);
                cursor: pointer;
            }
        }

        .left-control{
            left:10%;
            &:hover{
                transform: translate3d(-5px,0,0);
            }
        }

        .right-control{
            right:10%;
            &:hover{
                transform: translate3d(5px,0,0);
            }
        }

        .lSPager.lSpg{
            position: absolute;
            bottom: 3rem;
            width: 100%;
            margin-top: 0;
            &>li{
                a{
                    background-color: rgba(#fff, 0.1);
                }
                &.active{
                    a{
                        background-color: #fff;
                    }
                }
            }
        }
    }

    .section-filtered-blog{
        padding:0;

        .et_pb_row {
            padding:0;
        }
    }

    #main-news-slider{
        @media (min-width: $screen-sm-min){
            height:100%!important;
        }

        .single-main-news{
            position:relative;
            height:100%;

            @media(max-width: $screen-xs-max){
                min-height: 500px;
            }

            span{
                display:block;
            }

            &.clone{
                &.active{
                    .article-meta {
                        .meta-inner:before {
                            transform: scaleY(0);
                        }

                        h3, p, .btn-std{
                            opacity: 0;
                            transform: translate3d(0,0,0);
                        }
                        .main-news-date{
                            opacity:0;
                            transform: translate3d(0,0,0);
                        }
                    }
                }
            }

            &.active{
                .article-meta {
                    .meta-inner:before {
                        transform: scaleY(1.1);
                    }

                    h3, p, .btn-std{
                        opacity: 1;
                        transform: translate3d(0,0,0);
                    }
                    .main-news-date{
                        opacity:0.6;
                        transform: translate3d(0,0,0);
                    }
                }
            }
        }

        .single-main-news-wrapper{
            position:relative;
        }

        .img-wrapper{
            position:relative;
            &:before{
                content:"";
                position:absolute;
                top:0;
                left:0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.5);
                z-index:1;
            }
        }

        .article-meta{
            position: absolute;
            top:0;
            left:0;
            padding-left: 15%;
            width: 70%;
            height: 100%;
            color:#fff;
            text-align: left;
            z-index:3;

            @media (max-width: $screen-md-max){
                padding-left: 10%;
                width: 80%;
            }

            @media (max-width: $screen-xs-max){
                @include rempx(padding, 0 1.5rem);
                width:100%;
                max-width: 450px;
                text-align: center;
                left:50%;
                transform: translate3d(-50%,0,0);
            }

            .meta-inner{
                position:relative;
                @include rempx(padding-left, 5rem);

                &:before{
                    content:"";
                    position:absolute;
                    top:0;
                    left:0;
                    height:100%;
                    width:2px;
                    background-color: white;
                    transform:scaleY(0);
                    transform-origin:top;
                    transition:transform 0.8s ease 0.6s;
                    @media (max-width: $screen-xs-max){
                        display:none;
                    }
                }
                @media (max-width: $screen-xs-max){
                    padding:0;
                }
            }

            .main-news-date{
                font-family: $muli;
                text-transform: uppercase;
                font-size: 1.3rem;
                letter-spacing: 2px;
                opacity:0;
                transform: translate3d(-15px,0,0);
                transition:transform 0.8s ease 0.6s, opacity 0.8s linear 0.6s;
            }

            h3{
                @include rempx(margin-top, 1rem);
                @include rempx(margin-bottom, 1.5rem);
                @include rempx(font-size, 2.4rem);
                color:#fff;
                opacity:0;
                transform: translate3d(-15px,0,0);
                transition:transform 0.8s ease 0.8s, opacity 0.8s linear 0.8s;
                @media (max-width: $screen-xs-max){
                    @include rempx(font-size, 1.8rem);
                }
            }

            p{
                color:rgba(#fff , .8);
                opacity:0;
                transform: translate3d(-15px,0,0);
                transition:transform 0.8s ease 1s, opacity 0.8s linear 1s;
            }

            .btn-std {
                @include rempx(margin-top,5rem);
                margin-left: 0;
                opacity:0;
                transform: translate3d(-15px,0,0);
                transition:transform 0.8s ease 1.2s, opacity 0.8s linear 1.2s;

                @media(max-width: $screen-xs-max){
                    @include rempx(margin-top,3rem);
                    margin-left:auto;
                    margin-right:auto;
                }
            }

        }
    }

    #news-grid-wrapper{
        @include vUnitsFallback(min-height, 100vh);
        padding: 50px 30px;
        background-color: $whitish;
        @media(max-width: $screen-md-max){
            @include rempx(padding, 3rem);
        }
    }

    #news-grid{
        .grid-item{
            margin-bottom:30px;
            opacity: 0;
            transform:scale(0.95);
            transition: opacity 0.35s, transform 0.35s;

            &:last-child{
                margin-bottom:0;
            }

            &.invisible{
                display:none;
            }

            &.is-visible{
                opacity: 1;
                transform:scale(1);
                transition: opacity 0.2s, transform 0.2s;
            }

            p {
                &:last-of-type {
                    margin-bottom: 6rem;
                }
            }
        }

        .grid-item-inner{
            background-color: #fff;
            transition: box-shadow 0.35s;
            &:hover{
                box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
                .overlay-image{
                    transform: scale(1.05);
                }
            }
        }

        .img-wrapper{
            height: 220px;
            overflow: hidden;
            &:before{
                content:"";
                position:absolute;
                top:0;
                left:0;
                height:100%;
                width:100%;
                background-color: rgba($blackish ,0.2);
                z-index: 2;
            }

            @media (max-width: $screen-md-max){
                height:180px;
            }
        }

        .overlay-image{
            transition:transform 0.35s ease;
        }

        .tags-wrapper{
            position:absolute;
            width:100%;
            bottom:0;
            text-align: left;
            @include rempx(padding, 3rem 5rem);

            @media(max-width: $screen-md-max){
                @include rempx(padding, 3rem);
            }

        }

        .cat-tag{
            position:relative;
            @include rempx(padding, 0.8rem 1.5rem);
            margin-right: 3px;
            display: inline-block;
            color:#fff;
            @include rempx(font-size, 1rem);
            font-weight: 700;
            background-color: rgba($brand ,0.2);
            text-transform: uppercase;
            letter-spacing: 1px;
            z-index: 3;
        }

        .article-meta{
            height: 440px;
            @include rempx(padding, 5rem);

            @media(max-width: $screen-xs-max){
                @include rempx(padding, 3rem);
                height:auto;
            }


            .news-date{
                font-family: $muli;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 1.3rem;
                opacity:0.6;
            }

            h3{
                @include rempx(margin, 1rem 0 3rem 0);
                font-weight: 700;
                @include rempx(font-size, 1.8rem);
                letter-spacing:2px;
                text-transform:uppercase;
            }

            p{
                font-style: normal;
            }

            .btn-std{
                position:absolute;
                @include rempx(bottom, 5rem);
                margin-left: 0;
                @extend .filter;


                @media (max-width: $screen-xs-max){
                    position:relative;
                    margin-left:auto;
                    margin-right: auto;
                    bottom:0;
                }
            }
        }
    }

    .filters-wrapper{
        text-align: center;
        @include rempx(margin, 3rem 3rem 5rem 3rem);
    }

    .filter{
        display:inline-block;
        @include rempx(padding, 1rem 2rem);
        @include rempx(margin, 0.5rem);
        font-family: $quicksand;
        font-weight: 700;
        @include rempx(font-size, 1.2rem);
        background-color: #fff;
        color: $brand;
        letter-spacing: 1px;
        border:1px solid $brand;
        text-transform: uppercase;
        transition:color 0.2s, background-color 0.2s;
        &:hover{
            color:#fff;
            background-color: $brand;
            text-decoration: none;
        }
        &:focus{
            text-decoration: none;
        }

        &.selected{
            color:#fff;
            background-color: $brand;
            &:hover{
                color:#fff;
                border:1px solid $brand;
            }
        }
    }
}

#intro-blog {
@include rempx(padding-top, 3rem);
}
