.post-template-default,
.examples-auxiell-template-default,
.project-template-default{

    .et_pb_section{
        @media(max-width: $screen-xs-max){
            margin:0;
        }
    }

    .welcome-section {
        padding:0;
        max-height: 550px;
        @include vUnitsFallback(height, 60vh);

        @media (max-width: $screen-xs-max) {
            height: auto;
            min-height: 380px;
        }
        .container, .row, .row > div{
            height:100%;
        }

        .img-wrapper{
            @media(max-width: $screen-xs-max){
                position:absolute;
            }
        }

        .et_pb_play_video_button{
            margin-top: 3rem;
            display: inline-block;
        }
    }

    .post-intro-wrapper{
        position:absolute;
        top:0;
        width:100%;
        height:100%;
        @include rempx(right,6.5rem);
        z-index:3;
        color:#fff;
        @media (max-width: $screen-xs-max){
            right:0;
        }

        .container{
            max-width: none;
        }

        .post-date{
            @include rempx(font-size, 1.6rem);
            font-family: "Oswald";
            text-transform: uppercase;
            letter-spacing: 2px;
            opacity:0.6;
            @media (max-width: $screen-xs-max){
                display: block;
                text-align: center;
            }
        }

        h1{
            @include rempx(margin, 1.5rem 0 1.5rem 0);
            color:#fff;
            @include rempx(font-size, 3.4rem);
            line-height: 1.8;
            letter-spacing: 2.5px;
            text-transform: uppercase;
            @media (max-width: $screen-xs-max){
                @include rempx(font-size, 2.2rem);
                text-align: center;
                line-height: 1.3;
            }
        }

        .vertical-bottom{
            @include rempx(padding-top, 6rem);
            @include rempx(padding-bottom, 8rem);
        }
    }

    .tags-wrapper{
        @media(max-width: $screen-xs-max){
            text-align: center;
        }
    }

    .cat-tag{
        @include rempx(padding, 1rem 1.5rem);
        margin-right: 3px;
        display: inline-block;
        color:#fff;
        @include rempx(font-size, 1.1rem);
        font-weight: 700;
        background-color: rgba(#000 ,0.2);
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .content-section{
        margin-right:6.5rem;
        @media(max-width:$screen-xs-max){
            margin:0;
        }

        .et_pb_row{
            width:100%;
            @media (max-width: $screen-md-max){
                max-width: 970px!important;
            }

            @media(max-width:$screen-xs-max){
                padding:0;
                max-width: 750px!important;
            }
        }
    }

    .et_pb_text{
        margin-left:8.33333%;
        width:83.3333%;
        @include rempx(padding, 3rem 0);
        @media(max-width: $screen-xs-max){
            text-align: center;
        }
        // ------- WORDPRESS DEFAULT WSIWYG IMAGES

        img.alignright { float: right; margin: 0 0 1em 1em; }
        img.alignleft { float: left; margin: 0 1em 1em 0; }
        img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
        .alignright { float: right; }
        .alignleft { float: left; }
        .aligncenter { display: block; margin-left: auto; margin-right: auto; }

        p, ul{
            font-family: "Open Sans";
            letter-spacing: 1px;
            @include rempx(font-size, 1.8rem);
            font-style: normal;
            line-height: 2.4;
            opacity: 1;
            color:rgba(#333, 0.7);
        }

        a{
            color:#000;
            font-weight: 700;
        }

        ul{
            list-style: disc;
            @include rempx(padding-left, 6rem);
            @include rempx(padding-bottom, 2rem);
            @include rempx(margin, 2rem 0);
        }
    }
}

.single{
    .content-section{
        h1,
        h2,
        h3,
        h4,
        h5,
        h6{
            line-height: 1.6;
        }
        
        h1 {
            @include rempx(font-size, 3.2rem);
        }

        h2 {
            @include rempx(font-size, 2.8rem);
        }

        h3 {
            @include rempx(font-size, 2.6rem);
        }

        h4 {
            @include rempx(font-size, 2.3rem);
        }

        h5 {
            @include rempx(font-size, 2rem);
        }

        h6 {
            @include rempx(font-size, 1.8rem);
        }
    }

    &.single-post {
        #bottom-calls {
            display: block!important;
        }
    }
}
