.single-examples-euxilia {
  .example {
    width: auto;
  }

  #example-intro-right {
    .col-inner {
      margin: 0 auto;
      width: 80%;
      text-align: center;

      p {
        text-align: center;
      }

      @media (min-width: $screen-sm-min){
        width: 60%;
        text-align: left;

        p {
          text-align: left;
        }
      }
    }
  }


  #how-it-works {
    background-color: $light-gray;
  }

  .gallery-section {
    padding: 8rem;

    h1, h2, h3, h4, h5 {
      margin-bottom: 1rem;
      font-family: $muli;
      font-size: 2rem;
      font-weight: 800;
      line-height: 1.2;
      text-align: center;

      @media(min-width: $screen-jumbo){
        font-size: 3rem;
      }
    }
  }

  .gallery {
    overflow: hidden;
  }

  $numberSize: 4.5rem;

  .gallery-number {
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: $numberSize;
    font-weight: 700;
    color: #fff;
    text-align: center;
    z-index: 1;

    &:before {
      @extend .hexagon;
      width: $numberSize - .43;
      height: $numberSize;
      font-size: $numberSize;
      line-height: 1;
      color: $brand;
      transform: translate(-50%, 0);
      z-index: -1;
    }
  }

  .gallery-el {
    float: left;
    width: 100%;
    margin-bottom: 5rem;
    text-align: center;

    @media(min-width: $screen-sm-min){
      width: 33%;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      .gallery-number {
        &:before {
          width: $numberSize;
        }
      }
    }

    img {
      min-width: 60%;
      max-width: 100%;

      @media(max-width: 480px){
        min-width: 80%;
      }
    }

    .img-wrapper {
      width: 90%;
      margin-left: 5%;
    }
  }


  .contattaci-cta {
    padding: 10rem 0;

    img {
      height: 10rem;
    }
  }
}
