.et_pb_slide{
    transition:opacity 0.35s;
}

.watching-video{
    #masthead{
        opacity:0;
        visibility:hidden;
        transition: opacity 0.35s, visibility 0.35s;
    }
    .top-bar{
        opacity:0!important;
        visibility:hidden!important;
        transition: opacity 0.4s, visibility 0.4s, color 0.3s, transform 0.4s ease;
    }

    .et_pb_slide{
        opacity:0!important;
    }

    #ytvideo-box{
        opacity:1;
        visibility: visible;
        transform:scale(1);
        transition: transform 0.35s ease, opacity 0.35s, visibility 0.35s;
    }

    .intro-section{
        z-index:0;
    }

    #welcome{
        z-index:99;
    }

    .yt-player.now-playing{
        display:block;
    }
}

#ytvideo-box{
    display:block;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    opacity:0;
    visibility: hidden;
    transform: scale(0.95);
    transform-origin: center;
    z-index:999;
    transition: transform 0.35s ease 0.35s, opacity 0.35s, visibility 0.35s;

    iframe{
        position:absolute;
        top:0;
        left:0;
     width:100%;
        opacity:0;
        transition:opacity 0.35s;
        &.now-playing{
            opacity:1;
        }
    }

    .close{
        @include rempx(font-size, 4rem);
        position:fixed;
        display:block;
        top:30px;
        right:30px;
        width:50px;
        height:50px;
        color:rgba($whitish,0.5);
        text-align: center;
        line-height: 50px;
        z-index:99;
        transition:transform 0.3s ease;
        &:after{
            content:"";
            position:absolute;
            top:0;
            left:0;
            width:50px;
            height:50px;
            display:block;
            border-radius: 50%;
            border:1px solid rgba(#fff, 0.5);
            transition:transform 0.35s, opacity 0.35s;
        }
        &:hover{
            color:#fff;
            cursor:pointer;
            transform:rotate(90deg);
            &:after{
                opacity: 0;
                transform: scale(1.5);
            }
        }
    }
    .fluid-width-video-wrapper{
        padding:0!important;
        height:100%;
    }
}

.yt-player{
    display:none;
}
