.img-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 0;

  img {
    overflow: hidden;
    z-index:0;
  }

  &.has-overlay {
    &:before {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-color: #382F2D;
      opacity: .5;
      z-index: 1;
      content: '';
    }
  }
}

.bg-overlay {
  @extend .aux;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  overflow: hidden;
  transform: scale(1);
  z-index:0;
  filter: blur(0px);
  transition: filter 0.35s;

  &[data-src] {
    filter: blur(5px);
  }
}

img {
  filter: blur(0px);
  transition: filter 0.5s linear, transform .5s cubic-bezier(0.13, 0.75, 0.36, 1);
}

img[data-src] {
  filter: blur(10px);
  transform: scale(1.05);
}

noscript img {
  @extend .aux;
  height: auto;
}

.cover {
  @extend .aux;
  object-fit: cover;
}
