.chart-text-outside,
.animated-line,
#trash-can-border {
    opacity: 1;
}

#trash-can {
    transform: translateY(0);
}

.et_pb_preload > div,
.et_pb_preload .et_pb_section_video_bg {
    visibility: visible;
}

#system-section:before {
    border-radius: 0;
}

#system-section:before {
    position: relative;
}

#svg-lga-small {
    .hidden-fill {
        opacity: 1;
        y: 0;
    }
}

.et_pb_section.welcome-section .et_pb_blurb h4,
.et_pb_section.welcome-section .et_pb_blurb p,
.et_pb_section.welcome-section .et_pb_main_blurb_image {
    opacity: 1;
    transform: scale(1);
}
