#newsletter-box {
  &::before {
    content: "";
    @extend .aux;
    background-image: linear-gradient( -90deg, #548DCF 0%, #3788B6 0%, #2A54A1 100%);
    opacity: .9;
  }

  @media (max-width: $screen-xs-max) {
    text-align: center;
  }

  .et_pb_equal_columns {
    align-items: center;

    h4 {
      color: #fff;

      @media (max-width: $screen-xs-max) {
        text-align: center;
      }
    }
  }



  div.wpcf7 {
    position: relative;
    background-color: rgba(#fff, .2);

    @media (max-width: $screen-xs-max) {
      margin: 0;
      margin-top: 3rem;
    }

    .wpcf7-response-output {
      color: #fff;
    }

    .wpcf7-not-valid {
      color: #fff!important;
      border-color: #fff!important;
      background-color: #d9534f!important;
    }

    .data-opt-in {
      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
      }

      label {
        padding: 5px 0;
      }

      .wpcf7-list-item-label {
        display: block;
        line-height: 1.6;
        letter-spacing: 1px;
      }
    }

    .form-fields-wrapper {

      label {
        float: none;
      }

      input[type="checkbox"] {
        margin-top: 9px;
      }

      input[type=email],
      input[type=text] {
        padding: 1rem;
        margin-bottom: 1.5rem;
        background-color: rgba(#fff, .2);
        color: #fff;
        border-color: #fff;

        &::placeholder {
          color: rgba(#fff, .8);
        }

        &:-ms-input-placeholder {
          color: rgba(#fff, .8);
        }

        &:-ms-input-placeholder {
          color: rgba(#fff, .8);
        }
      }

      .row-wrap {
        position: initial;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .wpcf7-form-control-wrap {
        display: block;
        width: 100%;



        .wpcf7-acceptance {
          display: block;
        }

        a {
          color: #fff;
          font-weight: 700;
          opacity: 1;
        }

        .wpcf7-list-item-label {
          font-size: 1.3rem;
          color: #fff;
          line-height: 1.6;
        }
      }

      .et_pb_button {
        display: block!important;
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        border-color: #fff;

        &[disabled]{
          opacity: .3;
        }
      }
    }
  }

  .privacy-label {
    margin-left: 0;
    color: #fff;

    a {
      color: #fff;
    }
  }
}