#popup-wrapper{
  z-index:99;
}

#popup{
  position:fixed;
  left:0;
  top:0;
  @include rempx(padding, 5rem 10rem 6rem 10rem);
  @include vUnitsFallback(height, 100vh);
  width:66.6%;
  max-width: 1200px;
  background-color: #fff;
  transition: transform 0.8s cubic-bezier(.71,.08,.67,.99);
  transform: translateX(-100%);
  z-index:99;

  @media(max-width: $screen-xs-max){
    width:85%;
    @include rempx(padding, 3rem);
    @include rempx(padding-top, 6rem);
  }

  .popup-inner{
    position:relative;
    width:100%;
    height:100%;
  }

  .vertical{
    max-width: 800px;
  }

  .popup-img{
    display: inline-block;
    max-width: 15rem;
    max-height: none;
    opacity:0;
    transform: translate3d(0,30px ,0);
    transition:transform 0.35s ease-out 0.5s, opacity 0.35s linear 0.5s;
  }

  .popup-title{
    margin: 3rem 0 0 0;
    opacity:0;
    font-size: 2.6rem;
    font-weight: 800;
    color: $brand;
    text-transform: uppercase;
    transform: translate3d(0,30px ,0);
    transition:transform 0.35s ease-out 0.5s, opacity 0.35s linear 0.5s;
  }

  .popup-content{
    opacity:0;
    transform: translate3d(0,30px ,0);
    transition:transform 0.35s ease-out 0.5s, opacity 0.35s linear 0.5s;

    p{
      font-size: 1.8rem;
      margin-bottom: 3rem;

      &:last-child{
        margin:0;
      }
    }

    img{
      margin-right:15px;
    }
  }

  .et_pb_button {
    opacity:0;
    transform: translate3d(0,30px ,0);
    transition:transform 0.35s ease-out 0.5s, opacity 0.35s linear 0.5s;
  }

  p{
    padding:0;
    font-style: normal;
  }

  .btn-close{
    z-index:999;
  }
}

.popup-open{
  #popup{
    transform: translateX(0%);
    transition: transform 0.8s cubic-bezier(.48,.21,.23,1.02);

    .popup-img{
      opacity:1;
      transform: translate3d(0,0,0);
      transition:transform 0.35s ease-out 0.5s, opacity 0.35s linear 0.5s;
    }

    .popup-title{
      opacity:1;
      transform: translate3d(0,0,0);
      transition:transform 0.35s ease-out 0.7s, opacity 0.35s linear 0.7s;
    }

    .popup-content{
      opacity:1;
      transform: translate3d(0,0,0);
      transition:transform 0.35s ease-out 0.9s, opacity 0.35s linear 0.9s;
    }

    .popup-img{
      opacity:0;
      transform: translate3d(0,30px ,0);
      transition:transform 0.35s ease-out 0.5s, opacity 0.35s linear 0.5s;

      &.fly-in {
        opacity:1;
        transform: translate3d(0,0,0);
        transition:transform 0.35s ease-out 0.5s, opacity 0.35s linear 0.5s;
      }
    }

    .et_pb_button {
      opacity:1;
      transform: translate3d(0,0,0);
      transition:transform 0.35s ease-out 1.1s, opacity 0.35s linear 1.1s;
    }
  }
}
