.et_pb_portfolio_item{
  position: relative;

  h2{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 15px;
    text-transform: uppercase;
    text-align: center;
    z-index: 10;
    opacity: 0;
    transition: opacity .25s;
  }

  &.active{
    .et_overlay{
      z-index: 3;
      opacity: 1;
    }

    h2{
      opacity: 1;
    }

  }
}