.no-js {
  body.page-loading {
    #preloader {
      display: none;
    }
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  opacity:0;
  visibility:hidden;
  transition: opacity .8s, visibility .8s;
  z-index: 9999;

  $spriteSize : 300px;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: $spriteSize;
    width: $spriteSize;
    margin-top: -$spriteSize/2;
    margin-left: -$spriteSize/2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    animation-name: loading;
    animation-timing-function: steps(39);
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transform: scale(.5);

    @media(max-width: $screen-xs-max){
      transform: scale(.3);
    }
  }


}

body.page-loading {
  #preloader{
    opacity:1;
    visibility:visible;
    transition: opacity 0s, visibility 0s;
  }
}