.et_pb_pricing_table{
  border: 1px solid rgba( $mild-black, 0.2 );
}

.et_pb_pricing_heading{
  margin-bottom: 0;
  background-color: #fff;

  .et_pb_pricing_title{
    color: rgba( $mild-black, 0.6 );
  }

  .et_pb_best_value{
    color: rgba( $mild-black, 0.5 );
  }
}

.et_pb_featured_table{
  .et_pb_pricing_heading{
    background-color: #fff;

    .et_pb_pricing_title{
      color: $mild-black;

    }
  }

  .et_pb_pricing_content{
    padding-bottom: 30px;
  }
}

.et_pb_pricing_content_top{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba($b-gray, 0.5);
  border:0;
}

.et_pb_sum, .et_pb_dollar_sign{
  color: $blackish;
  font-weight: 600;
}

.et_pb_dollar_sign{
  position: relative;
  margin-right: 5px;
  @include rempx(font-size, 5rem);
}


.et_pb_pricing_content{
  padding: 0;
}


.et_pb_pricing li{
  text-align: center;
  padding: 1.5em 3rem;

  &:nth-child(even){
    background-color: rgba( $mild-black, 0.03 );;
  }

  &:last-child{
    padding-bottom: 1.5em;
  }

  span {
    @include rempx(font-size, 1.4rem);

    &:before{
      display: none;
    }
  }
}

.et_pb_pricing_table_button.et_pb_button{
  position: relative;
  display: block;
  @include rempx(max-width, 30rem);
  @include rempx(margin-top, 3rem);
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #000;
  font-family: $quicksand;
  @include rempx(font-size, 1.3rem);
  text-align: center;

  &:hover, &:focus{
    border: 2px solid #000;
    color: #000;
    background-color: #fff;

    &:after{
      display: none;

    }
  }
}