.et_pb_testimonial {

  @media (max-width: 479px) {
    padding-top:30px;
  }

  .et_pb_testimonial_portrait{
    display: inline-block;
    float: none;
    width: 60px;
    height: 60px;
    margin-right: 0;
    @include rempx( margin-top, 4rem );
    border-radius: 50%;
  }

  .et_pb_testimonial_description_inner{
    @include rempx( margin-top, 2.5rem );
    @include rempx( margin-bottom, 8rem );

    p, .et_pb_testimonial_author, .et_pb_testimonial_meta{
      padding-right: 16.66667%;
      padding-left: 16.66667%;
      @include rempx(font-size, 1.4rem);

      @media(max-width: $screen-md-max){
        padding-right: 8.33333%;
        padding-left: 8.33333%;
      }
    }

    p{
      @include rempx(font-size, 1.6rem);
    }
  }
}

.testimonials-slider-section {

  .et_pb_testimonial_description {
    display: block;

    .et_pb_testimonial_description_inner{
      margin-left: auto;
      margin-right: auto;
    }
  }

  .lSPager.lSpg {
    margin-top: -35px !important;
  }
}