.page-template-default{

    .et_pb_slide{

      &.et_pb_bg_layout_dark{
       p{
         color: #fff;
         @include rempx( font-size, 1.2rem ) ;
       }
      }

      .et_pb_slide_description{
        text-shadow: none;
      }

      .et_pb_section_video_bg{
        z-index: -1;
      }

    }


  .et_pb_slide_title{
    a{
      &:hover, &:focus{
        color: #fff;
      }
    }
  }

  .et_pb_slider{
    .et_pb_button{
      &:hover{
        color: #000;
        background-color: #fff;

        &:after{
          display: none;

        }
      }
    }

    .et_pb_slide_content{
      @include rempx( font-size, 1.5rem );
      font-weight: 600;

      p{
        font-weight: 600;
      }
    }
  }

  .et-pb-controllers a{
   &:focus{
     text-decoration: none;
   }
  }
}