.ff-stream {
  background-color: $whitish;

  .ff-item {
    h4 {
      a {
        @include rempx(font-size, 1.6rem);
        color: #000 !important;
        text-transform: uppercase;

      }
    }
  }
}


#ff-stream-1 a.ff-name{
  color: #000!important;
}