.et_pb_tabs {
  border: none;

  .et_pb_tab{
    padding: 5% 15%;
    background-size: cover;

    p{
      font-style: normal;
      color: inherit!important;
      font-weight: 600;
    }
  }

  .et_pb_tabs_controls {
    background-color: transparent;

    li {
      border: none;
      background-color: transparent;

      a{
      @include rempx( font-size, 1.5rem);
        padding: 10px 30px 10px;
        font-family: $muli;
        color: #000;
      }

      &.et_pb_tab_active{
        background-color: #000;

        a{
          color: #fff!important;
        }
      }
    }
  }
}