#team-section{
  background-color: $light-gray;

  .col-inner {
    height: 100%;
  }
}

.et_pb_team_member {
  position: relative;
  padding-bottom: 5rem;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

  .et_pb_team_member_image {
    margin: 0 auto;
    width: 100%;

    &.et-svg {
      width: 100%;
    }
  }

  img {
    width: 100%;
  }

  .et_pb_team_member_description{
    position: initial;
    @include rempx( padding, 3rem );
    background-color: #fff;
  }

  h4{
    color: $brand;
    text-transform: uppercase;
    @include rempx(font-size, 1.8rem);
  }

  p{
    font-style: normal;
    @include rempx(font-size, 1.2rem);
  }

  .et_pb_font_icon{
    &:hover{
      color: $brand;
      text-decoration: none;
    }
  }
}

p.et_pb_member_position {
  font-family: $muli;
  font-size: 1.4rem;
  font-weight: 700;
  color: $blackish;
  opacity: .8;
}

.et_pb_member_social_links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 3rem;
  margin-left: 3rem;

  @media (max-width: $screen-xs-max){
    margin-left: 0;
  }
}