footer, .page-template-default footer {
    position:relative;
    padding: 8rem 8rem 8rem 1.5rem;
    padding-bottom: 20px;
    background-color: $dark-gray;

    @media(max-width: $screen-xs-max){
        margin-right: 0;
    }

    .footer-logo {
        margin-bottom: 2rem;
        text-align: center;

        svg {
            height: 60px;
            width: auto;

            .fillable {
                fill: #fff;
            }
        }
    }

    .footer-navigation {

        .social-links-col {
            text-align: center;

            ul {
                margin-top: 5rem;
                margin-bottom: 0;
            }

            li{
                display:inline-block;
                margin-right: 3rem;

                &:last-of-type {
                    margin-right: 0;
                }

                a:before{
                    @extend .ionicons;
                    color:#fff;
                    font-size: 2rem;
                    margin-right:10px;
                    transform: translate3d(0, 10%, 0);
                    transition: color 0.25s;
                }

                a{
                    transition: opacity 0.35s;
                    &:hover{
                        opacity:0.5;
                    }
                }
            }
            li:nth-child(1){
                a:before{
                    content:"\f239";
                }
            }
            li:nth-child(2){
                a:before{
                    content:"\f24d";
                }
            }
            li:nth-child(3){
                a:before{
                    content:"\f243";
                }
            }
            li:nth-child(4){
                margin-right: 0;

                a:before{
                    content:"\f231";
                }
            }
        }

        li {
            margin-bottom: 1.5rem;
        }

        a {
            font-family: $muli;
            font-size: 1.2rem;
            color: rgba(#fff, .75);
            transition: color 0.25s;

            &:hover {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    .credits {
        margin-top: 3rem;
        text-align: center;
        color: rgba(#fff, 0.3);
    }

    @media (max-width: $screen-xs-max) {
        @include rempx(padding, 8rem 0 4.5rem 0);
        text-align: center;

        .footer-navigation {
            .quick-links-col {
                text-align: center;

                &:first-child {
                    h5 {
                        @include rempx(margin-top, 6rem);
                    }
                }
            }
        }

        .footer-navigation .social-links-col {
            text-align: center;
        }
    }

    .copyright{
        width:100%;
        color:#fff;
        opacity:0.7;
        text-align: center;

        p{
            color:rgba( #fff , 0.7 );
            @include rempx(font-size, 1.2rem);
        }

        a{
            color:rgba( #fff, 0.7 );
        }
    }
}

.page-template-homepage{
    footer{
        margin-right: 0;
    }
}


#nooo-credits {
    display: block;
    text-align: center;
    margin-top: 15px;
    opacity:0.8;

    &:hover{
        text-decoration: none;
    }

    p {
        color:#fff;
        margin-bottom:3px;
    }

    img {
        max-width: 80px;
    }
}
