.free-scrolling{
    overflow-x:hidden!important;
}

.hide-sidebar-and-logo{
    #scrollsnap-nav{
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.25s linear, visibility 0.25s linear;;
    }

    .top-bar{
        opacity:0;
        transition:opacity .25s linear 0s, visibility .25s linear 0s, color .3s, transform .4s ease, -webkit-transform .4s ease;
    }
}

// hidden
.fp-enabled {
    .top-bar .logo {
        opacity:0;
        transform: translatey(-30%) scale(1);
    }

    .top-bar {
        position: fixed;

        .btn-std {
            opacity: 0;
            transform: translatey(-30%);
            transition: opacity 0.4s, visibility 0.4s, color 0.3s, transform 0.4s ease;
        }
    }

    .section {
        .mockup-wrapper img {
            transform: translate( 0, 80px);
            transition: opacity .2s linear, transform .4s $cubic;
        }

        .cell-logo {
            transform: translate(0, 100px);
            transition: opacity .35s linear 0.2s, transform .7s $cubic;
        }

        .icon-logo {
            transform: translate(0, 100px);
            transition: opacity .35s linear 0.4s, transform .7s $cubic 0.2s;
        }

        .hex-bg-big,
        .hex-bg-med,
        .hex-bg-small {
            transform: scale(.8) rotate(-20deg);
            opacity: 0;
        }

        .hex-bg-big {
            transition: opacity .35s linear 0.3s, transform .7s $cubic 0.2s;
        }

        .hex-bg-med {
            transition: opacity .35s linear 0.4s, transform .7s $cubic 0.3s;
        }

        .hex-bg-small {
            transition: opacity .35s linear 0.5s, transform .7s $cubic 0.4s;
        }

        .mockup-wrapper img,
        .cell-logo,
        .icon-logo,
        .ion-chevron-down {
            opacity: 0;
        }

        &.fp-completely {
            .mockup-wrapper img,
            .cell-logo,
            .icon-logo{
                opacity: 1;
                transform: translate(0, 0);
            }

            .ion-chevron-down {
                opacity: 1;
                transform: translate( 0, 0) rotate(-17deg);
            }

            .hex-bg-big, .hex-bg-med, .hex-bg-small {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    #eduapp {
        background-size: 110%;
        transition: background-size 10s;
    }

    // ---- global
    .viewing-section {
        .top-bar .logo {
            opacity: 1;
            transform: translatey(0) scale(0.8);
        }

        .logo-row {
            .logo {
                opacity: 1;
                transform: translatey(0) scale(0.8);
            }
        }
    }


    .top-bar {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: #f5f5f5;

            transition: opacity .45s linear;
        }
    }

    #fp-nav {
        transition: opacity .25s linear .1s, transform .4s $cubic;
    }

    #shaping-evolution {
        .et_pb_equal_columns {
            & > div {
                &:first-of-type {
                    opacity: 1;
                    transform: translateY(-100px);
                    transition: transform 1s ease, opacity 1s;
                }

                &:last-of-type {
                    opacity: 1;
                    transform: translateY(100px);
                    transition: transform 1s ease, opacity 1s;
                }

            }
        }
    }

    .fp-viewing-0 {
        #welcome.fp-completely {
            .scheme-wrapper {
                .et_pb_code_inner {
                    opacity: 1;
                    transform: scale(1);
                    transition: transform 8s ease, opacity 2s;
                }
            }
        }
    }


    .fp-viewing-1 {
        #shaping-evolution {
            .et_pb_equal_columns {
                & > div {
                    &:first-of-type {
                        opacity: 1;
                        transform: translateY(0);
                        transition: transform 2s ease, opacity 2s;
                    }

                    &:last-of-type {
                        opacity: 1;
                        transform: translateY(0);
                        transition: transform 2s ease, opacity 2s;
                    }
                }
            }
        }
    }

    .fp-viewing-2 {

        .top-bar-inner {
            .fillable {
                fill: #fff;
            }
        }

        #eduapp {
            background-size: 100%;
        }
    }

    .fp-viewing-3 {
        .top-bar {
            &:before {
                opacity: .95;
            }
        }
    }

    &.hide-nav {
        #fp-nav {
            opacity: 0;
            transform: translate(0, -60%);
        }
    }
}

.js.fp-enabled {
    .home {
        .scheme-wrapper {
            .et_pb_code_inner {
                opacity: 0;
                transform: scale(.9);
                transition: transform .7s ease, opacity .5s;
            }
        }
    }
}
