.is-mobile{
    #masthead{
        height: auto;
        text-align: center;

        &:after {
            width: 100%;
            height: 6.5rem;
            right: auto;
            left: 0;
        }

        .right-bar {
            width: 100%;
            height: 6.5rem;
            background-color: $brand;
            overflow: hidden;
            backdrop-filter: none;

            &:after {
                display: none;
            }
        }

        .menu-toggle {
            width: auto;
            height: auto;
            margin: .7rem .5rem 0 0;
            float: right;
            background: none;

            .icon-bar {
                width: 3rem;
                margin-bottom: 5px;
            }

            .label {
                display: none;
            }
        }

        .top-bar {
            position: fixed;
            display: inline-block;
            width: auto;
            left: 0%;
            height: 5.8rem;
            padding: 0;
            z-index: 9999;
        }

        .top-bar-inner {
            height: auto;
        }

        .btn-std.btn-outline {
            display: none;
        }

        .navbar-brand {
            display: inline-block;
            height: auto;
        }

        .navbar-brand-inner {
            height: auto;
            text-align: center;
        }

        .logo {
            position: relative;
            top: .1rem;
            font-size: 3rem;
            color: $scan;
            transform: none;
            opacity: 1;
        }
    }

    .main-navigation{
        @include rempx(padding, 8rem 4.5rem 4.5rem 4.5rem);
        text-align: left;

        ul.menu li a {
            padding: 1rem 0;
            margin-bottom: 1rem;
            font-size: 2rem;
            letter-spacing: 1px;

            @media (max-width: $screen-xs-max){
                font-size: 1.4rem;
            }
        }

        .vertical {
            position: relative;
            display: block;
            height: auto;
        }

        .vertical-middle {
            position: relative;
            display: block;
        }

        .menu-intro {
            display: none;
        }

        &.open {
            transform: translateX(10%);
        }
    }

    .right-bar.open .menu-toggle{
        .icon-bar-top{
            transform:rotate(45deg) translate3d(1px, 8px, 0);
        }

        .icon-bar-bottom{
            transform:rotate(-45deg) translate3d(1px, -8px, 0);
        }
    }

    .fillable {
        fill : #fff;
    }
}

#masthead {
    position:relative;
    opacity:1;
    visibility:visible;
    z-index:999;
    transition: opacity 0.35s linear 0.35s, visibility 0.35s linear 0.35s;

    &:after {
        position: fixed;
        display: block;
        @include rempx(width, 6.5rem);
        height: 100%;
        top: 0;
        right: 0;
        box-shadow: -2px 0 4px rgba(#000, .05);
        transition: box-shadow .3s ease;
        z-index: 0;
        content: '';
    }

    @media (max-width: $screen-xs-max) {
        height: auto;
        text-align: center;

        &:after {
            width: 100%;
            @include rempx(height, 6.5rem);
            right: auto;
            left: 0;
        }

        .right-bar {
            width: 100%;
            @include rempx(height, 6.5rem);
            background-color: #fff;
            overflow: hidden;
            backdrop-filter: none;

            &:after {
                display: none;
            }
        }

        .menu-toggle {
            width: auto;
            height: auto;
            @include rempx(margin, .7rem .5rem 0 0);
            float: right;
            background: none;

            .icon-bar {
                @include rempx(width, 3rem);
                margin-bottom: 5px;
            }

            .label {
                display: none;
            }
        }

        .top-bar-inner {
            height: auto;
        }

        .btn-std.btn-outline {
            display: none;
        }

        .navbar-brand {
            display: inline-block;
            height: auto;
        }

        .navbar-brand-inner {
            height: auto;
            text-align: center;
        }

        .logo {
            position: relative;
            @include rempx(top, .6rem);
            @include rempx(font-size, 5rem);
            color: $scan;
            transform: none;
            opacity: 1;
        }
    }
}

.top-bar .logo {
    display:block;
    height: 4rem;
    font-size: 6.5rem;
    color: #fff;
    transform: translateY(-20%) scale(0.8);
    transition: opacity $med-speed , transform $med-speed ease;

    @media(min-width: $screen-md-max){
        height: 8rem;
    }

    svg {
        height: 100%;
        width: auto;
    }
}

.main-navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 8rem 8rem 5rem 12rem;
    font-family: $quicksand;
    font-weight: 700;
    background-color: $brand;
    overflow-y: hidden;
    transform: translateX(100%);
    transition: transform 0.6s cubic-bezier(.71,.08,.67,.99);
    z-index: 9;

    @media (max-height: 768px){
        overflow-y: auto;
    }

    &.open {
        transition: transform 0.6s cubic-bezier(.48,.21,.23,1.02);
        transform: translateX(30%);
    }

    .menu-intro {
        content:"";
        font-size: 4rem;
        font-weight: 100;

        &:after{
            content:"";
            display:block;
            height:1px;
            width:30px;
            margin: 1.5rem 0rem;
            background-color: #000;
        }
    }

    ul.menu{
        padding:0;
        margin: 0;
        list-style: none;

        @media (max-width: $screen-xs-max){
            padding: 2rem 0;
        }

        li {
            a {
                padding: 2rem 0rem;
                display: inline-block;
                font-family: $muli;
                font-size: 2.2rem;
                color: #fff;
                letter-spacing: 3px;
                text-transform: uppercase;
                transition: color .15s linear, transform 0.3s $cubic;

                &:hover, &:focus, &:active {
                    color: rgba(#fff, 1);
                    opacity: 1;
                    text-decoration: none;
                    transform: translateX(10px);
                }
            }

            &.current-menu-item, &.current_page_item {
                a {
                    color: rgba(#fff, 1);
                    opacity: 1;
                }
            }
        }
    }

    @media (max-width: $screen-xs-max) {
        @include rempx(padding, 8rem 4.5rem 4.5rem 4.5rem);
        text-align: left;

        ul.menu li a {
            @include rempx(padding, 1rem 0);
            @include rempx(margin-bottom, 1rem);
            @include rempx(font-size, 2rem);
            letter-spacing: 1px;
        }

        .vertical {
            position: relative;
            display: block;
            height: auto;
        }

        .vertical-middle {
            position: relative;
            display: block;
        }

        .menu-intro {
            display: none;
        }

        &.open {
            transform: translateX(10%);
        }
    }
}

#langs {
    position: absolute;
    bottom: 30px;
    padding:0;
    list-style: none;
    @media (max-height: 768px){
        position:relative;
        bottom: 0px;
    }

    li {
        display:inline;
        font-size: 1.6rem;
        color: #fff;

        &:before {
            content:"/ ";
        }

        &:first-child {
            &:before {
                content:"";
            }
        }

        &.current-lang {
            a {
                color: rgba(#fff, 1);
                transition: color 0.15s linear;
            }
        }

        a {
            font-family: $muli;
            font-size: 1.6rem;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 2px;

            &:hover, &:focus, &:active{
                color: rgba(#fff, 1);
                text-decoration: none;
            }

            @media (max-width: $screen-xs-max) {
                font-size: 1.4rem;
            }
        }
    }

    @media (max-width: $screen-xs-max) {
        position: relative;
        margin-top: 8rem;
    }
}

.right-bar {
    position:fixed;
    top:0;
    right:0;
    height:100%;
    font-family: $quicksand;
    font-weight: 700;
    backdrop-filter: blur(30px);
    z-index:11;
    z-index: 999;

    &.open{
        .menu-toggle{

            &:hover {
                transform: translateX(0%);

                &:before {
                    background-color: rgba($brand, 1);
                    transform: scaleX(1);
                }
            }

            .label{
                &:before{
                    color:rgba(#fff, 0);
                    transform:translate3d(-100%,0,0);
                    transition: transform 0.25s ease 0.2s, color 0.2s linear 0.2s;
                }
                &:after{
                    color: #fff;
                    transform:translate3d(0,0,0);
                    transition: transform 0.25s ease 0.25s, color 0.35s linear 0.2s;
                }
            }

            .icon-bar-top{
                transform:rotate(45deg) translate3d(4px, 8px, 0);
                @media(max-width: $screen-xs-max){
                    transform:rotate(45deg) translate3d(1px, 8px, 0);
                }
            }

            .icon-bar-middle{
                transform:scaleX(0);
                transition: transform 0.25s ease 0.2s;
            }

            .icon-bar-bottom{
                transform:rotate(-45deg) translate3d(4px, -8px, 0);
                @media(max-width: $screen-xs-max){
                    transform:rotate(-45deg) translate3d(1px, -8px, 0);
                }
            }
        }
    }
}

.menu-toggle {
    position: relative;
    height: 100%;
    padding: 1.5rem;
    border: none;
    background-color: transparent;
    z-index: 2;
    transform-origin: left;
    transition: transform 0.25s $cubic;

    &:hover {
        transform: translateX(-20%);

        &:before {
            background-color: rgba($brand, 1);
            transform: scaleX(2);
        }
    }

    &:hover, &:focus {
        cursor: pointer;
        outline: none;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($brand, 1);
        transform-origin: left;
        transition: transform .25s $cubic, background-color .25s linear;
        z-index: -1;
    }

    .icon-bar {
        display:block;
        height: 2px;
        background-color: #fff;
        margin-bottom: 7px;
        transform-origin:center;
        transition:transform 0.35s ease 0.2s;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .icon-bar-middle{
        transform-origin: left center;
        transition: transform 0.35s ease 0.25s;
    }

    .label {
        position:relative;
        display: inline-block;
        padding: 0;
        font-size: 1.2rem;
        font-weight: 800;
        letter-spacing: 1px;
        color:rgba(#fff, 0);

        &:before{
            content:"MENU";
            position:absolute;
            display:inline-block;
            top:0;
            right:0;
            color: #fff;
            transform: translate3d(0,0,0);
            transition: transform 0.25s ease 0.15s, color 0.2s linear 0.15s;
        }

        &:after{
            content: "CHIUDI";
            position: absolute;
            display: inline-block;
            top:0;
            right:0;
            color: rgba(#fff, 0);
            transform: translate3d(110%,0,0);
            transition: transform 0.25s ease 0.15s, color 0.2s linear 0.15s;
        }
    }
}

.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    padding: 1.5rem 8rem 1.5rem 1.5rem;
    text-align: center;
    transition: opacity 0.4s linear 0.35s, visibility 0.4s linear 0.35s, color 0.3s, transform 0.4s ease;

    .btn-std {
        position:absolute;
        top:0;
        right:0;
        margin:10px 0;
        margin-right:25px;
        font-family: $muli;
        text-transform: uppercase;
    }
}

.top-bar-inner {
    position:relative;
    height:100%;
}

.page-template-homepage{
    .top-bar-inner{
        margin-right: 0;

        @media(max-width: $screen-xs-max){
            margin-right: 0;
        }
    }
}

.navbar-brand-inner {
    display:inline-block;
    position:relative;
}

.navbar-brand {
    display:inline-block;
    height:100%;
    float: none;

    .navbar-brand-inner {
        height:100%;
    }

    img {
        width: auto;
        max-height: 100%;
        max-width: none;
        height: 100%;
        opacity: 1;
        visibility: visible;
        transform-origin: center;
        transform: scale(1);
        transition:transform 1s ease, opacity 0.8s ease, visibility 0.8s ease;

        &.neg {
            position:absolute;
            top:0;
            left:0;
            opacity:0;
            visibility:hidden;
        }
    }
}

.neg {
    .navbar-brand {
        img {
            opacity:0;
            transform:scale(0.8);
            visibility:hidden;

            &.neg {
                opacity:1;
                visibility:visible;
            }
        }
    }
}

.contatti,
.contact-us {
    .fillable.letter {
        fill : #fff;
    }
}
