// ----------------------------- PAGE DEFAULT AND SHARED STYLES

.page-template-default,
.post-template-default {
    .welcome-section{
        z-index:9;
        .et_pb_button{
            &:hover{
                cursor: pointer;
            }
        }
    }

    .privacy-section {
        padding: 15px;

        @media (min-width: $screen-sm-min){
            padding: 30px;
        }
    }

    .xl-2-blocks {
        padding: 0;

        .et_pb_row {
            padding: 0;
            width: 100%;
        }

        .et_pb_column {
            & > div{
                position:relative;
                z-index:1;
            }
        }


        .single-example{
            position:relative;
            color:#fff;
            text-align: center;
            overflow: hidden;

            &:before{
                content:"";
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background-color: rgba($mild-black, 0.6);
                z-index:3;
            }

            .article-wrapper {
                @include vUnitsFallback(height, 50vh);
            }

            .img-wrapper {
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
            }

            .post-meta-wrapper {
                position:relative;
                z-index: 5;
            }

            .abstract {
                @include rempx(margin-bottom, 3rem);
            }
        }

        .et_pb_text {
            @include rempx(margin-bottom, 1.5rem);
        }

        h3 {
            padding:0;
            @include rempx(margin-bottom, 2rem);
            line-height: 1;
            color:#fff;
        }

        p {
            color:rgba($blackish, 0.8);
            display:inline-block;
            @include rempx(max-width,30rem);
        }

        &.xl-2-blocks-alternate{
            .et_pb_column:nth-child(even){
                &:before{
                    display:none;
                }
                h4{
                    color:#000;
                    margin-left:auto;
                    margin-right: auto;
                }
                p{
                    color:#000;
                    opacity:0.7;
                }
            }
        }
    }
}

// ----------------------------- WHY WHAT HOW


.welcome-why {
    .et_pb_blurb_content {
        transform: scale(-1, 1);

        .et_pb_blurb_container {
            transform: scale(-1, 1);
        }
    }

    .sprite-icon{
        @include spriteAnimation(100px, 90, 1.5s, 'play-1');
        @media (min-width: $big-screens) {
            @include spriteAnimation(130px, 90, 1.5s, 'play-1');
        }
    }

    @media (max-width: $screen-xs-max) {
        .mejs-container {
            height: auto;
            background-color: transparent;
            background-size: cover;
            background-position: center;
        }
    }
}

#welcome-how {
    div{
        height:100%;
    }

    &:before{
        background-color: rgba($blackish, 0.85);
    }
}

.et_pb_section.welcome-section {
    position:relative;
    height: 100%;
    height: 100vh;
    margin-right: 0;
    text-align: center;

    @media (min-width: $screen-sm-min) and (min-height: 580px) {
        @include vUnitsFallback(height, 80vh);
    }

    @media (min-width: $screen-sm-min) and (min-height: 768px) {
        @include vUnitsFallback(height, 73vh);
    }

    @media (max-width: $screen-xs-max) {
        height: auto;
    }

    &:before {
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color: rgba($mild-black, 0.3);
        z-index:1;
    }

    .et_pb_row {
        left: -35px;

        .et_pb_image{
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 3rem;

            @media (min-width: $big-screens) {
                margin-bottom: 5rem;
            }
        }

        @media (max-width: $screen-xs-max) {
            left: 0;
        }
    }

    .et_pb_blurb_content{
        max-width:none;

        h4{
            font-size: 4rem;
            font-weight: 800;
            max-width: none;
            margin-top: 3rem;
            margin-bottom: 3rem;
            letter-spacing: 3px;
            line-height: 2;

            @media(min-width: $big-screens){
                font-size: 6rem;
            }
        }
        p{
            margin-left:auto;
            margin-right: auto;
            line-height: 2.4;
        }
    }

    .btn-std{
        font-family: $quicksand;
        letter-spacing: 3px;
    }
}

.intro-section{
    z-index:9;

    .ion-ios-arrow-thin-down{
        display:block;
        text-align: center;
        @include rempx(font-size, 3.5rem);
        color: rgba($mild-black, 0.3);
        transition:transform 0.5s ease;
        animation-name: clickMe;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;

        &:hover{
            transform: translateY(10px);
        }
    }
    .et_pb_row{
        padding-bottom:0;
    }
    p{
        margin-top: 4rem;
        @include rempx(font-size, 1.8rem);
    }
}

#blocchi-esempi {
    background-color: $whitish;
    .btn-std {
        min-width:180px;
        margin:0;
    }

    .btn-opacity, .et_pb_button_module_wrapper {
        width:auto;
        display:inline-block;
        margin:0;
    }

    .lonely-example{
        @include rempx(margin, 5rem 0);
        @media (max-width: $screen-sm-max){
            margin:0;
        }
    }

    .container{
        @media (max-width: $screen-sm-max){
            width:100%;
        }
    }


    .overlay-image {
        transform-origin: top;
        transform: translate3d(0,-10%,0) scale(1.3);
        transition: transform 0.35s ease;
    }

    .single-example{
        &:before{
            transition: background-color 0.35s;
        }

        .img-wrapper{
            &:before{
                content:"";
                position:absolute;
                top:50%;
                left:50%;
                margin-top: -130px;
                margin-left: -200px;
                height:260px;
                width:400px;
                background: transparent;
                border: 1px solid #fff;
                opacity:0;
                transition: transform 0.35s, opacity 0.35s;
                transform-origin: center;
                z-index:3;
                @media(min-width: $big-screens){
                    margin-left: -225px;
                    width:450px;
                }

                @media(max-width: $screen-xs-max){
                    display:none;
                }
            }

            &:before{
                transform: translate3d(0,30px,0)
            }
        }

        p{
            color:rgba(#fff, 0.7);
            min-height: 65px;
            opacity:1;
            transform:scale(1);
            transition: transform 0.25s, opacity 0.25s;
        }

        h3{
            transform: translate3d(0,0,0);
            transition: transform 0.35s;
        }

        .btn-wrapper{
            transform: translate3d(0,0,0);
            transition: transform 0.35s;
        }

        &:hover {
            &:before{
                background-color: rgba($mild-black, 0.85);
            }

            .img-wrapper{
                &:before{
                    opacity:1;
                    transform: translate3d(0,0,0);
                }
            }

            .overlay-image {
                transform: translate3d(0,0,0) scale(1.3);
            }

            p{
                opacity:0;
                transform: scale(0.8);
            }

            h3{
                transform: translate3d(0,45px,0);
            }

            .btn-wrapper{
                transform: translate3d(0,-45px,0);
            }
        }
    }
}


#esempi {
    background-color: $whitish;
    padding-bottom: 0;

    .container-fluid {
        padding: 0;

        & > .row{
            margin: 0;
        }
    }

    .et_pb_blog_grid_wrapper {
        @include rempx(margin-top, 8rem);
        @include rempx(margin-bottom, 8rem);

        @media (max-width: $screen-xs-max) {
            @include rempx(margin-top, 4.5rem);
        }
    }

    .article-wrapper {
        border: 0;
        transition: box-shadow .3s ease;

        .overlay-image{
            transform:scale(1.3);
            transition:transform 0.35s;
        }

        &:hover {
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            .btn-discover{
                &:after{
                    transform: translate3d(0,0,0);
                }
                &:before{
                    transform: translate3d(0,-100%,0);
                }
            }

            .img-wrapper{
                &:after{
                    color:#fff;
                    transform: translate3d(0,0,0);
                }
            }

            .overlay-image{
                transform: translate3d(0,-10%,0) scale(1.3);
            }
        }

        h5 {
            @include rempx(font-size, 1.8rem);
            text-transform: uppercase;
        }

        @media (max-width: $screen-xs-max) {
            @include rempx(margin-bottom, 3rem);
        }
    }

    .img-wrapper {
        height:180px;
        overflow: hidden;
        &:after{
            content:"\f4a4";
            @extend .ionicons;
            position:absolute;
            bottom:0;
            left:0;
            width:100%;
            height:50px;
            line-height: 50px;
            color:#000;
            @include rempx(font-size, 3rem);
            background-color: rgba(#000, 0.5);
            transform: translate3d(0,100%,0);
            transition:transform 0.35s, color 0.35s;
            text-align: center;
        }
    }

    .post-meta-wrapper {
        padding:5rem;
        background-color: #fff;
        height:400px;

        @media(max-width: $screen-md-max){
            @include rempx(padding, 3rem);
            height:330px;
        }

        @media(max-width: $screen-sm-max){
            @include rempx(padding, 3rem);
            height:330px;
        }

        @media(max-width: $screen-xs-max){
            @include rempx(padding, 3rem);
            height:auto;
        }
    }

    .btn-std{
        position:absolute;
        width:100%;
        @include rempx(bottom, 5rem);
        margin-left: 0;
        @media (max-width: $screen-xs-max){
            position:relative;
            margin-left:auto;
            margin-right: auto;
            bottom:0;
        }
    }

    .abstract {
        @include rempx(margin, 1.5rem 0);

        p {
            font-style: normal;
            @include rempx(font-size, 1.4rem);
            line-height: 2;
            letter-spacing: 0;
        }
    }

    .et_pb_row {
        padding-bottom:0;
    }

    .btn-std {
        @include rempx(font-size, 1.2rem);

        @media (max-width: $screen-xs-max) {
            margin: 3rem auto 0 auto;
        }
    }

    .et_pb_blog_example_lev_2{
        article{
            margin-bottom: 30px;
            overflow: hidden;
        }
    }
}

// --------------------- CAMBIA CON ID ALTRI ESEMPI
#training-centers{
    background-color: $whitish;
}

// -------------------- WHAT
.welcome-what{
    .sprite-icon{
        @include spriteAnimation(100px, 79, 1.2s, 'play-2');
        @media (min-width: $big-screens) {
            @include spriteAnimation(130px, 79, 1.2s, 'play-2');
        }
    }
    /*video{
        transform: translateY(-35%) scale(1.35);
    }*/

    @media (max-width: $screen-xs-max) {
        .mejs-container {
            height: auto;
            background-color: transparent;
            background-size: cover;
            background-position: center;
        }
    }
}


.et_pb_section.spdca-4d{
    @include rempx(padding-top, 5rem);
    @include rempx(padding-bottom, 5rem);
    background-color: $whitish;
    text-align: center;
    z-index: 9;

    .et_pb_row{
        @include rempx(padding-top, 8rem);
        @include rempx(padding-bottom, 8rem);
        background-color: #fff;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    }
    .et_pb_column_1_2:last-child{
        position:relative;
        &:before, &:after{
            content:"";
            position:absolute;
            top:0;
            left:0;
        }
        &:before{
            width:1px;
            height:100%;
            background-color: rgba(#000, 0.2);
        }
        &:after{
            content:"\f2c7";
            @include ionicon();
            @include rempx(font-size, 2.5rem);
            top: 50%;
            height:40px;
            width:40px;
            line-height: 37.5px;
            vertical-align: middle;
            border-style: outset;
            border:2px solid rgba(#000, 0.8);
            border-radius: 100%;
            background-color: #fff;
            transform: translate(-50%, -50%);
        }

        @media (max-width: $screen-xs-max){
            margin-top:4.5rem;
            padding-top: 7.5rem;

            &:before{
                height:1px;
                width:80%;
                margin-left: 10%;
            }
            &:after{
                top:0;
                left:50%;
            }
        }
    }
    .btn-blurb{
        color:#fff;
        &:hover, &:focus, &:active{
            color:#fff;
        }
    }

    .svg-wrapper{
        display: inline-block;
        height: 200px;
        width: 200px;

        svg{
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.copy-svg{
    display: none;
}

.popup-svg, .popup-img{
    svg{
        width:100%;
        height:100%;
    }

    @media (max-width: $screen-sm-max){
        max-height: 150px;
        max-width: 150px;
    }
}

.popup-svg {
    max-height: 250px;
    max-width: 250px;
}

.popup-img {
    max-height: 200px;
    max-width: 200px;
}
#welcome-results{
    h4, p{
        color: #000;
    }
}

.clt-section{
    @include rempx(padding-bottom, 5rem);
    .et_pb_row{
        z-index:0;
    }
}

#ctl-table, #results-table{
    position:relative;
    overflow: hidden;

    .table-affixed{
        display: none;
        position:fixed;
        top:0;
        left:auto;
        right:auto;
        max-width: 1200px;
        z-index: 10;
        table{
            background-color: transparent;
        }
        th{
            text-align: center;
            background-color: #fff;
        }
        .trans-cell{
            background-color: transparent;
        }
        &.rest-bottom{
            position:absolute;
            top:auto;
            bottom:0;
        }
    }

    .pinned{
        border:none;
    }

    .table-wrapper{
        border:none;
    }

    table{
        table-layout: fixed;
        margin:0;
        border:none;
        max-width: 100%;
        font-family: $muli;
        letter-spacing: 1.6px;
        text-align: center;
        background-color: #fff;

        @media(max-width: $screen-xs-max){
            table-layout: auto;

        }
    }

    thead th{
        text-align: center;
    }
    td{
        padding: 0;
        border:none;
        vertical-align: top;
        text-align: center;
    }

    th{
        @include rempx(padding-top, 2rem);
        @include rempx(padding-bottom, 1.5rem);
        @include rempx(font-size, 1.4rem);
        background-color: #fff;
        vertical-align: bottom;
    }

    .trans-cell{
        background-color: $whitish;
    }

    .cell-item{
        color:#fff;
    }

    .cell-inner{
        position:relative;
        min-height: 250px;
        z-index:9;

        @media(max-width: $screen-xs-max){
            min-height: 125px;
        }

        p{
            position: relative;
            @include rempx(padding, 0.5rem 1.5rem);
            @include rempx(font-size, 1.1rem);
            font-style:normal;
            font-weight:700;
            color:#fff;
            letter-spacing: 1px;
            line-height: 1.8;
            transition: opacity 0.3s linear 0s;
        }
    }

    .row-header{
        text-align: left;
        @include rempx(padding, 3rem 1.5rem);
        vertical-align: top;
        @media (min-width: $screen-sm-min){
            cursor:pointer;
        }
        &:hover{

            text-decoration: none;
            a:after{
                transform:translateX(-5px) rotate(-90deg);
            }
        }

        a{
            position:relative;
            display: block;
            width:120px;
            @include rempx(padding-right, 1.5rem);
            @include rempx(font-size, 1.4rem);
            color: #000;
            word-wrap: break-word;
            @media (max-width: $screen-xs-max){
                width:100%;
            }

            &:hover{
                text-decoration: none;
            }
            &:after{
                content:"\f104";
                @include ionicon();
                position:absolute;
                top:0;
                right:0;
                transform: rotate(-90deg);
                transition:transform 0.4s ease;
                @media (max-width: $screen-xs-max){
                    display:none;
                }
            }

            span{
                display:inline-block;
                transition:transform 0.4s ease;
            }
        }
    }

    .row-container{
        border-top:3px solid $whitish;
        @media (max-width: $screen-xs-max){
            height:125px;
        }

        &:first-of-type{
            border-top:none;
        }
        &.open{
            .row-header{
                a:after {
                    transform: rotate(0deg);
                }
            }

            .cell-inner{
                @include consequentialFadeIn(0.8s, 0.1s, 9);
            }
        }

        &.last-opened{
            .movable{
                .et-pb-icon, p, .icon-btn{
                    opacity:1;
                }
            }
        }

        @media (min-width: $screen-sm-min){
            .movable{
                .et-pb-icon, .icon-btn, p{
                    opacity:0;
                }
            }
        }
    }

    .et-pb-icon{
        position:relative;
        display:block;
        @include rempx(padding, 3rem 0.5rem 1rem 0.5rem);
        @include rempx(font-size, 3.5rem);
        line-height: 1;
        transition: opacity 0.3s linear 0s;
    }
    .icon-btn{
        position:absolute;
        top:60%;
        left:50%;
        display:block;
        margin-top: -10px;
        margin-left: -10px;
        @include rempx(font-size, 2rem);
        color: $b-gray;
        cursor:pointer;
        line-height: 1;
        transition: opacity 0.3s linear 0s;

        @media(max-width: $screen-xs-max){
            top:auto;
            bottom:15px;
        }
    }

    .ctl-row-inter{
        height:3px;
        background-color: transparent;
    }
    .ctl-row{
        min-height: 100px;
    }

    .progress-wrapper{
        position:relative;
        z-index:9;
    }

    .progress-bar{
        position:absolute;
        top:0;
        left:50%;
        margin-left:-3px;
        background: #f0f0f0;
        width:6px;
        border-radius: 100px 100px 0 0;
        overflow: hidden;
        z-index: 0;
        transition: transform 0.3s ease;
    }

    .progress-marker{
        position:relative;
        display:block;
        width:100%;
        height:100%;
        border-radius: 100px;
        background-color: #505050;
        transition: transform 0.3s ease;
    }
}

#popup-wrapper{
    z-index:99;
}

#popup-clt{
    position:fixed;
    left:0;
    top:0;
    @include rempx(padding, 5rem 10rem 6rem 10rem);
    @include vUnitsFallback(height, 100vh);
    width:66.6%;
    max-width: 1200px;
    background-color: #fff;
    transition: transform 0.8s cubic-bezier(.71,.08,.67,.99);
    transform: translateX(-100%);
    z-index:99;
    @media(max-width: $screen-xs-max){
        width:85%;
        @include rempx(padding, 3rem);
        @include rempx(padding-top, 6rem);
    }

    .popup-inner{
        position:relative;
        width:100%;
        height:100%;
    }
    .vertical{
        max-width: 800px;
    }

    .popup-icon{
        display: inline-block;
        @include rempx(font-size, 12rem);
        opacity:0;
        transform: translate3d(0,30px ,0);
        transition:transform 0.35s ease-out 0.5s, opacity 0.35s linear 0.5s;
    }

    .popup-title{
        @include rempx(margin, 5rem 0 3rem 0);
        opacity:0;
        text-transform: uppercase;
        transform: translate3d(0,30px ,0);
        transition:transform 0.35s ease-out 0.5s, opacity 0.35s linear 0.5s;
    }

    .popup-content{
        opacity:0;
        transform: translate3d(0,30px ,0);
        transition:transform 0.35s ease-out 0.5s, opacity 0.35s linear 0.5s;
        p{
            margin-bottom: 3rem;
            &:last-child{
                margin:0;
            }
        }

        img{
            margin-right:15px;
        }
    }

    p{
        padding:0;
        font-style: normal;
    }

    .btn-close{
        z-index:999;
    }
}

.popup-open{
    #popup-clt{
        transform: translateX(0%);
        transition: transform 0.8s cubic-bezier(.48,.21,.23,1.02);

        .popup-icon{
            opacity:1;
            transform: translate3d(0,0,0);
            transition:transform 0.35s ease-out 0.5s, opacity 0.35s linear 0.5s;
        }

        .popup-title{
            opacity:1;
            transform: translate3d(0,0,0);
            transition:transform 0.35s ease-out 0.7s, opacity 0.35s linear 0.7s;
        }

        .popup-content{
            opacity:1;
            transform: translate3d(0,0,0);
            transition:transform 0.35s ease-out 0.9s, opacity 0.35s linear 0.9s;
        }

        .popup-img{
            opacity:0;
            transform: translate3d(0,30px ,0);
            transition:transform 0.35s ease-out 0.5s, opacity 0.35s linear 0.5s;

            &.fly-in {
                opacity:1;
                transform: translate3d(0,0,0);
                transition:transform 0.35s ease-out 0.5s, opacity 0.35s linear 0.5s;
            }
        }
    }
}

//-------------------------- HOW
#tensione-pressione{
    @include rempx(padding, 0 0 18rem 0);
    @media(max-width: $screen-xs-max){
        @include rempx(padding, 5rem 0);
    }

    .et_pb_blurb{
        margin-bottom: 0;
    }

    .et_pb_blurb_content{
        max-width: 800px;
        margin-bottom: 0;
    }

    .read-more-wrapper{
        text-align: center;
    }

    #read-more{
        position:relative;
        display:inline-block;
        margin:25px;
        @include rempx(font-size, 1rem);
        font-weight: 700;
        letter-spacing: 2px;
        color: rgba(#fff, 0);
        transition: color 0.2s linear 0s;

        &:before{
            content:"RIDUCI";
            display:inline-block;
            width:100%;
            position:absolute;
            top:0;
            left:0;
            color:rgba(#fff, 0.3);
            transform: translate3d(0,0,0);
            text-align: center;
        }

        &:after{
            content:"\f3d4";
            @extend .ionicons;
            display:block;
            @include rempx(font-size, 3rem);
            margin-top:5px;
            color:rgba(#fff, 0.3);
            transform:rotate(180deg);
            transition:transform 0.35s;
        }

        &:hover{
            cursor:pointer;
        }
    }

    h4{
        @include rempx(font-size, 2rem);
        max-width: none;
        letter-spacing: 12px;
        line-height: 45px;
        vertical-align: middle;

        span{
            display: inline-block;
            @include rempx(font-size, 4.5rem);
            font-family: $quicksand;
            font-weight: 100;
            line-height: 45px;
            vertical-align: middle;
            opacity: 0.6;
            transform: translateY(-5px);
        }
    }

    .collapsible-content.collapsed-active{
        p{
            height:4em;
        }

        #read-more{
            color:rgba(#fff, 0.3);

            &:before{
                color:rgba(#fff, 0);
                transform:translate3d(0,-100%,0);
            }

            &:after{
                transform:rotate(0deg);
            }
        }
    }

    p{
        color:rgba(#fff, 0.7);
        overflow:hidden;
        font-style: normal;
        transition: height 0.35s ease;
    }

    @media (max-width: $screen-xs-max) {
        h4 {
            @include rempx(margin-top, 4.5rem);
        }

        .et_pb_module.et_pb_blurb p {
            display: block;
            margin: 0 45px;
            line-height: 2;
        }
    }

    .sprite-icon{
        @include rempx(margin-bottom, 4.5rem);
        @include spriteAnimationOnScroll(400px, 280, 7s, 'play-spring');
        margin-top: -200px;
        animation-play-state:paused;

        @media(max-width: $screen-xs-max){
            margin-top: 0;
            height:70px;
            animation-name:none;
        }
    }

    &.fly-in{
        .sprite-icon{
            animation-play-state:running;
        }
    }
}

#gemba-leader{
    .et_pb_column{
        @include rempx(padding, 12rem 0);
        &:before{
            display:none;
        }
    }
    .et_pb_text{
        max-width: 90%;

        @media(min-width: $screen-lg-min){
            max-width: 65%;
        }

        @media(max-width: $screen-sm-max){
            max-width: 550px;
        }
    }
    p{
        max-width: none;
        font-style: normal;
    }
}

#autocomplete-text{
    position:relative;
    @include rempx(padding, 10rem 0);
    text-align: center;
    background-color: $blackish;
    h6{
        display:inline-block;
        @include rempx(font-size, 1.6rem);
        letter-spacing: 12px;
        line-height: 1.7;
        color:#fff;
        text-align: left;

        @media (max-width: $screen-md-max) {
            @include rempx(font-size, 1.2rem);
        }

        @media (max-width: $screen-sm-max) {
            padding: 0 30px;
        }

        span{
            display:inline-block;
        }
        .sentence-row{
            display:block;
        }

        .keyword, .not-important-keyword{
            display: inline-block;
            @include rempx(padding, 1.5rem);
            @include rempx(margin, 0 1.5rem);
            border:1px solid #fff;
            font-weight: normal;
            filter:blur(5px);
            color:#fff;
            opacity:0;
            transform:scale(0.9) translate(0%, 0%);
            transition:transform 1s cubic-bezier(.45,.11,.29,1.22), opacity 1s, filter 1s;

            // ----- TO COMPENSATE LETTER SPACING!
            padding-right:2px;
            margin-left: 0;

            @media (max-width: $screen-md-max) {
                @include rempx(margin, 0 1rem);
            }

            @media (max-width: $screen-sm-max) {
                @include rempx(margin, 1.5rem 0);
                /*display:block!important;*/
                width:100%!important;
                text-align: center;
                transform:translate(0%, 0%)!important;
            }
        }

        .sentence-row:first-of-type{
            @include rempx(margin-bottom, 8rem);
            @media (max-width: $screen-sm-max){
                margin-bottom: 0;
            }
            .keyword{
                transform:scale(0.9) translate(80%, 0%);
            }
        }
        .simple-text, .inner-text{
            filter:blur(5px);
            transition: opacity 1s linear 2.1s, width 2s cubic-bezier(.45,.84,.12,.96);
            opacity: 0;
            white-space: nowrap;

            @media (max-width: $screen-sm-max) {
                display:block!important;
                width:100%!important;
                text-align: center;
            }
        }

        .inner-text{
            @media (max-width: $screen-sm-max) {
                display:inline-block!important;
                width:auto!important;
                text-align: center;
            }
        }
        .not-important-keyword{
            opacity:0;
            border:1px solid rgba(#fff, 0);
        }
        &.text-anim{
            .sentence-row:first-of-type{
                .keyword{
                    transform:scale(1) translate(30%, 40%);
                }
            }
            .keyword{
                filter:blur(0);
                opacity:1;
                transform:scale(1) translate(0%, -40%);
            }
        }
        &.text-anim-1{
            .sentence-row:first-of-type{
                transform:translate(-5%, 0%);
                transition:transform 2s cubic-bezier(.45,.11,.29,1.22);
                .keyword{
                    transform:scale(1) translate(0%, 0%);
                    transition:transform 2s cubic-bezier(.45,.11,.29,1.22), opacity 1s, filter 1s;
                }
            }
            .keyword {
                transform:scale(1) translate(0%, 0%);
                transition:transform 2s cubic-bezier(.45,.11,.29,1.22), opacity 1s, filter 1s;
            }
        }
        &.text-anim-2 {
            .sentence-row:first-of-type {
                transform: translate(0%, 0%);
                transition: transform 2s cubic-bezier(.45, .11, .29, 1.22);
            }
        }
        .show-text{
            &.not-important-keyword {
                border:1px solid rgba(#fff, 1);
            }
            filter:blur(0);
            opacity:1;
            transform:scale(1) translate(0%, 0%);
            transition: transform 2s cubic-bezier(.45,.11,.29,1.22), opacity 1s linear 0.5s, width 2s cubic-bezier(.45,.84,.12,.96), blur 1s, border 1s linear 0.5s;
        }
    }
}

// ----------------- DOBE SECTION

.et_pb_section.dobe {
    padding:0;
    overflow: hidden;

    .et_pb_row {
        padding:0;
    }

    &.fly-in {
        #resizing-container {
            animation-name: resizeCall;
        }
    }

    @media (max-width: $screen-xs-max) {
        display: none;
    }
}

#resizing-container{
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
    min-height: 100%;
    max-width: 100%;
    animation-duration: 2s;

    .resizing-inner{
        min-height: 100%;
        max-width: 100%;
        width:100%;
        height:100%;
        overflow: hidden;
    }

    .handle{
        content:"";
        display: block;
        position: absolute;
        width:40px;
        height:40px;
        top:50%;
        right:-20px;
        margin-top: -20px;
        border-radius: 100%;
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
        &:before{
            content:"\f130";
            @include ionicon();
            display:block;
            width:40px;
            @include rempx(font-size, 1.8rem);
            line-height: 40px;
            vertical-align: middle;
            text-align: center;
            transform: rotate(90deg);
        }
    }
    .ui-resizable-e{
        width:50px;
        right:-25px;
        cursor:grab;
        &:active{
            cursor:grabbing;
        }
    }

    .ui-resizable-s, .ui-resizable-se{
        display:none;
    }

    .be-wrapper{
        position:relative;
    }
}

.do-wrapper, .be-wrapper {
    @include rempx(padding, 12rem 0);
    width:100vw;

    &:before {
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }

    p {
        opacity:1;
    }
    .upper {
        position:relative;
        p{
            position:relative;
            padding:0;
            line-height: 1;
        }
    }

    .divider {
        display:block;
        @include rempx(margin-top, 6rem);
        @include rempx(margin-bottom, 3rem);
        width:100%;
        height:1px;
    }

    .title {
        position:absolute;
        bottom:0;
        left:0;
        width: 100%;
        padding:0;
        transform:translateY(-4px);
        @include rempx(font-size, 7.7rem);
        font-family: $quicksand;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 37px;
        text-align: center;
        line-height: 55px;
    }

    .subtitle {
        @include rempx(font-size, 3.7rem);
        font-family: $muli;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 12px;
    }
}

.do-wrapper{
    color:#000;
    background-color: $whitish;

    &:before{
        background-color: rgba(#fff, 0.4);
    }

    p {
        text-align: left;
    }

    .divider {
        background-color: rgba($blackish, 0.2);
    }
}
.be-wrapper{
    color:#fff;
    background-color: $blackish;

    &:before {
        background-color: rgba(#000, 0.6);
    }

    p {
        text-align: right;
    }

    .divider {
        background-color: rgba($whitish, 0.2);
    }
}

// ----------------- AUTO LGA CALL SECTION
#autolga-call {
    @include rempx(padding, 12rem 0);

    .et_pb_column:first-child{
        text-align: right;
    }

    .et_pb_column {
        @include rempx(padding-left, 3rem);
        @include rempx(padding-right, 3rem);
    }

    .et_pb_image {
        height:100%;

        img {
            height:100%;
        }
    }

    .et_pb_text {
        @include rempx(margin-bottom, 3rem);
    }

    h4, p {
        @include rempx(max-width, 30rem);
    }

    p {
        @include rempx(margin-top, 1.5rem);
    }

    .btn-blurb {
        margin-top: 0;
        margin-left: 0;
        border:1px solid #000;
        color:#fff;
        &:hover{
            color:#000!important;
            background: transparent
        }
    }

    .svg-lga-small {
        width: 100%;
        text-align: right;
        @media(max-width: 979px){
            text-align: center;
        }
    }

    @media (max-width: 979px) {
        .col-inner {
            display: block;
            width: 100%;
            @include rempx(margin-top, 4.5rem);
            text-align: center;

            & > div:first-child {
                display: inline-block;
            }

            .et_pb_button {
                display: inline-block;
                width: 100%;
            }
        }

        .et_pb_text_align_left {
            text-align: center;
        }
    }
}

// ----------------- PAGE CONTACTS
.et_pb_section.full-height-section {
    @include vUnitsFallback(height, 100vh);
}

.auxiell.contatti{
    .btn-outline{
        &:hover{
            background-color: #000;
            color:#fff!important;
            &:after{
                display:none;
            }
        }
    }
}

#welcome-contacts {
    min-height: 680px;
    height:auto;

    @media(max-width: $screen-xs-max){
        padding-left: 0;
        padding-right: 0;
    }

    .map-row, .contact-form-row{
        width: 100%;
        height: 100%;
        left: 0;

        .et_pb_column {
            width: 100%;
            height: 100%;
        }

        .et_pb_code_inner {
            height: 100%;
        }
    }

    .map-row{
        height:120%;
    }

    .form-activator-row{
        position:absolute;
        bottom:0;
        left:0;
    }

    .et_pb_blurb{
        position: relative;
        display: table;
        height: 100%;
        width: 100%;
        top: -120px;
    }
    .et_pb_blurb_content{
        display: table-cell;
        vertical-align: middle;
    }
}

.et_pb_section.welcome-contacts {
    overflow: hidden;

    &:before{
        opacity:0;
        visibility:hidden;
        background-color: rgba($blackish, 0.5);
        transition: opacity 0.5s, visibility 0.5s;
    }

    &.in-sight {
        &:before {
            opacity:1;
            visibility: visible;
        }
        .contact-form-row {
            opacity:1;
            visibility:visible;
            transition: opacity 0.5s, visibility 0.5s;

            form {
                h4,
                div,
                p {
                    opacity:1;
                    visibility:visible;
                    transition:opacity 0.8s ease 0.5s, visibility 0.8s ease 0.5s;
                }

                h4 {
                    text-transform: uppercase;
                }
            }

            .wpcf7 {
                transform: translate3d(0,0,0);
                transition:transform 0.6s cubic-bezier(.66,.01,.29,1.22);
            }
        }

        .contact-form-activator {
            transform: translate3d(0, 300%, 0);
            transition:transform 0.6s cubic-bezier(.62,-0.16,.28,.92);
        }
    }

    .col-inner{
        @media(max-width: $screen-xs-max){
            padding:0;
        }
    }

    .col-inner, .map-row .et_pb_code, .acf-map{
        height: 100%;
        width: 100%;
    }

    .acf-map-zoom-overlay{
        height: 200%;
        width: 200%;
        transform:translate3d(-25%, -25%, 0) scale(1);
        transition:transform 0.5s;
        // TEMP
        display:none;
    }

    .map-row{
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
    }

    .map-row{
        z-index:0;
    }

    .contact-form-row{
        position:relative;
        height:auto;
        padding-top:120px;
        transform-origin: left bottom;
        visibility:hidden;
        opacity:0;
        transition: opacity 0.5s linear 0.5s, visibility 0.5s linear 0.5s;

        @media(max-width: $screen-xs-max){
            padding-top:55px;
        }

        .btn-close{
            right: -25px;
            transform: translateY(-50%);

            @media(max-width: $screen-xs-max){
                right: -5px;
            }
        }

        .et_pb_column{
            display:table;
        }

        .col-inner{
            display:table-cell;
            vertical-align: middle;
        }

        form{
            position:relative;
            z-index:11;

            h4,
            div,
            p{
                opacity:0;
                visibility:hidden;
                transition:opacity 0.5s ease, visibility 0.5s;
            }

        }

        h4{
            text-align: center;

            &:after{
                content: "";
                display: block;
                @include rempx(margin, 3rem auto);
                @include rempx(width, 5rem);
                height: 1px;
                background-color: #000;
                opacity: 0.4;
                @media(max-width: $screen-xs-max){
                    @include rempx(margin, 1.5rem auto);
                }
            }
        }
    }

    .et_pb_button_module_wrapper{
        display:inline-block;
    }

    .contact-form-activator{
        position:absolute;
        bottom:50px;
        left:50px;
        width:auto;
        height:auto;
        transform: translate3d(0,0,0);
        transition:transform 0.6s cubic-bezier(.66,.01,.29,1.22);
        z-index:99;
        @media (max-width: $screen-xs-max) {
            left:30px;
        }
        a{
            display: inline-block;
            @include rempx(font-size, 5rem);
            @include rempx(padding, 1.5rem 2.5rem);
            line-height: 1;
            background-color: #fff;
            color:rgba(#000, 0.8);
            cursor:pointer;
            /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
            transition: color 0.3s linear, transform 0.5s ease, box-shadow 0.3s;
            &:hover{
                /*                box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);*/
                transform: scale(1.02);
                color:rgba(#000 , 0.9);
            }
        }
    }

    .wpcf7 {
        position:relative;
        @include rempx(padding-right, 5rem);
        @include rempx(padding-left, 5rem);
        transform: translate3d(0, 150%, 0);
        transition:transform 0.6s cubic-bezier(.62,-0.16,.28,.92);
        @media(max-width: $screen-xs-max){
            padding:20px;
        }
    }

    .et_pb_map_container {
        height:100%;
        .et_pb_map{
            height:100%;
        }
    }

    // ------ WAYPOINTS
    .gm-style-iw{
        padding:10px;
        h4{
            @include rempx(font-size, 1.6rem);
        }
        p{
            font-style: normal;
            padding-bottom:0;
        }
        .btn-std{
            display:inline-block;
            background-color: #000;
            margin-top: 10px;
            border:1px solid #000;
            @include rempx(font-size, 1rem);
            &:hover{
                background-color: #fff;
                color:#000;
            }
        }
    }
}

.info-section {
    .et_pb_row{
        max-width: 1000px;
        @media (max-width: $divi-sm){
            padding-bottom: 0;
        }
    }

    .et_pb_column_1_3{
        @media (max-width: $divi-sm){
            width: 33.33% !important;
        }

        @media (max-width: $screen-xs-max){
            width: 100% !important;
        }
    }

    .et_pb_text {
        text-align: center;

        h3 {
            line-height: 33px;
            padding-bottom: 5px;
            @media (max-width: $divi-sm){
                padding-bottom: 5px;
            }
        }

        p {
            color:$mild-black;
            font-style: normal;

            a {
                color:$mild-black;
                &:hover{
                    color:$mild-black;
                    cursor:pointer;
                }
            }
        }

        &.info-center {
            strong{
                color: #000;
            }
            a {
                color: #000;

                &:hover{
                    color: #000;
                    cursor: pointer;
                }
            }
        }
    }
}

#clocks-section{
    padding:0;
    text-align: center;
    .et_pb_row{
        padding-right:1%;
        padding-left:1%;
        @media(max-width: $divi-sm){
            padding-right: 30px;
            padding-left: 30px;
        }
    }

    .et_pb_column_1_2{
        width:48%;
        margin-right:1%;
        margin-left:1%;
        @include rempx(padding, 3rem);
        background-color: #fff;
        @media(max-width: $divi-sm){
            margin-left:0;
            margin-right:0;
            margin-bottom: 30px;
        }
    }

    .address, .tel, .email{
        text-align: center;
    }

    .address{
        @include rempx(margin-bottom, 2.5rem);
    }

    .ion{
        @include rempx(font-size, 3rem);
        margin-right: 10px;
    }
    .tel .ion{
        transform: translate3d(0, 5px, 0);
    }

    .email .ion{
        transform: translate3d(0, 7px, 0);
    }

    .tel, .email{
        @include rempx(margin-bottom, 1rem);
        p{
            opacity:1;
        }

        a{
            display: inline-block;
            color:#000;
        }
    }

    h3{
        @include rempx(margin-bottom, 1.5rem);
    }
    p{
        font-family: $quicksand;
        font-weight: 600;
        opacity:0.55;
        font-style: normal;
    }

    .et_pb_button_module_wrapper{
        text-align: center;
        .et_pb_button{
            @include rempx(margin-top, 3rem);
            @include rempx(padding-left, 5rem);
            @include rempx(padding-right, 5rem);
            @include rempx(font-size, 1.2rem);
            color:#000;
            letter-spacing: 3.5px;
            border-width: 1px;
            border-color:#000;
        }
    }

    // ---------- CLOCKS
    .clock{
        position:relative;
        width:100px;
        height:100px;
        display: inline-block;
        border-radius: 50%;
        background-color:#000;
        span{
            display:block;
        }
        &:after {
            background: #fff;
            border-radius: 50%;
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 6%;
            height: 6%;
            z-index: 10;
        }
    }

    .minutes-container, .hours-container, .seconds-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .hours-container {
        animation: rotate 43200s infinite linear;
    }

    .linear {
        .minutes-container {
            animation: rotate 3600s infinite linear;
        }
        .seconds-container {
            animation: rotate 60s infinite linear;
        }
    }

    .steps {
        .minutes-container {
            animation: rotate 3600s infinite steps(60);
        }
        .seconds-container {
            animation: rotate 60s infinite steps(60);
        }
    }

    .local.steps {
        .minutes-container {
            animation: none;
        }
    }

    .bounce {
        .minutes-container {
            transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44);
        }
        .seconds-container {
            transition: transform 0.2s cubic-bezier(.4,2.08,.55,.44);
        }
    }

    .hours {
        background: #fff;
        width: 3.5%;
        height: 40%;
        position: absolute;
        left: 48.25%;
        top: 22%;
        transform-origin: 50% 71%;
    }

    .minutes {
        background: #fff;
        width: 3.5%;
        height: 50%;
        position: absolute;
        left: 48.25%;
        top: 7%;
        transform-origin: 50% 88%;
    }

    .seconds {
        background: red;
        width: 1.5%;
        height: 42%;
        position: absolute;
        left: 49.25%;
        top: 20%;
        transform-origin: 50% 71%;
        z-index: 8;
    }

    @keyframes rotate {
        100% {
            transform: rotateZ(360deg);
        }
    }

    .hours.angled {
        transform: rotateZ(-40deg);
    }

    .minutes.angled {
        transform: rotateZ(40deg);
    }
}

.page-template-default .work-with-us-section {
    position:relative;
    @include rempx(padding, 15rem 0 8rem 0);
    @include rempx(padding-right, 6.5rem);
    background-image: url('../images/job-section.jpg')!important;

    @media(max-width: $screen-sm-max){
        @include rempx(padding, 4rem 0);
    }

    &:before{
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color: rgba(0,0,0,0.6);
    }

    .title-row{
        h1,
        h2,
        h3,
        h4,
        h5{
            @include rempx(font-size, 3rem);
            color:#fff;
            text-align:center;
            &:after{
                content:"";
                display:block;
                position:relative;
                height:2px;
                width:30px;
                margin-right: auto;
                margin-left:auto;
                @include rempx(margin-top, 3rem);
                @include rempx(margin-bottom, 3rem);
                background-color: rgba(#fff, 0.8);
                margin-bottom: 0;
            }
        }
    }

    .jobs-row{
        padding-top: 0;
        text-align: center;

        .job-trigger-wrapper{
            height: 100%;
            position:relative;
            overflow: hidden;
            text-align: center;
            @include rempx(padding, 5rem 3rem 10rem 3rem);
            background-color: #fff;

            @media(max-width: $screen-xs-max){
                @include rempx(padding, 5rem 2.5rem 10rem 2.5rem);
            }

            .long-description{
                display: none;
            }

            .job-form-activator {
                position: absolute;
                bottom: 5rem;
                left: 50%;
                transform: translate(-50%, 0);

                @extend .et_pb_button;

                &:before {
                    display: none;
                }
            }

            .job-form-activator:hover, .job-form-activator:focus {
                background-color: $brand;
                color: #ffffff;
                letter-spacing: 0;
            }
        }

        h4{
            @include rempx(margin-bottom, 3rem);
            @include rempx(font-size, 2rem);
            color: $brand;
        }

        p{
            @include rempx(padding, 0 3rem);
            font-family: $quicksand;
            font-style: normal;
            @include rempx(font-size, 1.6rem);
            color:#000;
            font-weight: 500;
            opacity: 1;
            line-height: 2;
            margin-bottom: 50px;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .job-form-container{
        position:absolute;
        top:100%;
        margin-top:50px;
    }

    .single-job{
        @include rempx(margin-bottom, 3rem);
    }
}

.lavora-con-noi,
.work-with-us {
    .fillable {
        fill: #fff;
    }
}

#job-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    width:85%;
    max-width: 900px;
    max-height: 90%;
    overflow-y:auto;
    overflow-x:hidden;
    opacity:0;
    visibility: hidden;
    background-color: #fff;
    transform: translate3d(-50%, -25%, 0 );
    z-index: 999;
    transition: transform 0.6s ease, opacity 0.2s linear 0.1s, visibility 0.2s linear 0.1s;

    @media(max-width: $screen-xs-max){
        margin-top:55px;
        max-height: 80%;
    }

    &.active{
        opacity:1;
        visibility: visible;
        transform: translate3d(-50%, -50%, 0 );
    }

    .btn-close{
        top:0;
        right:2rem;
        z-index:99;
    }

    .job-form-container{
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;

        h4{
            @include rempx(margin-top, 3rem);
            text-align: center;
        }
    }

    ul {
        list-style: initial;
        text-align: left;
        margin: 10px 0;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .job-meta{
        @include rempx(margin-top, 8rem);
        @include rempx(padding, 0 8rem);
        text-align: center;
        @media (max-width: $screen-xs-max){
            @include rempx(padding, 3rem);
            margin-top: 15px;
        }

        p{
            @include rempx(font-size, 1.4rem);
        }
        .long-description{
            h5{
                @include rempx(margin-top, 3rem);
            }
        }
    }

    .contact{
        float:none;
        display:block;
        width:100%;
    }
    span.cv input{
        border:0;
    }

    .wpcf7{
        max-width: 100%;
        display:block;
        margin:0;
        @include rempx(padding, 3rem 7rem);
        @media (max-width: $screen-xs-max){
            @include rempx(padding, 1rem 3rem);
        }
    }
    #form-submit{
        @include rempx(margin-top, 5rem);
        @include rempx(margin-bottom, 3rem);
        @media(max-width: $screen-xs-max){
            margin-bottom: 0;
        }
    }
}

#welcome-privacy{
    height: 60%;
    height:60vh;
}

// ----------------- ABOUT PAGE

#welcome-about{
}

#about-timeline{
    position:relative;
    &:before{
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color: $light-gray;
    }
}

.timeline-module{
    position:relative;
    color:#fff;

    & > .container{
        @include rempx(padding, 12rem 8rem);
        max-width: 1080px;

        @media (max-width: $screen-sm-max){
            width:100%;
        }

        @media (max-width: $screen-xs-max){
            @include rempx(padding, 8rem 0rem);
        }
    }

    .time-wrapper{
        position:absolute;
        top:0;
        left:50%;
        width:8px;
        height:100%;
        transform: translate3d(-4px,0,0);
        border-radius: 10px;
        overflow:hidden;

        @media(max-width: $screen-xs-max) {
            left: 0;
        }

        .time-flow{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background-color: rgba($brand, 1);
            border-radius: 10px;
        }

        &.time-has-flown{
            .time-flow{
                transform: translate3d(0,0,0)!important;
            }
        }
    }

    .moment {
        @media (min-width: $screen-sm-min){
            margin-top: -10%;

            &:first-of-type {
                margin-top: 0;
            }
        }

        img {
            margin: 3rem 0;
        }

        .et_pb_button {
            min-width: 1px;
            max-width: none;
        }
    }

    h4{
        font-size: 2rem;
        color: $brand;
        text-transform: uppercase;
    }

    p{
        color: $blackish;
        @media(max-width: $screen-xxs-max){
            font-size: 1.2rem;
        }
    }

    .moment-left{
        text-align: left;

        .pin{
            right: 1.5rem;

            @media (max-width: $screen-xs-max){
                right: auto;
                left: 0;
            }
        }

        .line{
            right: 2rem;
            transform-origin: right;
            transform: scale(0.6);

            @media (max-width: $screen-xs-max){
                right: auto;
                left: 3rem;
                transform-origin: left;
            }
        }

        .timeline-graphics-wrapper{
            @media (max-width: $screen-xs-max){
                right: 0;
            }
        }
    }

    .moment-right{
        text-align: right;

        .pin {
            left: 0;
        }

        .line {
            left: 2rem;
            transform-origin: left;
            transform: scale(0.55);
            @media (max-width: $screen-xs-max){
                left: 3rem;
            }
        }

        .timeline-graphics-wrapper{
            width: 40%;

            @media (max-width: $screen-xs-max){
                left: 0;
            }

        }
    }

    .pin{
        position: absolute;
        top: 50%;

        &:before {
            @extend .hexagon;
            display:inline-block;
            color: $brand;
            font-size: 1.5rem;
            line-height: 1;
            margin-top: -.4em;
        }

        @media (max-width: $screen-xs-max){
            top:100%;
        }
    }

    .line{
        position:absolute;
        height:2px;
        width:100%;
        top:50%;
        background-color: $brand;

        @media(max-width: $screen-xs-max){
            top:100%;
        }
    }

    .long-moment{
        .pin{
            top:100%;
        }

        &.moment-left{
            .line{
                right:6px;
                transform: scale(0.6);
            }
        }

        &.moment-right{
            .line{
                left:6px;
                transform: scale(0.6);
            }

            .extra-line{
                position:absolute;
                left:5px;
                bottom:0;
                width:2px;
                height:70%;
                background-color: $gray-time;
                transform-origin: bottom;

                @media(max-width: $screen-xs-max){
                    display:none;
                }
            }
        }
    }

    .timeline-graphics-wrapper{
        position:relative;
        width: 60%;
        padding: 0 5%;

        @media (max-width: $screen-sm-max){
            width:40%;
        }

        @media (max-width: $screen-xs-max){
            display:block;
            position:absolute;
            bottom: -3rem;
            padding: 0;
            width:100%;
        }
    }

    .moment-meta{
        width: 60%;
        padding: 3rem;
        background-color: #fff;
        text-align: center;

        @media (max-width: $screen-sm-max){
            width:40%;
        }

        @media (max-width: $screen-xs-max){
            display: block;
            width: 92.333%;
            margin-left: 8.333%;
        }
    }
}

// ----------------- ANIMATED SVG SLIDER

#svg-slider{
    padding: 0;

    .et_pb_row {
        padding: 0;
    }

    .btn-std{
        border:1px solid #000;
        &:hover{
            color:#000;
            background-color:#fff;
        }
    }

    .row {
        height: 500px;

        & > div{
            height: 100%;
        }
    }

    .svg-wrapper {
        overflow: hidden;
        background-color: $b-gray;
    }

    .svg-inner {
        text-align: center;

        svg {
            position: relative;
            margin-top: -240px;
            transform: scale(1.3);
        }
    }

    .hidden-fill {
        -webkit-fill: #000;
        fill: #000;
        y: 136px;
        transition: y 0.8s ease-out, fill 0.8s;
    }

    #step-7{
        .hidden-fill{
            y: 0;
            fill: #6D6E71;
            transition: y 0.8s ease-out, fill 0.8s;
        }
        &.active{
            .hidden-fill {
                fill: #000;
            }
        }
    }

    #structure{
        transition: fill 0.8s;
        &.active{
            fill:#000;
        }
    }

    #connection-rect{
        transition:fill 0.8s;
    }

    .step-number text {
        font-family: $muli;
        font-size: 18px;
        font-weight: normal;
        opacity:0;
        transform: translateY(15px);
    }

    .active {
        .step-number {
            text {
                transform: translateY(0);
                opacity: 1;
                transition: opacity 0.5s linear 0.2s, transform 0.6s ease-out 0.1s;
            }
        }
    }

    .abstracts-wrapper, .slides-wrapper {
        position:relative;
        margin:0 auto;
        width:100%;
        text-align: center;
    }

    .abstracts-wrapper{
        margin-top: 80px;
        @include rempx(max-width, 50rem);
        @media (max-width: $screen-xs-max){
            display: none;
        }
    }

    .slides-wrapper {
        min-height: 400px;
        @include rempx(max-width, 55rem);

        @media(max-width: 768px){
            min-height: 300px;
        }
    }

    .principle-slide {
        position:absolute;
        @include rempx(top, 3rem);
        left:0;
        width:100%;
        opacity:0;
        visibility:hidden;
        transform:translateY(20%);

        h4{
            text-transform: uppercase;
        }

        &.active {
            opacity:1;
            visibility:visible;
            transform:translateY(0);
            transition: transform 0.8s ease-out, opacity 0.4s linear 0.3s, visibility 0.4s linear 0.3s;
        }

        &.deactivating {
            opacity:0;
            visibility:hidden;
            transform:translateY(-10%);
            transition: transform 0.5s ease-out, opacity 0.3s linear 0s, visibility 0.3s linear 0s;
        }

        .with-after {
            &:after {
                margin-left:auto;
                margin-right:auto;
            }
        }
    }

    .abstract {
        position:absolute;
        @include rempx(top, 3rem);
        width:100%;
        opacity:0.7;
        @include rempx(font-size, 2.2rem);
        font-family: $muli;
        font-style: normal;
        letter-spacing: 2px;
    }

    .slide-num {
        font-family: $muli;
        @include rempx(font-size, 6rem);
        color:rgba($blackish, 0.4);
    }
}

.chart-text-outside {
    display: block;
    opacity: 0;
    transform: translateY(-15px);
    transition: opacity .6s ease, transform .8s ease;
    transition-delay: .08s;

    &.chart-text-center {
        transition-delay: 1.7s;
    }
}

.chart-text-outside, .chart-text-inside {
    font-family: $quicksand;
    fill: $whitish;
}

.animated-line {
    stroke: rgba(#fff, .7);
    fill: transparent;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: stroke-dashoffset 1.8s linear, opacity 1s ease;
    opacity: 0;
    transition-delay: 0s;

    &.center {
        stroke-dasharray: -1000;
        stroke-dashoffset: -1000;
        transition-delay: .1s;
    }
}

.chart-column-left {
    &.chart-el-top {
        transition-delay: 0s;
    }

    &.chart-el-middle {
        transition-delay: .6s;
    }

    &.chart-el-bottom {
        transition-delay: 1s;
    }
}

.chart-column-right {
    &.chart-el-top {
        transition-delay: .4s;
    }

    &.chart-el-middle {
        transition-delay: .8s;
    }

    &.chart-el-bottom {
        transition-delay: 1.2s;
    }
}

.chart-text-outside {
    @include rempx(font-size, 1.3rem);
    font-weight: 700;
    text-transform: uppercase;
}

.chart-text-inside {
    font-size: 6px;
}

#trash-can {
    transform: translateY(-15px);
    transition: transform 1s ease-out;

    tspan {
        text-transform: uppercase;
        font-weight: 700;
    }

}

#trash-can-border {
    opacity: .3;
    transform: scale(1.2);
    transform-origin: center;
    transition: opacity 1s ease, transform 1s ease-out;
}

#spdca-4d {
    .et_pb_column_1_2 {
        @media (max-width: $screen-xs-max) {
            @include rempx(margin-top, 9rem);

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .et_pb_column {
        @media (max-width: $screen-sm-max) {
            width: 50% !important;
        }

        @media (max-width: $screen-xs-max) {
            width: 100% !important;
        }
    }

    .btn-std{
        border:1px solid #000;
        &:hover{
            background-color: #fff;
            color:#000;
        }
    }
}

.page-loaded {
    .animated-line {
        opacity: 1;
        stroke-dashoffset: 0 !important;
    }

    .chart-text-outside {
        opacity: 1;
        transform: translateY(0px);
    }

    #trash-can {
        transform: translateY(0);
    }

    #trash-can-border {
        opacity: 1;
        transform: scale(1);
    }

}


#improvement-module{
    padding:30px;
    margin:0 auto;
    max-width:800px;

    svg{
        min-height: 500px;
    }

    @media(max-width:$screen-xs-max){
        padding: 30px 15px;

        svg{
            min-height: 400px;
        }
    }

    .svg-i {
        &:hover {
            cursor: pointer;
        }
    }
}

#improvement-section {

    #arrow-improvement {
        transform: scale(0);
        opacity: 0;
        transform-origin: left bottom;
        transition: transform 1s, opacity 1s ease .1s;
    }

    .svg-i, .house {
        transform: translateY(50px);
        opacity: 0;
        transition: opacity 1s, transform 1s;
    }

    &.fly-in {

        #arrow-improvement {
            transform: scale(1);
            opacity: 1;
        }

        #improvement-svg-copy {

            .house , .svg-i {
                opacity: 1;
                transform: translateY(0);
            }

            & > g {

                &:nth-child(5){
                    .house {
                        transition-delay: .2s;
                    }

                    .svg-i {
                        transition-delay: .4s;
                    }
                }

                &:nth-child(4){
                    .house {
                        transition-delay: .4s;
                    }

                    .svg-i {
                        transition-delay: .6s;
                    }
                }

                &:nth-child(3){
                    .house {
                        transition-delay: .6s;
                    }

                    .svg-i {
                        transition-delay: .8s;
                    }
                }

                &:nth-child(6){
                    .house {
                        transition-delay: .8s;
                    }

                    .svg-i {
                        transition-delay: 1s;
                    }
                }
            }
        }
    }
}

#examples-feed {

    h3 {
        color: $brand;

        &:after {
            content: "";
            display: block;
            width: 3rem;
            height: 3px;
            margin: 0 auto 1.5rem auto;
            background-color: $brand;
            opacity: .5;

            @media (min-width: $screen-sm-min){
                margin: 0 0 1.5rem 0;
            }
        }
    }

    .example-context {
        margin-bottom: 3rem;

        @media (min-width: $screen-sm-min) {
            margin-bottom: 10rem;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .example-row {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .example-block {
        @extend .bg-gray;

        @media (min-width: $screen-sm-min) {
            padding: 10rem 0;
        }

        .img-wrapper {
            margin-bottom: 3rem;
        }
    }

    .example-content {
        padding: 2rem 3rem;
    }

    .example-cols {
        .example-row {
            @extend .flex;
        }

        &:nth-child(even) {
            .example-row {
                flex-direction: row-reverse;
            }

            .example-col-content {
                .example-content {
                    @media (min-width: $screen-sm-min){
                        padding-left: 0;
                    }
                }
            }
        }

        &:nth-child(odd) {
            .example-col-content {
                .example-content {
                    @media (min-width: $screen-sm-min){
                        padding-right: 0;
                    }
                }
            }
        }

        .example-col-content,
        .example-col-img {
            position: relative;

            @media (min-width: $screen-sm-min){
                float: left;
                width: 60%;
            }
        }

        .example-col-content {
            @media (min-width: $screen-sm-min){
                width: 40%;
            }
        }

        .example-content {
            @media (min-width: $screen-sm-min){
                padding: 5rem;
            }
        }
    }
}

#companies-list {
    padding-bottom: 0;

    @media (max-width: $screen-xs-max){
        padding: 0;
    }

    .et_pb_row {
        padding-bottom: 0;
    }
}

.empty-scheme-section {
    background-color: $light-gray;

    h4 {
        color: $brand;
    }

    svg {
        display: block;
        width: 650px;
        height: auto;
        margin: 5rem auto;
        max-width: 100%;
    }
}

.half-scheme-section {
    svg {
        display: block;
        width: 600px;
        height: auto;
        margin: 5rem auto;
        max-width: 100%;
    }

    .et_pb_equal_columns {
        align-items: center;

        .col-inner {
            @media (min-width: $screen-sm-min){
                padding-left: 3rem;
            }
        }
    }
}

.full-scheme-section {
    background-color: $light-gray;

    svg {
        display: block;
        width: 600px;
        height: auto;
        margin: 5rem auto;
        max-width: 100%;
    }

    .et_pb_equal_columns {
        flex-direction: row-reverse;
        align-items: center;

        .col-inner {
            @media (min-width: $screen-sm-min){
                padding-left: 3rem;
            }
        }
    }
}

.resonant-path-scheme {
    position: relative;

    @media (max-width: $screen-xs-max) {
        padding: 0 1.5rem!important;
    }

    rect {
        stroke: none;
    }

    svg {
        width: 100%;
        max-width: 100%;
        height: auto;

        @media (max-width: $screen-xs-max){
            /*height: 400px;
            width: auto;*/
            max-width: none;
            width: 100%;
            height: auto;
        }
    }

    .et_pb_code_inner {
        /*padding: 8rem 0;*/

        @media (max-width: $screen-xs-max){
            // SCROLLBAR STYLES
            &::-webkit-scrollbar-button {
                display: none;
                height: 3px;
                border-radius: 0px;
                background-color: $brand;
            }

            &::-webkit-scrollbar-button:hover {
                background-color: $brand;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $brand;
                border-radius: 5px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: #000000;
                border-radius: 5px;
            }

            &::-webkit-scrollbar-track {
                background-color: #efefef;
                border-radius: 5px;
            }

            &::-webkit-scrollbar-track:hover {
                background-color: #e4e4e4;
            }

            &::-webkit-scrollbar {
                height: 3px;
            }
        }
    }

    .clickable-area {
        pointer-events: all;

        &:hover,
        &:focus,
        &:active {
            cursor: pointer;
        }
    }

    .tutorial {
        display: none;
        @extend .aux;
        padding: 4rem 0;
        background-color: $brand;
        color: #fff;
        opacity: .95;
        text-align: center;
        transition: opacity .5s linear, visibility .5s linear;
        @media (min-width: $screen-md-min) {
            display: none;
        }

        &.disappear {
            opacity: 0;
            visibility: hidden;
        }

        .et_pb_button {
            display: inline-block;
            margin-top: 3rem;
            border-color: #fff;
            color: #fff;
            overflow: hidden;
        }

        .button-wrapper{
            text-align: center;
        }
    }

    .tutorial-inner {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;

        @media (max-width: $screen-xs-max){
            width: 90%;
        }
    }

    .click,
    .slide {
        display: inline-block;
        width: auto;
        font-size: 1.3rem;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .slide {
        @media (min-width: $screen-md-min){
            display: none;
        }
    }

    $iconSize : 4;

    .single-tut {
        margin-bottom: 1.5rem;

        & > span {
            position: relative;
            padding-left: 8rem;
            line-height: #{$iconSize}rem;
        }
    }

    .click-icon-wrap,
    .slide-icon-wrap {
        position: absolute;
        left: 0;
        top: 0;
        height: #{$iconSize}rem;
        width: #{$iconSize}rem;
        margin: 0 1.5rem;
        margin-right: 3rem;
    }

    .click-echo {
        @extend .aux;
        border-radius: 50%;
        border: 2px solid rgba(#fff, .2);
        animation-name: tapEcho;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }

    .click-tap {
        @extend .aux;
        border-radius: 50%;
        animation-name: tap;
        animation-duration: 1.5s;
        background-color: rgba(#fff, .4);
        animation-iteration-count: infinite;
    }

    .slide-icon-wrap {
        &::after {
            content: "";
            @extend .aux;
            background-color: #fff;
            transform: scale( 1, .8);
        }
    }

    .slide-tap {
        @extend .aux;
        background-color: rgba(#fff, .4);
        transform: translateX(25%) scale( 1.5, .8);
        animation-name: scrollLeft;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    .slide-echo {
        @extend .aux;
        border: 2px solid rgba(#fff, .2);
    }
}

.popper {
    margin: 10px;
}

.popper-text {
    display: inline-block;
    font-size: 1.6rem;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: -2px 3px 5px 1px rgba(#000, .1);
}

[x-arrow]{
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #fff;
    position: absolute;
    margin: 5px;
}

.popper[x-placement^="left"] [x-arrow] {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.popper[x-placement^="top"] [x-arrow] {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.popper[x-placement^="right"] [x-arrow]{
    border-width: 5px 5px 5px 0;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.popper[x-placement^="bottom"] [x-arrow]{
    border-width: 0 5px 5px 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

