$hexHeight: 15px;

$medColor: lighten($brand, 10%);
$bigColor: $brand;

.hexagon {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  text-align: center;
  transition: transform .45s $cubic;
}

#fp-nav.left {
  left: 10rem;
  margin-top: 0!important;
  transform: translateY(-50%);
  z-index: 1;

  @media (max-width: 980px) {
    left: 5rem;
  }

  ul {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -1px;
      width: 2px;
      height: 100%;
      background-color: $brand;
      z-index: -1;
    }

    li {
      margin-top: 0;
      margin-bottom: 8rem;
      width: auto;
      height: auto;
      padding: 0;

      &:hover {
        a.active span {
          margin: 0;
        }

        a {
          margin: 0;

          span {
            width: 100%;
            height: 100%;
          }
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      a, a.active {
        &:hover {
          &:before {
            transform: scale(4);
          }

          &:after {
            transform: scale(3);
          }

          span:before {
            transform: scale(1.5);
          }
        }
      }

      a {
        position: relative;
        height: $hexHeight;
        width: $hexHeight;

        &:before {
          @extend .hexagon;
          background-color: $bigColor;
          transition-delay: .12s;
        }

        &:after {
          @extend .hexagon;
          background-color: $medColor;
          transition-delay: .08s;
        }

        span {
          height: auto;
          width: auto;
          margin: 0;

          &:before {
            transform: scale(.5) translate(0, -3%);
            transition-delay: 0s;
          }
        }

        &.active {
          &:before {
            transform: scale(3);
          }

          &:after {
            transform: scale(2);
          }

          span:before {
            transform: scale(1.05);
          }
        }
      }

      span {
        top: 0;
        left: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        background-color: transparent;

        &:before {
          @extend .hexagon;
          position: relative;
          background-color: lighten($brand, 30%);
        }
      }

      &:nth-child(2) {
        a {
          &:before {
            background-color: $medColor;
          }

          &:after {
            background-color: lighten($brand, 30%);
          }
        }

        span:before {
          background-color: $bigColor;
        }
      }

      &:nth-child(3) {
        a {
          &:before {
            background-color: $brand;
          }

          &:after {
            background-color: lighten($brand, 30%);
          }
        }

        span:before {
          background-color: $medColor;
        }
      }
    }
  }
}