// ---------------- EDGE FIXES
.unknown{
    #svg-slider{
        .hidden-fill {
            y: 0;
            fill: #6D6E71;
            transition: fill 0.35s;
        }
        .step{
            &.active{
                .hidden-fill {
                    fill: #000;
                    transition: fill 0.35s;
                }
            }
        }
    }

    .full-overlay{
        transition:none;
    }

    #popup-clt, #spdca-4d{
        .fly-in{
            #svg-spdca{
                transform:none;
            }
            #arrow-demand, #arrow-development, #arrow-delivery {
animation-name: none;
            }
        }
    }
}
