// ---------------- GECKO FIXES
.gecko{

    #tensione-pressione{
        .sprite-icon{
            margin-top:150px;
            height:70px;
            animation-name:none;
        }
    }

    #svg-slider{
        .hidden-fill {
            y: 0;
            fill: #6D6E71;
            transition: fill 0.35s;
        }
        .step{
            &.active{
                .hidden-fill {
                    fill: #000;
                    transition: fill 0.35s;
                }
            }
        }
    }
}
