/**
 ** IE FIXES
 **/
.ie{
    #svg-slider{
        .hidden-fill {
            y: 0;
            fill: #6D6E71;
            transition: fill 0.35s;
        }
        .step{
            &.active{
                .hidden-fill {
                    fill: #000;
                    transition: fill 0.35s;
                }
            }
        }
    }

    #examples-slider, #training-center-slider{
        .vertical{
            display:block;

            .vertical-middle{
                display:block;
            }
        }
    }

    #examples-slider {
        img{
            position:relative;
            top:50%;
            margin-top:-50%;
        }
    }

    .hr-slide{
        &.process-slide-3, &.process-slide-4, &.process-slide-5, &.process-slide-6{
            svg {
                height: 250px;
            }

        }

        &.process-slide-7{
            svg {
                height: 450px;
            }

        }

        &.skill-path {
            svg {
                height: 450px;
            }

        }
    }

    @media (max-height: 800px){
        .page-template-processes .process-slide .room-for-title, .page-template-processes-final .process-slide .room-for-title{
            margin-top: 90px;

            .vertical-middle, .vertical {
                display: block;
            }

        }
    }
}
