.safari {
    #continuous-improvement {
        transform: translateY(25px);
    }

    .animated-line {
        &.center {
            stroke-dasharray: 0;
            stroke-dashoffset: 0;
        }
    }

    .chart-column-left {
        &.chart-el-bottom {
            transition-delay: 0;
        }

        &.chart-el-top {
            transition-delay: 1s;
        }
    }

    .chart-column-right {
        &.chart-el-bottom {
            transition-delay: .4s;
        }

        &.chart-el-top {
            transition-delay: 1.2s;
        }
    }

    .chart-text-outside.chart-text-center {
        transition-delay: 0s
    }
}
