@mixin barGradient($color){
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+70,0+100 */
  background: -moz-linear-gradient(left, rgba($color,1) 0%, rgba($color,1) 70%, rgba($color,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba($color,1) 0%,rgba($color,1) 70%,rgba($color,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba($color,1) 0%,rgba($color,1) 70%,rgba($color,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

// OVERFLOWING BAR
.overflowing-bar {
  position: relative;

  &:before, &:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 50px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s linear, visibility .3s linear;
    z-index: 10;

    @include barGradient(#fff);
  }

  &:before{
    left: 0;
  }

  &:after {
    right: 0;
    transform: rotate(180deg);
    opacity: 1;
    visibility: visible;
  }

  &.scrolling {
    &:before, &:after {
      opacity: 1;
      visibility: visible;
    }
  }

  &.scrolled {
    &:before {
      opacity: 1;
      visibility: visible;
    }

    &:after {
      opacity: 0;
      visibility: hidden;
    }
  }

  .overflowing-inner {
    margin-bottom: 30px;
    overflow-x: scroll;
    overflow-y: visible;
    white-space: nowrap;
  }
}